[2021-07-19 13:26] courtmckay commented on #2641
Thank you! I've been trying periodically for the past month, and no luck yet with this particular dataset. Just tried again and still hitting the checksum error.

Code:

`dataset = load_dataset("financial_phrasebank", "sentences_allagree") `

Traceback:

[code]

[2021-07-19 17:31] cakiki commented on #2607
Sorry for reopening this, but I'm having the same issue as @thomwolf when streaming a gzipped JSON Lines file from the hub. Or is that just not possible by definition?
I installed `datasests`in editable mode from source (so probably includes the fix from #2608 ?):
[code]

[code]

Loading the dataset without streaming set to True, works fine.

[2021-07-20 08:37] Aktsvigun opened #2677 "Error when downloading C4"
Hi,
I am trying to download `en` corpus from C4 dataset. However, I get an error caused by validation files download (see image). My code is very primitive:
`datasets.load_dataset('c4', 'en')`

Is this a bug or do I have some configurations missing on my server?
Thanks!

<img width="1014" alt="Снимок экрана 2021-07-20 в 11 37 17" src="https://user-images.githubusercontent.com/36672861/126289448-6e

[2021-07-20 08:51] lhoestq commented on #2607
Hi ! To make the streaming work, we extend `open` in the dataset builder to work with urls.

Therefore you just need to use `open` before using `gzip.open`:
[code]

You can see that it is the case for oscar.py and c4.py for example:

https://github.com/huggingface/datasets/blob/8814b393984c1c2e1800ba370de2a9f7c8644908/datasets/oscar/oscar.py#L358-L358

https://github.com/huggingface/datasets/blob/

[2021-07-20 09:28] prikmm opened #2678 "Import Error in Kaggle notebook"
## Describe the bug
Not able to import datasets library in kaggle notebooks

## Steps to reproduce the bug
[code]

## Expected results
No such error

## Actual results
[code]

## Environment info

- `datasets` version: 1.9.0
- Platform: Kaggle
- Python version: 3.7.10
- PyArrow version: 4.0.1

[2021-07-20 09:50] cakiki commented on #2607
@lhoestq Sorry I missed that. Thank you Quentin!

[2021-07-20 10:13] izaskr opened #2679 "Cannot load the blog_authorship_corpus due to codec errors"
## Describe the bug
A codec error is raised while loading the blog_authorship_corpus.

## Steps to reproduce the bug
[code]

## Expected results
Loading the dataset without errors.

## Actual results
An error similar to the one below was raised for (what seems like) every XML file.
/home/izaskr/.cache/huggingface/datasets/downloads/extracted/7cf52524f6517e168604b41c6719292e8f97abbe8f731e638b13423f

[2021-07-20 13:17] albertvillanova commented on #2679
Hi @izaskr, thanks for reporting.

However the traceback you joined does not correspond to the codec error message: it is about other error `NonMatchingSplitsSizesError`. Maybe you missed some important part of your traceback...

I'm going to have a look at the dataset anyway...

[2021-07-20 14:09] lhoestq commented on #2677
Hi Thanks for reporting !
It looks like these files are not correctly reported in the list of expected files to download, let me fix that ;)

[2021-07-20 14:25] severo opened #2681 "5 duplicate datasets"
## Describe the bug

In 5 cases, I could find a dataset on Paperswithcode which references two Hugging Face datasets as dataset loaders. They are:

- https://paperswithcode.com/dataset/multinli -> https://huggingface.co/datasets/multi_nli and https://huggingface.co/datasets/multi_nli_mismatch

  <img width="838" alt="Capture d’écran 2021-07-20 à 16 33 58" src="https://user-images.githubuserconte

[2021-07-20 14:30] lhoestq commented on #2678
This looks like an issue with PyArrow. Did you try reinstalling it ?

[2021-07-20 14:37] lhoestq opened #2683 "Cache directories changed due to recent changes in how config kwargs are handled"
Since #2659 I can see weird cache directory names with hashes in the config id, even though no additional config kwargs are passed. For example:

[code]
This issue could be annoying since it would simply ignore old cache directories for users, and regenerate datasets

cc @stas00 this is what you experienced a few days ago

[2021-07-20 14:38] #2677 closed

[2021-07-20 14:39] lhoestq commented on #2677
Alright this is fixed now. We'll do a new release soon to make the fix available.

In the meantime feel free to simply pass `ignore_verifications=True` to `load_dataset` to skip this error

[2021-07-20 14:41] Aktsvigun commented on #2677
@lhoestq thank you for such a quick feedback!

[2021-07-20 15:05] gurvindersingh commented on #2252
Just want to say that I am seeing the same issue. Dataset size if 268GB and it takes 3 hours to load `load_from_disk`, using dataset version `1.9.0`. Filesystem underneath is `Lustre`

[2021-07-20 15:21] julien-c commented on #2681
Yes this was documented in the PR that added this hf->paperswithcode mapping (https://github.com/huggingface/datasets/pull/2404) and AFAICT those are slightly distinct datasets so I think it's a wontfix

For context on the paperswithcode mapping you can also refer to https://github.com/huggingface/huggingface_hub/pull/43 which contains a lot of background discussion

[2021-07-20 15:44] severo commented on #2681
Thanks for the antecedents. I close.

[2021-07-20 15:44] #2681 closed

[2021-07-20 15:49] albertvillanova commented on #2679
Hi @izaskr, thanks again for having reported this issue.

After investigation, I have created a Pull Request (#2685) to fix several issues with this dataset:
- the `NonMatchingSplitsSizesError`
- the `UnicodeDecodeError`

Once the Pull Request merged into master, you will be able to load this dataset if you install `datasets` from our GitHub repository master branch. Otherwise, you will be able to

[2021-07-20 15:59] prikmm commented on #2678
@lhoestq I did, and then let pip handle the installation in `pip import datasets`. I also tried using conda but it gives the same error.

[2021-07-20 16:27] #2683 closed

[2021-07-20 23:13] eyaler opened #2688 "hebrew language codes he and iw should be treated as aliases"
https://huggingface.co/datasets/mc4 not listed when searching for hebrew datasets (he) as it uses the older language code iw, preventing discoverability.

[2021-07-21 07:30] albertvillanova commented on #2688
Hi @eyaler, thanks for reporting.

While you are true with respect the Hebrew language tag ("iw" is deprecated and "he" is the preferred value), in the "mc4" dataset (which is a derived dataset) we have kept the language tags present in the original dataset: [Google C4](https://www.tensorflow.org/datasets/catalog/c4).

[2021-07-21 08:13] PaulLerner opened #2689 "cannot save the dataset to disk after rename_column"
## Describe the bug
If you use `rename_column` and do no other modification, you will be unable to save the dataset using `save_to_disk`

## Steps to reproduce the bug
[code]

N. B. I created the dataset from dict to enable easy reproduction but the same happens if you load an existing dataset (e.g. starting from `In [8]`)

## Environment info

- `datasets` version: 1.8.0
- Platform: Linux-3.10.0-

[2021-07-21 09:19] lhoestq commented on #2689
Hi ! That's because you are trying to overwrite a file that is already open and being used.
Indeed `foo/dataset.arrow` is open and used by your `dataset` object.

When you do `rename_column`, the resulting dataset reads the data from the same arrow file.
In other cases like when using `map` on the other hand, the resulting dataset reads the data from another arrow file that is the result of the ma

[2021-07-21 12:47] lhoestq commented on #2678
You may need to restart your kaggle notebook before after installing a newer version of `pyarrow`.

If it doesn't work we'll probably have to create an issue on [arrow's JIRA](https://issues.apache.org/jira/projects/ARROW/issues/), and maybe ask kaggle why it could fail

[2021-07-21 12:55] thomasw21 commented on #1856
Same issue today with "big_patent"

[2021-07-21 13:02] prikmm commented on #2678
It works after restarting.
My bad, I forgot to restart the notebook. Sorry for the trouble!

[2021-07-21 13:03] #2678 closed

[2021-07-21 13:11] PaulLerner commented on #2689
Ok, thanks for clearing it up :)

[2021-07-21 13:11] #2689 closed

[2021-07-21 13:11] lhoestq commented on #2688
For discoverability on the website I updated the YAML tags at the top of the mC4 dataset card https://github.com/huggingface/datasets/commit/38288087b1b02f97586e0346e8f28f4960f1fd37

Once the website is updated, mC4 will be listed in https://huggingface.co/datasets?filter=languages:he

[2021-07-21 13:11] #2679 closed

[2021-07-21 14:18] severo opened #2691 "xtreme / pan-x cannot be downloaded"
## Describe the bug

Dataset xtreme / pan-x cannot be loaded

Seems related to https://github.com/huggingface/datasets/pull/2326

## Steps to reproduce the bug

[code]

## Expected results

Load the dataset

## Actual results

[code]

## Environment info

- `datasets` version: 1.9.0
- Platform: macOS-11.4-x86_64-i386-64bit
- Python version: 3.8.11
- PyArrow version: 4.0.1

[2021-07-21 15:52] bayartsogt-ya opened #2695 "Cannot import load_dataset on Colab"
## Describe the bug
Got tqdm concurrent module not found error during importing load_dataset from datasets.

## Steps to reproduce the bug
Here [colab notebook](https://colab.research.google.com/drive/1pErWWnVP4P4mVHjSFUtkePd8Na_Qirg4?usp=sharing) to reproduce the error

On colab:
[code]

## Expected results
Works without error

## Actual results
Specify the actual results or traceback.
[code]
##

[2021-07-21 16:19] phosseini commented on #2695
I'm facing the same issue too on Colab today.

[2021-07-21 16:34] #2688 closed

[2021-07-21 16:44] bayartsogt-ya commented on #2695
@phosseini
I think it is related to [1.10.0](https://github.com/huggingface/datasets/actions/runs/1052653701) release done 3 hours ago. (cc: @lhoestq )
For now I just downgraded to 1.9.0 and it is working fine.

[2021-07-21 17:02] phosseini commented on #2695
Same here, downgraded to 1.9.0 for now and works fine.

[2021-07-21 17:02] timothyjlaurent commented on #2679
@albertvillanova
Can you shed light on how this fix works?

We're experiencing a similar issue.

If we run several runs (eg in a Wandb sweep) the first run "works" but then we get `NonMatchingSplitsSizesError`

| run num | actual train examples # | expected example # | recorded example # |
| ------- | -------------- | ----------------- | -------- |
| 1       | 100            | 100               |

[2021-07-21 17:02] phosseini commented on #2695
Same here, downgraded to 1.9.0 for now and works fine.

[2021-07-21 17:20] mariosasko commented on #2695
Hi,

updating tqdm to the newest version resolves the issue for me. You can do this as follows in Colab:
[code]

[2021-07-21 17:38] bayartsogt-ya commented on #1103
Hey, I think this is great idea. Any plan to integrate kaggle private datasets loading to `datasets`?

[2021-07-22 01:13] eyaler opened #2699 "cannot combine splits merging and streaming?"
this does not work:
`dataset = datasets.load_dataset('mc4','iw',split='train+validation',streaming=True)`
with error:
`ValueError: Bad split: train+validation. Available splits: ['train', 'validation']`

these work:
`dataset = datasets.load_dataset('mc4','iw',split='train+validation')`
`dataset = datasets.load_dataset('mc4','iw',split='train',streaming=True)`
`dataset = datasets.load_dataset('mc4'

[2021-07-22 03:51] kswamy15 opened #2700 "from datasets import Dataset is failing"
## Describe the bug
A clear and concise description of what the bug is.

## Steps to reproduce the bug
[code]

## Expected results
A clear and concise description of the expected results.

## Actual results
Specify the actual results or traceback.
/usr/local/lib/python3.7/dist-packages/datasets/utils/file_utils.py in <module>()
     25 import posixpath
     26 import requests
---> 27 from tqdm.con

[2021-07-22 07:03] albertvillanova commented on #2700
Hi @kswamy15, thanks for reporting.

We are fixing this critical issue and making an urgent patch release of the `datasets` library today.

[2021-07-22 07:04] albertvillanova commented on #2695
Hi @bayartsogt-ya and @phosseini, thanks for reporting.

We are fixing this critical issue and making an urgent patch release of the `datasets` library today.

[2021-07-22 07:09] #2695 closed

[2021-07-22 07:09] #2700 closed

[2021-07-22 07:20] albertvillanova commented on #2691
Hi @severo, thanks for reporting.

However I have not been able to reproduce this issue. Could you please confirm if the problem persists for you?

Maybe Dropbox (where the data source is hosted) was temporarily unavailable when you tried.

[2021-07-22 08:27] lhoestq commented on #2699
Hi ! That's missing indeed. We'll try to implement this for the next version :)

I guess we just need to implement #2564 first, and then we should be able to add support for splits combinations

[2021-07-22 08:38] severo commented on #2691
Hmmm, the file (https://www.dropbox.com/s/dl/12h3qqog6q4bjve/panx_dataset.tar) really seems to be unavailable... I tried from various connexions and machines and got the same 404 error. Maybe the dataset has been loaded from the cache in your case?

[2021-07-22 09:47] lhoestq opened #2703 "Bad message when config name is missing"
When loading a dataset that have several configurations, we expect to see an error message if the user doesn't specify a config name.

However in `datasets` 1.10.0 and 1.10.1 it doesn't show the right message:

[code]
raises
[code]
instead of
[code]

[2021-07-22 09:55] ronbutan opened #2705 "404 not found error on loading WIKIANN dataset"
## Describe the bug
Unable to retreive wikiann English dataset

## Steps to reproduce the bug
[code]

## Expected results
Colab notebook should display successful download status

## Actual results
FileNotFoundError: Couldn't find file at https://www.dropbox.com/s/12h3qqog6q4bjve/panx_dataset.tar?dl=1

## Environment info

- `datasets` version: 1.10.1
- Platform: Linux-5.4.104+-x86_64-with-Ubuntu-

[2021-07-22 10:02] #2703 closed

[2021-07-22 15:52] dwil2444 opened #2707 "404 Not Found Error when loading LAMA dataset"
The [LAMA](https://huggingface.co/datasets/viewer/?dataset=lama) probing dataset is not available for download:

Steps to Reproduce:

1. `from datasets import load_dataset`
2. `dataset = load_dataset('lama', 'trex')`.

Results:
`FileNotFoundError: Couldn't find file locally at lama/lama.py, or remotely at https://raw.githubusercontent.com/huggingface/datasets/1.1.2/datasets/lama/lama.py or https:/

[2021-07-22 20:39] MikeyBeez commented on #616
This error is what I see when I run the first lines of the Pytorch Quickstart.  Does nothing work?

[2021-07-22 21:59] danyaljj opened #2708 "QASC: incomplete training set"
## Describe the bug
The training instances are not loaded properly.

## Steps to reproduce the bug
[code]

##  results
For test and validation, we can see the examples in the output (which is good!):
[code]
However, only a few instances are loaded for the training split, which is not correct.

## Environment info
- `datasets` version: '1.10.2'
- Platform: MaxOS
- Python version:3.7
- PyArrow versi

[2021-07-23 01:26] stevhliu commented on #2707
Hi @dwil2444! I was able to reproduce your error when I downgraded to v1.1.2. Updating to the latest version of Datasets fixed the error for me :)

[2021-07-23 07:11] albertvillanova commented on #2708
Hi @danyaljj, thanks for reporting.

Unfortunately, I have not been able to reproduce your problem. My train split has 8134 examples:
[code]
and the content of the last 5 examples is:
[code]

Could you please load again your dataset and print its shape, like this:
[code]
and confirm which is your output?

[2021-07-23 07:29] albertvillanova commented on #2707
Hi @dwil2444, thanks for reporting.

Could you please confirm which `datasets` version you were using and if the problem persists after you update it to the latest version: `pip install -U datasets`?

Thanks @stevhliu for the hint to fix this! ;)

[2021-07-23 07:49] albertvillanova commented on #2691
Yes @severo, weird... I could access the file when I answered to you, but now I cannot longer access it either... Maybe it was from the cache as you point out.

Anyway, I have opened an issue in the GitHub repository responsible for the original dataset: https://github.com/afshinrahimi/mmner/issues/4
I have also contacted the maintainer by email.

I'll keep you informed with their answer.

[2021-07-23 08:07] albertvillanova commented on #2705
Hi @ronbutan, thanks for reporting.

You are right: we have recently found that the link to the original PAN-X dataset (also called WikiANN), hosted at Dropbox, is no longer working.

We have opened an issue in the GitHub repository of the original dataset (afshinrahimi/mmner#4) and we have also contacted the author by email to ask if they are planning to fix this issue. See the details here: http

[2021-07-23 08:07] #2705 closed

[2021-07-23 08:09] BenoitDalFerro commented on #2252
Hi, confirmed Windows issue, exact same code running on Linux total loading time about 3 minutes.

[2021-07-23 08:26] albertvillanova commented on #2691
Reply from the maintainer:

[2021-07-23 08:28] hwijeen commented on #2252
Hmm that's different from what I got. I was on Ubuntu when reporting the initial issue.

[2021-07-23 12:25] maxpel opened #2709 "Missing documentation for wnut_17 (ner_tags)"
On the info page of the wnut_17 data set (https://huggingface.co/datasets/wnut_17), the model output of ner-tags is only documented for these 5 cases:

`ner_tags: a list of classification labels, with possible values including O (0), B-corporation (1), I-corporation (2), B-creative-work (3), I-creative-work (4).`

I trained a model with the data and it gives me 13 classes:

[code]
The paper (https

[2021-07-23 12:54] severo commented on #2651
See https://github.com/huggingface/datasets/issues/2528 for reference

[2021-07-23 13:03] severo commented on #2651
Note also that you can disable the progress bar with

[code]

See https://github.com/huggingface/datasets/blob/8814b393984c1c2e1800ba370de2a9f7c8644908/src/datasets/utils/tqdm_utils.py#L84

[2021-07-23 13:30] danyaljj commented on #2708
Hmm .... it must have been a mistake on my side. Sorry for the hassle!

[2021-07-23 13:30] #2708 closed

[2021-07-23 15:40] Dref360 commented on #2655
Hi! Sorry for the delay.

In this case, the dataset would be a `datasets.Dataset` and we want to select multiple columns, the `idx` and `label` columns for example.

My issue is that my dataset is too big for memory if I load everything into pandas.

[2021-07-23 16:30] albertvillanova commented on #2691
The author told that apparently Dropbox has changed their policy and do not allow downloading the file without having signed in first. The author asked Hugging Face to host their dataset.

[2021-07-23 18:07] epwalsh commented on #514
Hey, still seeing this issue with the latest version.

[2021-07-26 05:17] albertvillanova commented on #2709
Hi @maxpel, thanks for reporting this issue.

Indeed, the documentation in the dataset card is not complete. I’m opening a Pull Request to fix it.

As the paper explains, there are 6 entity types and we have ordered them alphabetically: `corporation`, `creative-work`, `group`, `location`, `person` and `product`.

Each of these entity types has 2 possible IOB2 format tags:
- `B-`: to indicate that

[2021-07-26 07:11] pennyl67 opened #2714 "add more precise information for size"
For the import into ELG, we would like a more precise description of the size of the dataset, instead of the current size categories. The size can be expressed in bytes, or any other preferred size unit. As suggested in the slack channel, perhaps this could be computed with a regex for existing datasets.

[2021-07-26 09:16] lhoestq commented on #2714
We already have this information in the dataset_infos.json files of each dataset.
Maybe we can parse these files in the backend to return their content with the endpoint at huggingface.co/api/datasets

For now if you want to access this info you have to load the json for each dataset. For example:
- for a dataset on github like `squad`
-   https://raw.githubusercontent.com/huggingface/datasets/mas

[2021-07-26 09:30] #2709 closed

[2021-07-26 09:34] #2691 closed

[2021-07-26 12:21] pcuenca commented on #2644
Sorry to ping you, @lhoestq, did you have a chance to take a look at the proposed PR? Thank you!

[2021-07-26 13:24] amankhandelia opened #2716 "Calling shuffle on IterableDataset will disable batching in case any functions were mapped"
When using dataset in streaming mode, if one applies `shuffle` method on the dataset and `map` method for which `batched=True` than the batching operation will not happen, instead `batched` will be set to `False`

I did RCA on the dataset codebase, the problem is emerging from [this line of code](https://github.com/huggingface/datasets/blob/d25a0bf94d9f9a9aa6cabdf5b450b9c327d19729/src/datasets/ite

[2021-07-26 14:03] lhoestq commented on #2644
Yes and it's all good, thank you :)

Feel free to close this issue if it's good for you

[2021-07-26 14:08] lhoestq commented on #2716
Hi :) Good catch ! Feel free to open a PR if you want to contribute, this would be very welcome ;)

[2021-07-26 14:29] dwil2444 commented on #2707
@stevhliu @albertvillanova  updating to the latest version of datasets did in fact fix this issue. Thanks a lot for your help!

[2021-07-26 14:29] #2707 closed

[2021-07-26 14:46] amankhandelia commented on #2716
Have raised the PR [here](https://github.com/huggingface/datasets/pull/2717)

[2021-07-26 14:55] pcuenca commented on #2644
Everything's good, thanks!

[2021-07-26 14:55] #2644 closed

[2021-07-26 18:04] albertvillanova commented on #2716
Fixed by #2717.

[2021-07-26 18:04] #2716 closed

[2021-07-27 14:17] severo opened #2719 "Use ETag in streaming mode to detect resource updates"
**Is your feature request related to a problem? Please describe.**

I want to cache data I generate from processing a dataset I've loaded in streaming mode, but I've currently no way to know if the remote data has been updated or not, thus I don't know when to invalidate my cache.

**Describe the solution you'd like**

Take the ETag of the data files into account and provide it (directly or throug

[2021-07-28 03:52] PosoSAgapo opened #2722 "Missing cache file"
Strangely missing cache file after I  restart my program again.

`glue_dataset = datasets.load_dataset('glue', 'sst2')`

`FileNotFoundError: [Errno 2] No such file or directory: /Users/chris/.cache/huggingface/datasets/glue/sst2/1.0.0/dacbe3125aa31d7f70367a07a8a9e72a5a0bfeb5fc42e75c9db75b96d6053ad/dataset_info.json'`

[2021-07-28 04:42] PosoSAgapo commented on #2722
This could be solved by going to the glue/ directory and delete sst2 directory, then load the dataset again will help you redownload the dataset.

[2021-07-28 09:07] lhoestq commented on #2722
Hi ! Not sure why this file was missing, but yes the way to fix this is to delete the sst2 directory and to reload the dataset

[2021-07-28 14:24] albertvillanova opened #2724 "404 Error when loading remote data files from private repo"
## Describe the bug
When loading remote data files from a private repo, a 404 error is raised.

## Steps to reproduce the bug
[code]

## Expected results
Load dataset.

## Actual results
404 Error.

[2021-07-28 15:15] lhoestq commented on #2724
I guess the issue is when computing the ETags of the remote files. Indeed `use_auth_token` must be passed to `request_etags` here:

https://github.com/huggingface/datasets/blob/35b5e4bc0cb2ed896e40f3eb2a4aa3de1cb1a6c5/src/datasets/builder.py#L160-L160

[2021-07-28 16:11] albertvillanova commented on #2724
Yes, I remember having implemented that: https://github.com/huggingface/datasets/commit/7a9c62f7cef9ecc293f629f859d4375a6bd26dc8#diff-f933ce41f71c6c0d1ce658e27de62cbe0b45d777e9e68056dd012ac3eb9324f7R160

But a subsequent refactoring removed it...

[2021-07-28 16:14] albertvillanova commented on #2724
I have opened a PR to fix it @lewtun.

[2021-07-28 16:38] #2724 closed

[2021-07-28 21:52] siddk commented on #1675
Hi folks! Just wanted to follow up on this -- would be really nice to get the Pile on HF Datasets... unclear if it would be easy to also add partitions of the Pile subject to the original 22 datasets used, but that would be nice too!

[2021-07-29 12:53] M-Salti opened #2727 "Error in loading the Arabic Billion Words Corpus"
## Describe the bug
I get `IndexError: list index out of range` when trying to load the `Techreen` and `Almustaqbal` configs of the dataset.

## Steps to reproduce the bug
[code]

## Expected results
The datasets load succefully.

## Actual results
[code]

## Environment info

- `datasets` version: 1.10.2
- Platform: Ubuntu 18.04.5 LTS
- Python version: 3.7.11
- PyArrow version: 3.0.0

[2021-07-29 13:07] M-Salti commented on #2727
I modified the dataset loading script to catch the `IndexError` and inspect the records at which the error is happening, and I found this:
For the `Techreen` config, the error happens in 36 records when trying to find the `Text` or `Dateline` tags. All these 36 records look something like:
[code]

and all the 288 faulty records in the `Almustaqbal` config look like:
[code]

so the error is happeni

[2021-07-29 14:10] PierreColombo commented on #2538
I use the .select function to have a fraction of indices.

[2021-07-29 14:18] PierreColombo opened #2728 "Multiple jobs using the same datasets"
## Describe the bug
When launching several jobs at the same time loading the same dataset errors

## Steps to reproduce the bug
export HF_DATASETS_CACHE=/gpfswork/rech/toto/datasets
for MODEL in "bert-base-uncased" "roberta-base" "distilbert-base-cased"; do #  "bert-base-uncased" "bert-large-cased" "roberta-large" "albert-base-v1" "albert-large-v1"; do
  for TASK_NAME in "mrpc" "rte" 'imdb' "paws"

[2021-07-29 14:44] PierreColombo commented on #2728
It seems that performing illegal operations on one job affect the second job.....

[2021-07-29 14:44] albertvillanova commented on #2727
Thanks @M-Salti for reporting this issue and for your investigation.

Indeed, those `IndexError` should be catched and the corresponding record should be ignored.

I'm opening a Pull Request to fix it.

[2021-07-29 15:04] yc1999 commented on #245
Have you figured out this problem? AFAIK, the original sst-2 dataset is totally different from the GLUE/sst-2. Do you think so?

[2021-07-29 15:59] yjernite opened #2730 "Update CommonVoice with new release"
## Adding a Dataset
- **Name:** CommonVoice mid-2021 release
- **Description:** more data in CommonVoice: Languages that have increased the most by percentage are Thai (almost 20x growth, from 12 hours to 250 hours), Luganda (almost 9x growth, from 8 to 80), Esperanto (7x growth, from 100 to 840), and Tamil (almost 8x, from 24 to 220).
- **Paper:** https://discourse.mozilla.org/t/common-voice-2021

[2021-07-29 16:00] yjernite commented on #2730
cc @patrickvonplaten?

[2021-07-30 07:54] PierreColombo commented on #2728
If i have two jobs that use the same dataset. I got :

  File "compute_measures.py", line 181, in <module>
    train_loader, val_loader, test_loader = get_dataloader(args)
  File "/gpfsdswork/projects/rech/toto/intRAOcular/dataset_utils.py", line 69, in get_dataloader
    dataset_train = load_dataset('paws', "labeled_final", split='train', download_mode="reuse_cache_if_exists")
  File "/gpfslocals

[2021-07-30 08:05] PierreColombo commented on #2728
You can probably have a solution much faster than me (first time I use the library). But I suspect some write function are used when loading the dataset from cache.

[2021-07-30 10:16] GuillemGSubies commented on #517
Any updates on this?

[2021-07-30 13:03] #2727 closed

[2021-07-30 16:08] albertvillanova opened #2735 "Add Open Buildings dataset"
## Adding a Dataset
- **Name:** Open Buildings
- **Description:** A dataset of building footprints to support social good applications.

  Building footprints are useful for a range of important applications, from population estimation, urban planning and humanitarian response, to environmental and climate science. This large-scale open dataset contains the outlines of buildings derived from high-

[2021-07-30 16:17] albertvillanova opened #2736 "Add Microsoft Building Footprints dataset"
## Adding a Dataset
- **Name:** Microsoft Building Footprints
- **Description:** With the goal to increase the coverage of building footprint data available as open data for OpenStreetMap and humanitarian efforts, we have released millions of building footprints as open data available to download free of charge.
- **Paper:** *link to the dataset paper if available*
- **Data:** https://www.microsof

[2021-07-30 17:25] sashavor commented on #2736
Motivation: this can be a useful dataset for researchers working on climate change adaptation, urban studies, geography, etc. I'll see if I can figure out how to add it!

[2021-07-30 23:53] devrimcavusoglu opened #2737 "SacreBLEU update"
With the latest release of [sacrebleu](https://github.com/mjpost/sacrebleu), `datasets.metrics.sacrebleu` is broken, and getting error.

    AttributeError: module 'sacrebleu' has no attribute 'DEFAULT_TOKENIZER'

this happens since in new version of sacrebleu there is no `DEFAULT_TOKENIZER`, but sacrebleu.py tries to import it anyways. This can be fixed currently with fixing `sacrebleu==1.5.0`

#

[2021-07-31 06:16] SauravMaheshkar commented on #2130
The PR was merged. Issue should be closed.

CC: @lhoestq

[2021-07-31 07:06] bhavitvyamalik commented on #2737
Hi @devrimcavusoglu,
I tried your code with latest version of `datasets`and `sacrebleu==1.5.1` and it's running fine after changing one small thing:
[code]

[2021-07-31 09:02] devrimcavusoglu commented on #2737
@bhavitvyamalik hmm. I forgot double brackets, but still didn't work. It may be an isseu with platform (using win-10 currently), or versions. What is your platform and your version info for datasets, python, and sacrebleu ?

[2021-07-31 09:23] bhavitvyamalik commented on #2737
You can check here. I've reproduced your code in [Google colab](https://colab.research.google.com/drive/1X90fHRgMLKczOVgVk7NDEw_ciZFDjaCM?usp=sharing)

[2021-07-31 20:35] bhavitvyamalik commented on #2663
Hi @stas00,
I want to work on this issue and I was thinking why don't we use `imap` [in this loop](https://github.com/huggingface/datasets/blob/440b14d0dd428ae1b25881aa72ba7bbb8ad9ff84/src/datasets/io/json.py#L99)? This way, using offset (which is being used to slice the pyarrow table) we can convert  pyarrow table to `json` using multiprocessing. I've a small code snippet for some clarity:
[code]

[2021-08-01 17:48] mariosasko commented on #2654
#self-assign

[2021-08-02 05:01] albertvillanova commented on #2737
It seems that next release of `sacrebleu` (v2.0.0) will break our `datasets` implementation to compute it. See my google Colab: https://colab.research.google.com/drive/1SKmvvjQi6k_3OHsX5NPkZdiaJIfXyv9X?usp=sharing

I'm reopening this Issue and making a Pull Request to fix it.

[2021-08-02 07:25] elronbandel commented on #2728
I have the same issue:
`Traceback (most recent call last):
  File "/dccstor/tslm/envs/anaconda3/envs/trf-a100/lib/python3.9/site-packages/datasets/builder.py", line 652, in _download_and_prepare
    self._prepare_split(split_generator, **prepare_split_kwargs)
  File "/dccstor/tslm/envs/anaconda3/envs/trf-a100/lib/python3.9/site-packages/datasets/builder.py", line 1040, in _prepare_split
    with A

[2021-08-02 10:06] osanseviero opened #2741 "Add Hypersim dataset"
## Adding a Dataset
- **Name:** Hypersim
- **Description:** photorealistic synthetic dataset for holistic indoor scene understanding
- **Paper:** *link to the dataset paper if available*
- **Data:** https://github.com/apple/ml-hypersim

Instructions to add a new dataset can be found [here](https://github.com/huggingface/datasets/blob/master/ADD_NEW_DATASET.md).

[2021-08-02 10:43] severo commented on #2654
I understand it already raises a `NotImplemented`exception, eg:

[code]

[2021-08-02 12:55] severo opened #2742 "Improve detection of streamable file types"
**Is your feature request related to a problem? Please describe.**

[code]

raises

[code]

But the file at https://drive.google.com/uc?export=download&id=1CBrh-9OrSpKmPQBxTK_ji6mq6WTN_U9U is a text file and it can be streamed:

[code]

Yet, it's wrongly categorized as a file type that cannot be streamed because the test is currently based on 1. the presence of a file extension at the end of the U

[2021-08-02 13:01] severo opened #2743 "Dataset JSON is incorrect"
## Describe the bug

The JSON file generated for https://github.com/huggingface/datasets/blob/573f3d35081cee239d1b962878206e9abe6cde91/datasets/journalists_questions/journalists_questions.py is https://github.com/huggingface/datasets/blob/573f3d35081cee239d1b962878206e9abe6cde91/datasets/journalists_questions/dataset_infos.json.

The only config should be `plain_text`, but the first key in the JSO

[2021-08-02 13:23] albertvillanova commented on #2743
As discussed, the metadata JSON files must be regenerated because the keys were nor properly generated and they will not be read by the builder:

In the meanwhile, in order to be able to use the datasets_info.json file content, you can create the builder without passing the name :
[code]

After regenerating the metadata JSON file for this dataset, I get the right key:
[code]

[2021-08-02 16:35] julien-c commented on #2742
maybe we should rather attempt to download a `Range` from the server and see if it works?

[2021-08-02 22:18] Mehrad0711 opened #2746 "Cannot load `few-nerd` dataset"
## Describe the bug

Cannot load `few-nerd` dataset.

## Steps to reproduce the bug
[code]

## Actual results

Executing above code will give the following error:

[code]
The bug is probably in identifying and downloading the dataset. If I download the json splits directly from [link](https://github.com/nbroad1881/few-nerd/tree/main/uncompressed) and put them under the downloads directory, they wi

[2021-08-03 04:23] #2737 closed

[2021-08-03 05:06] #1857 closed

[2021-08-03 05:07] #1641 closed

[2021-08-03 05:08] #1624 closed

[2021-08-03 05:11] #723 closed

[2021-08-03 05:35] albertvillanova commented on #2746
Hi @Mehrad0711,

I'm afraid there is no "canonical" Hugging Face dataset named "few-nerd".

There are 2 kinds of datasets hosted at the Hugging Face Hub:
- canonical datasets (their identifier contains no slash "/"): we, the Hugging Face team, supervise their implementation and we make sure they work correctly by means of our test suite
- community datasets (their identifier contains a slash "/",

[2021-08-03 05:59] albertvillanova commented on #517
This request is still an open issue, @GuillemGSubies.

[2021-08-03 06:01] albertvillanova commented on #509
In our docs: [Using a Dataset with PyTorch/Tensorflow](https://huggingface.co/docs/datasets/torch_tensorflow.html).

[2021-08-03 06:01] #509 closed

[2021-08-03 06:02] #477 closed

[2021-08-03 07:42] Opdoop commented on #245
@yc1999 Sorry, I didn't solve this conflict. In the end, I just use a local data file provided by the previous work I followed(for consistent comparison), not use `datasets` package.

Related information: https://github.com/thunlp/OpenAttack/issues/146#issuecomment-766323571

[2021-08-03 09:25] #2743 closed

[2021-08-03 10:06] severo commented on #2743
Thanks!

[2021-08-03 10:26] severo opened #2749 "Raise a proper exception when trying to stream a dataset that requires to manually download files"
## Describe the bug

At least for 'reclor', 'telugu_books', 'turkish_movie_sentiment', 'ubuntu_dialogs_corpus', 'wikihow', trying to `load_dataset` in streaming mode raises a `TypeError` without any detail about why it fails.

## Steps to reproduce the bug

[code]

## Expected results

Ideally: raise a specific exception, something like `ManualDownloadError`.

Or at least give the reason in the me

[2021-08-03 10:47] Aktsvigun opened #2750 "Second concatenation of datasets produces errors"
Hi,

I am need to concatenate my dataset with others several times, and after I concatenate it for the second time, the features of features (e.g. tags names) are collapsed. This hinders, for instance, the usage of tokenize function with `data.map`.

[code]
outputs

[code]

I am using `datasets` v.1.11.0

[2021-08-03 19:45] Mehrad0711 commented on #2746
Thanks @albertvillanova for your detailed explanation! I will resort to my own scripts for now.

[2021-08-03 19:45] #2746 closed

[2021-08-03 21:29] stas00 commented on #2663
Followed up in https://github.com/huggingface/datasets/pull/2747

[2021-08-04 07:10] JulesBelveze opened #2757 "Unexpected type after `concatenate_datasets`"
## Describe the bug
I am trying to concatenate two `Dataset` using `concatenate_datasets` but it turns out that after concatenation the features are casted from `torch.Tensor` to `list`.
It then leads to a weird tensors when trying to convert it to a `DataLoader`. However, if I use each `Dataset` separately everything behave as expected.

## Steps to reproduce the bug
[code]
The shapes seem alrigh

[2021-08-04 07:26] albertvillanova commented on #2749
Hi @severo, thanks for reporting.

As discussed, datasets requiring manual download should be:
- programmatically identifiable
- properly handled with more clear error message when trying to load them with streaming

In relation with programmatically identifiability, note that for datasets requiring manual download, their builder have a property `manual_download_instructions` which is not None:
[c

[2021-08-04 11:36] #2749 closed

[2021-08-04 15:33] jianguda opened #2759 "the meteor metric seems to conflict with the official version"
## Describe the bug
The computed meteor score seems strange because the value is very different from the scores computed by other tools. For example, I use the meteor score computed by [NLGeval](https://github.com/Maluuba/nlg-eval) as the reference (which reuses the official jar file for the computation)

## Steps to reproduce the bug
[code]
By the way, you need to install the `nlg-eval` library f

[2021-08-04 15:41] jianguda commented on #2759
the issue is caused by the differences between varied meteor versions:
meteor1.0 is for https://aclanthology.org/W07-0734.pdf
meteor1.5 is for https://aclanthology.org/W14-3348.pdf

here is a very similar issue in NLTK
https://github.com/nltk/nltk/issues/2655

[2021-08-04 15:57] albertvillanova commented on #2757
Hi @JulesBelveze, thanks for your question.

Note that Hugging Face `datasets` internally store their data in Apache Arrow format.

However, when accessing dataset columns, by default they are returned as native Python objects (lists in this case).

If you would like their columns to be returned in a more suitable format for your use case (torch arrays), you can use the method `set_format()`:
[cod

[2021-08-04 16:01] JulesBelveze commented on #2757
Thanks @albertvillanova it indeed did the job 😃
Thanks for your answer!

[2021-08-04 16:01] #2757 closed

[2021-08-04 16:26] Aktsvigun commented on #2750
@albertvillanova

[2021-08-04 17:03] #2653 closed

[2021-08-04 17:18] albertvillanova commented on #2759
Hi @jianguda, thanks for reporting.

Currently, at 🤗 `datasets` we are using METEOR 1.0 (indeed using NLTK: `from nltk.translate import meteor_score`): See the [citation here](https://github.com/huggingface/datasets/blob/master/metrics/meteor/meteor.py#L23-L35).

If there is some open source implementation of METEOR 1.5, that could be an interesting contribution! 😉

[2021-08-04 17:50] albertvillanova commented on #2105
Hi @kyleclo, as of today, you have not removed your bucket data yet, and therefore HuggingFace can download it from there.

Is it OK? Are you planning to eventually delete it? Thank you.

[2021-08-04 17:57] #2070 closed

[2021-08-04 17:59] #2067 closed

[2021-08-04 18:00] #2040 closed

[2021-08-04 18:02] #2007 closed

[2021-08-04 18:04] #1990 closed

[2021-08-04 18:05] #1988 closed

[2021-08-04 18:08] #1876 closed

[2021-08-04 18:09] #1797 closed

[2021-08-04 18:10] #759 closed

[2021-08-04 18:10] #1803 closed

[2021-08-04 18:11] albertvillanova commented on #1803
Fixed by #2122.

[2021-08-04 18:13] #1773 closed

[2021-08-04 18:13] #1733 closed

[2021-08-04 19:18] kyleclo commented on #2105
Hi!  Sorry I missed @yjernite 's previous message, thanks for responding!

Is there an option where we can keep our data in our bucket, but the HF script no longer pulls data from it?

[2021-08-05 03:00] shivangibithel opened #2760 "Add Nuswide dataset"
## Adding a Dataset
- **Name:** *NUSWIDE*
- **Description:** *[A Real-World Web Image Dataset from National University of Singapore](https://lms.comp.nus.edu.sg/wp-content/uploads/2019/research/nuswide/NUS-WIDE.html)*
- **Paper:** *[here](https://lms.comp.nus.edu.sg/wp-content/uploads/2019/research/nuswide/nuswide-civr2009.pdf)*
- **Data:** *[here](https://github.com/wenting-zhao/nuswide)*
- **Mot

[2021-08-05 08:16] danshirron opened #2761 "Error loading C4 realnewslike dataset"
## Describe the bug
Error loading C4 realnewslike dataset. Validation part mismatch

## Steps to reproduce the bug
[code]

[2021-08-05 09:07] bhavitvyamalik commented on #2761
Hi @danshirron,
`c4` was updated few days back by @lhoestq. The new configs are `['en', 'en.noclean', 'en.realnewslike', 'en.webtextlike'].` You'll need to remove any older version of this dataset you previously downloaded and then run `load_dataset` again with new configuration.

[2021-08-05 09:36] xinzhel commented on #1639
Just suggest to find alternative file URL here: https://github.com/huggingface/datasets/blob/171f2bba9dd8b92006b13cf076a5bf31d67d3e69/datasets/glue/glue.py#L174

[2021-08-05 09:57] NielsRogge opened #2762 "Add RVL-CDIP dataset"
## Adding a Dataset
- **Name:** RVL-CDIP
- **Description:** The RVL-CDIP (Ryerson Vision Lab Complex Document Information Processing) dataset consists of 400,000 grayscale images in 16 classes, with 25,000 images per class. There are 320,000 training images, 40,000 validation images, and 40,000 test images. The images are sized so their largest dimension does not exceed 1000 pixels.
- **Paper:** h

[2021-08-05 09:57] NielsRogge commented on #2762
cc @nateraw

[2021-08-05 14:37] lucadiliello opened #2763 "English wikipedia datasets is not clean"
## Describe the bug
Wikipedia english dumps contain many wikipedia paragraphs like "References", "Category:" and "See Also" that should not be used for training.

## Steps to reproduce the bug
[code]

## Expected results
I expect no junk in the data.

## Actual results
Specify the actual results or traceback.

## Environment info
- `datasets` version: 1.10.2
- Platform: macOS-10.15.7-x86_64-i386-6

[2021-08-06 15:58] gagan3012 opened #2765 "BERTScore Error"
## Describe the bug
A clear and concise description of what the bug is.

## Steps to reproduce the bug
[code]

# Bug
`TypeError: get_hash() missing 1 required positional argument: 'use_fast_tokenizer'`

## Environment info

- `datasets` version:
- Platform: Colab
- Python version:
- PyArrow version:

[2021-08-06 19:45] dorooddorood606 opened #2767 "equal operation to perform unbatch for huggingface datasets"
Hi
I need to use "unbatch" operation in tensorflow on a huggingface dataset, I could not find this operation, could you kindly direct me how I can do it, here is the problem I am trying to solve:

I am considering "record" dataset in SuperGlue and I need to replicate each entery of the dataset for each answer, to make it similar to what T5 originally did:

https://github.com/google-research/text-t

[2021-08-06 19:57] dorooddorood606 commented on #2767
Hi @lhoestq
Maybe this is clearer to explain like this, currently map function, map one example to a modified one, lets assume we want to map one example to multiple examples, in which we do not know in advance how many examples they would be for each entry. I greatly appreciate telling me how I can handle this operation, thanks a lot

[2021-08-07 09:22] jackfeinmann5 commented on #2767
Hi,
this is also my question on how to perform similar operation as "unbatch" in tensorflow in great huggingface dataset library.
thanks.

[2021-08-07 12:47] patrickvonplaten commented on #2730
Does anybody know if there is a bundled link, which would allow direct data download instead of manual?
Something similar to: `https://voice-prod-bundler-ee1969a6ce8178826482b88e843c335139bd3fb4.s3.amazonaws.com/cv-corpus-6.1-2020-12-11/ab.tar.gz` ? cc @patil-suraj

[2021-08-07 13:17] lvwerra opened #2768 "`ArrowInvalid: Added column's length must match table's length.` after using `select`"
## Describe the bug
I would like to add a column to a downsampled dataset. However I get an error message saying the length don't match with the length of the unsampled dataset indicated. I suspect that the dataset size is not updated when calling `select`.

## Steps to reproduce the bug
[code]

## Expected results
I would expect a new column named `ones` filled with `1`. When I check the length o

[2021-08-07 13:53] mariosasko commented on #2768
Hi,

the `select` method creates an indices mapping and doesn't modify the underlying PyArrow table by default for better performance. To modify the underlying table after the `select` call, call `flatten_indices` on the dataset object as follows:
[code]

[2021-08-07 15:06] mariosasko commented on #2765
Hi,

The `use_fast_tokenizer` argument has been recently added to the bert-score lib. I've opened a PR with the fix. In the meantime, you can try to downgrade the version of bert-score with the following command to make it work:
[code]

[2021-08-07 16:19] patrickvonplaten commented on #2730
Also see: https://github.com/common-voice/common-voice-bundler/issues/15

[2021-08-07 16:56] mariosasko commented on #2767
Hi,

`Dataset.map` in the batched mode allows you to map a single row to multiple rows. So to perform "unbatch", you can do the following:
[code]

[2021-08-07 18:58] dorooddorood606 commented on #2767
Dear @mariosasko
First, thank you very much for coming back to me on this, I appreciate it a lot. I tried this solution,  I am getting errors, do you mind
giving me one test example to be able to run your code, to understand better the format of the inputs to your function?
thank you very much for your help and time.

[2021-08-07 19:56] dorooddorood606 commented on #2767
Hi @mariosasko
I think finally I got this, I think you mean to do things in one step, here is the full example for completeness:

[code]

Thanks a lot again, this was a super great way to do it.

[2021-08-08 04:01] PosoSAgapo opened #2772 "Remove returned feature constrain"
In the current version, the returned value of the map function has to be list or ndarray. However, this makes it unsuitable for many tasks. In NLP, many features are sparse like verb words, noun chunks.  Mostly, when using it on large scale, saving it as a whole takes a lot of disk storage and making it hard to read,  the normal method is saving it in sparse form. However, the NumPy does not suppo

[2021-08-08 18:06] danshirron commented on #2761
@bhavitvyamalik @lhoestq , just tried the above and got:

Downloading: 3.29kB [00:00, 1.66MB/s]
Downloading: 2.40MB [00:00, 12.6MB/s]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/dshirron/.local/lib/python3.8/site-packages/datasets/load.py", line 819, in load_dataset
    builder_instance = load_dataset_builder(
  File "/home/dshirron/.local/lib/python3.8/s

[2021-08-08 18:40] bhavitvyamalik commented on #2761
I think I had the older version of datasets installed and that's why I showed the old configurations to you in my last comment, my bad! I re-checked and updated it to latest version (`datasets==1.11.0`) and it's showing `available configs: ['en', 'realnewslike', 'en.noblocklist', 'en.noclean']`. I tried `raw_datasets = load_dataset('c4', 'realnewslike')` but due to insufficient disk space it could

[2021-08-08 19:01] bhavitvyamalik commented on #2761
I think I had an older version of datasets installed and that's why I commented the old configurations in my last comment, my bad! I re-checked and updated it to latest version (`datasets==1.11.0`) and it's showing `available configs: ['en', 'realnewslike', 'en.noblocklist', 'en.noclean']`.

I tried `raw_datasets = load_dataset('c4', 'realnewslike')` and the download started. Make sure you don't h

[2021-08-08 19:44] danshirron commented on #2761
It works. I probably had some issue with the cache. after cleaning it im able to download the dataset. Thanks

[2021-08-08 19:44] #2761 closed

[2021-08-09 07:43] albertvillanova opened #2773 "Remove dataset_infos.json"
**Is your feature request related to a problem? Please describe.**
As discussed, there are infos in the `dataset_infos.json` which are redundant and we could have them only in the README file.

Others could be migrated to the README, like: "dataset_size", "size_in_bytes", "download_size", "splits.split_name.[num_bytes, num_examples]",...

However, there are others that do not seem too meaningful i

[2021-08-09 08:53] severo commented on #2749
Thanks @albertvillanova

[2021-08-09 11:16] #2765 closed

[2021-08-09 11:26] albertvillanova commented on #2768
Thanks for the question @lvwerra. And thanks for the answer @mariosasko. ^^

[2021-08-09 11:26] #2768 closed

[2021-08-09 15:55] Aktsvigun commented on #2750
Hi @albertvillanova ,
any update on this? Can I probably help in some way?

[2021-08-09 19:28] mbforbes opened #2775 "`generate_random_fingerprint()` deterministic with 🤗Transformers' `set_seed()`"
## Describe the bug

**Update:** I dug into this to try to reproduce the underlying issue, and I believe it's that `set_seed()` from the `transformers` library makes the "random" fingerprint identical each time. I believe this is still a bug, because `datasets` is used exactly this way in `transformers` after `set_seed()` has been called, and I think that using `set_seed()` is a standard procedure

[2021-08-09 19:58] alauer67 commented on #252
Hello, I am facing the same problem... how do you clear the huggingface cache?

[2021-08-09 21:23] stas00 opened #2776 "document `config.HF_DATASETS_OFFLINE` and precedence"
https://github.com/huggingface/datasets/pull/1976 implemented `HF_DATASETS_OFFLINE`, but:
1. `config.HF_DATASETS_OFFLINE` is not documented
2. the precedence is not documented (env, config)

I'm thinking it probably should be similar to what it says https://huggingface.co/docs/datasets/loading_datasets.html#from-the-huggingface-hub about `datasets.config.IN_MEMORY_MAX_SIZE`:

Quote:

Context: tryi

[2021-08-09 21:50] mbforbes commented on #2643
I'm running into this as well. (Thank you so much for reporting @jorgeecardona — was staring at this massive stack trace and unsure what exactly was wrong!)

[2021-08-10 09:59] albertvillanova opened #2781 "Latest v2.0.0 release of sacrebleu has broken some metrics"
## Describe the bug
After `sacrebleu` v2.0.0 release (see changes here: https://github.com/mjpost/sacrebleu/pull/152/files#diff-2553a315bb1f7e68c9c1b00d56eaeb74f5205aeb3a189bc3e527b122c6078795L17-R15), some of `datasets` metrics are broken:
- Default tokenizer `sacrebleu.DEFAULT_TOKENIZER` no longer exists:
  - #2739
  - #2778
- Bleu tokenizers are no longer accessible with `sacrebleu.TOKENIZERS`:

[2021-08-10 11:16] #2781 closed

[2021-08-10 11:41] albertvillanova commented on #2750
Hi @Aktsvigun! We are planning to address this issue before our next release. 😅

In the meantime, if you would like to contribute, feel free to open a Pull Request. You are welcome. Here you can find more information: [How to contribute to Datasets?](CONTRIBUTING.md)

[2021-08-10 17:33] mbforbes commented on #2775
I dug into what I believe is the root of this issue and added a repro in my comment. If this is better addressed as a cross-team issue, let me know and I can open an issue in the Transformers repo

[2021-08-11 11:39] Ramlinbird commented on #2153
Nice question which helped me a lot! I have wasted a lot of time to the `DatasetDict` creation from a csv file. Hope the document of this module add some simple examples.

[2021-08-11 16:19] jinec opened #2787 "ConnectionError: Couldn't reach https://raw.githubusercontent.com"
Hello,
I am trying to run run_glue.py and it gives me this error -

Traceback (most recent call last):
  File "E:/BERT/pytorch_hugging/transformers/examples/pytorch/text-classification/run_glue.py", line 546, in <module>
    main()
  File "E:/BERT/pytorch_hugging/transformers/examples/pytorch/text-classification/run_glue.py", line 250, in main
    datasets = load_dataset("glue", data_args.task_nam

[2021-08-11 16:33] jinec commented on #2787
the bug code locate in ：
    if data_args.task_name is not None:
        # Downloading and loading a dataset from the hub.
        datasets = load_dataset("glue", data_args.task_name, cache_dir=model_args.cache_dir)

[2021-08-11 17:07] albertvillanova commented on #2787
Hi @jinec,

From time to time we get this kind of `ConnectionError` coming from the github.com website: https://raw.githubusercontent.com

Normally, it should work if you wait a little and then retry.

[2021-08-11 17:43] brijow opened #2788 "How to sample every file in a list of files making up a split in a dataset when loading?"
I am loading a dataset with multiple train, test, and validation files like this:

[code]

However, this only selects the first 8 rows from train_file1, test_file1, val_file1, since they are the first files in the lists.

I'm trying to formulate a split argument that can sample from each file specified in my list of files that make up each split.

Is this type of splitting supported? If so, how ca

[2021-08-12 00:46] jinec commented on #2787
cannot connect，even by Web browser，please check that  there is some  problems。

[2021-08-12 08:47] albertvillanova commented on #2787
I can access https://raw.githubusercontent.com/huggingface/datasets/1.7.0/datasets/glue/glue.py without problem...

[2021-08-12 23:09] mbforbes opened #2794 "Warnings and documentation about pickling incorrect"
## Describe the bug

I have a docs bug and a closely related docs enhancement suggestion!

### Bug

The warning and documentation say "either `dill` or `pickle`" for fingerprinting. But it seems that `dill`, which is installed by `datasets` by default, _must_ work, or else the fingerprinting fails.

Warning:

https://github.com/huggingface/datasets/blob/450b9174765374111e5c6daab0ed294bc3d9b639/src

[2021-08-13 06:08] justwangqian opened #2795 "typeerror: textinputsequence must be str"
## Describe the bug
I use dataset.map() to encode the data, but get this problem.

#   I use the code to transfer data to local csv files,.As i use colab, local files are more convenient.

dataset = load_dataset(path='glue', name='mnli')
keys = ['train', 'validation_matched','validation_mismatched']
for k in keys:
  result = []
  for record in dataset[k]:
    c1, c2, c3 = record['premise'], record

[2021-08-13 06:10] justwangqian commented on #2795
by the way ,the same code works when i process the xnli dataset.

[2021-08-13 11:09] bhavitvyamalik commented on #2795
Can you try running your code again with this minor change:
[code]

[2021-08-13 11:41] albertvillanova commented on #2795
Hi @justwangqian,

I think your issue is with the `transformers` library. I guess you should update it, but I prefer transferring your issue to them, so that they can keep the record.

Feel free to reopen an issue in `datasets` if there is finally a bug here. :)

[2021-08-13 11:54] richarddwang opened #2797 "Make creating/editing dataset cards easier, by editing on site and dumping info from test command."
**Is your feature request related to a problem? Please describe.**

Creating and editing dataset cards should be but not that easy
- If other else know Some information I don't know (bias of dataset, dataset curation, supported dataset, ...), he/she should know the description on hf.co comes from README.md under github huggingface/datasets/datasets/the dataset, and willing to make a pr to add or f

[2021-08-13 15:31] lewtun opened #2799 "Loading JSON throws ArrowNotImplementedError"
## Describe the bug
I have created a [dataset](https://huggingface.co/datasets/lewtun/github-issues-test) of GitHub issues in line-separated JSON format and am finding that I cannot load it with the `json` loading script (see stack trace below).

Curiously, there is no problem loading the dataset with `pandas` which suggests some incorrect type inference is being made on the `datasets` side. For e

[2021-08-13 16:14] albertvillanova commented on #2799
Hi @lewtun, thanks for reporting.

Apparently, `pyarrow.json` tries to cast timestamp-like fields in jour JSON file to pyarrow timestamp type, and it fails with `ArrowNotImplementedError`.

I will investigate if there is a way to tell pyarrow not to try that timestamp casting.

[2021-08-13 16:25] albertvillanova commented on #2799
I think the issue is more complex than that...

I just took one of your JSON lines an pyarrow.json read it without problem.

[2021-08-13 16:55] lewtun commented on #2799
yes, and for some peculiar reason the error is non-deterministic (i was eventually able to load the whole dataset by just re-running the `load_dataset` cell multiple times 🤔)

thanks for looking into this 🙏 !

[2021-08-13 17:02] albertvillanova commented on #2799
I think the error is generated by the `pyarrow.json.read()` option: `read_options=paj.ReadOptions(block_size=block_size)`...

[2021-08-14 21:17] YuhaoT commented on #743
Hi,
I got an `OSError: Cannot find data file. ` when I tried to use load_dataset with tsv files. I have checked the paths, and they are correct.

versions
- python: 3.7.9
- datasets: 1.1.3
- pyarrow: 2.0.0
- transformers: 4.2.2

[code]

The entire Error message is on below:

[code]

[2021-08-16 15:51] lewtun commented on #1675
Hi folks, thanks to some awesome work by @lhoestq and @albertvillanova you can now stream the Pile as follows:

[code]

Next step is to add the Pile as a "canonical" dataset that can be streamed without specifying the file names explicitly :)

[2021-08-16 15:59] lewtun opened #2808 "Enable streaming for Wikipedia corpora"
**Is your feature request related to a problem? Please describe.**
Several of the [Wikipedia corpora](https://huggingface.co/datasets?search=wiki) on the Hub involve quite large files that would be a good candidate for streaming. Currently it is not possible to stream these corpora:

[code]

Given that these corpora are derived from Wikipedia dumps in XML format which are then processed with Apach

[2021-08-17 05:00] renmada commented on #2787
I can not access https://raw.githubusercontent.com/huggingface/datasets either,   I am in China

[2021-08-17 08:30] #625 closed

[2021-08-17 18:01] eladsegal opened #2812 "arXiv Dataset verification problem"
## Describe the bug
`dataset_infos.json` for `arxiv_dataset` contains a fixed number of training examples, however the data (downloaded from an external source) is updated every week with additional examples.
Therefore, loading the dataset without `ignore_verifications=True` results in a verification error.

[2021-08-18 03:49] Salmon-f commented on #2250
i meet the same error with datasets 1.11.0, is there any insight about this?

[2021-08-18 09:35] albertvillanova opened #2813 "Remove compression from xopen"
We implemented support for streaming with 2 requirements:
- transparent use for the end user: just needs to pass the parameter `streaming=True`
- no additional work for the contributors: previous loading scripts should also work in streaming mode with no (or minor) changes; and new loading scripts should not involve additional code to support streaming

In order to fulfill these requirements, stre

[2021-08-18 10:18] albertvillanova commented on #2813
After discussing with @lhoestq, a reasonable alternative:
- `download_manager.extract(urlpath` adds prefixes to `urlpath` in the same way as `fsspec` does for protocols, but we add all compression formats
- `xopen` parses the `urlpath` and extracts the `compression` parameter and passes it to `fsspec.open`

[2021-08-18 12:38] SolomidHero commented on #2552
Hi! Got same error when loading other dataset:
[code]

tb:
[code]

Version: datasets==1.11.0

[2021-08-18 15:08] jinec commented on #2787
Finally i can access it, by the superfast software. Thanks

[2021-08-18 15:09] #2787 closed

[2021-08-18 20:28] osanseviero opened #2816 "Add Mostly Basic Python Problems Dataset"
## Adding a Dataset
- **Name:** Mostly Basic Python Problems Dataset
- **Description:** The benchmark consists of around 1,000 crowd-sourced Python programming problems, designed to be solvable by entry level programmers, covering programming fundamentals, standard library functionality, and so on. Each problem consists of a task description, code solution and 3 automated test cases.
- **Paper:**

[2021-08-19 11:13] yang-collect opened #2818 "cannot load data from my loacal path"
## Describe the bug
I just want to directly load data from my local path,but find a bug.And I compare it with pandas to provide my local path is real.

here is my code
[code]

## Steps to reproduce the bug
[code]

## Expected results
A clear and concise description of the expected results.

## Actual results
Specify the actual results or traceback.

## Environment info

- `datasets` version:  1.11

[2021-08-19 16:54] lewtun commented on #1675
Hi @siddk thanks to a tip from @richarddwang it seems we can access some of the partitions that EleutherAI created for the Pile [here](https://the-eye.eu/public/AI/pile_preliminary_components/). What's missing are links to the preprocessed versions of pre-existing datasets like DeepMind Mathematics and OpenSubtitles, but worst case we do the processing ourselves and host these components on the Hu

[2021-08-19 16:56] lewtun commented on #1675
Ah I just saw that @lhoestq is already thinking about the specifying of one or more subsets in [this PR](https://github.com/huggingface/datasets/pull/2817#issuecomment-901874049) :)

[2021-08-20 02:52] smeyerhot opened #2820 "Downloading “reddit” dataset keeps timing out."
## Describe the bug
A clear and concise description of what the bug is.
Everytime I try and download the reddit dataset it times out before finishing and I have to try again.

There is some timeout error that I will post once it happens again.

## Steps to reproduce the bug
[code]

## Expected results
A clear and concise description of the expected results.

I would expect the download to finish,

[2021-08-20 03:32] smeyerhot commented on #2820
[code]

[2021-08-20 05:51] TejasKarkera10 commented on #2820
Hey @lhoestq should I try to fix this issue ?

[2021-08-20 12:15] NielsRogge opened #2821 "Cannot load linnaeus dataset"
## Describe the bug
The [linnaeus](https://huggingface.co/datasets/linnaeus) dataset cannot be loaded. To reproduce:
[code]
This results in:
[code]

[2021-08-20 15:27] smeyerhot commented on #2820
It also doesn't seem to be "smart caching" and I received an error about a file not being found...

[2021-08-20 17:42] smeyerhot commented on #2820
To be clear, the error I get when I try to "re-instantiate" the download after failure is:
[code]

[2021-08-21 13:17] rp2839 opened #2823 "HF_DATASETS_CACHE variable in Windows"
I can't seem to use a custom Cache directory in Windows. I have tried:

set HF_DATASETS_CACHE = "C:\Datasets"
set HF_DATASETS_CACHE = "C:/Datasets"
set HF_DATASETS_CACHE = "C:\\Datasets"
set HF_DATASETS_CACHE = "r'C:\Datasets'"
set HF_DATASETS_CACHE = "\Datasets"
set HF_DATASETS_CACHE = "/Datasets"

In each instance I get the "[WinError 123] The filename, directory name, or volume label syntax is

[2021-08-21 13:20] rp2839 commented on #2823
Agh - I'm a muppet. No quote marks are needed.
set HF_DATASETS_CACHE = C:\Datasets
works as intended.

[2021-08-21 13:20] #2823 closed

[2021-08-21 18:49] smeyerhot commented on #2820
Here is a new error:
[code]

[2021-08-23 03:23] hobbitlzy opened #2825 "The datasets.map function does not load cached dataset"
## Describe the bug
The datasets.map function caches the processed data to a certain directory. When the map function is called another time with totally the same parameters, the cached data are supposed to be reloaded instead of re-processing. However, it doesn't reuse cached data sometimes. I use the common data processing in different tasks, the datasets are processed again, the only difference

[2021-08-23 09:29] lhoestq commented on #2820
Hi ! Since https://github.com/huggingface/datasets/pull/2803 we've changed the time out from 10sec to 100sec.
This should prevent the `ReadTimeoutError`. Feel free to try it out by installing `datasets` from source
[code]

When re-running your code you said you get a `OSError`, could you try deleting the file at the path returned by the error ? (the one after `[Errno 20] Not a directory:`). Ideall

[2021-08-23 12:21] adeepH opened #2826 "Add a Text Classification dataset: KanHope"
## Adding a Dataset
- **Name:** *KanHope*
- **Description:** *A code-mixed English-Kannada dataset for Hope speech detection*
- **Paper:** *https://arxiv.org/abs/2108.04616* (I am the author of the paper}
- **Author:** *[AdeepH](https://github.com/adeepH)*
- **Data:** *https://github.com/adeepH/KanHope/tree/main/dataset*
- **Motivation:** *The dataset is amongst the very few resources available fo

[2021-08-23 15:59] #2813 closed

[2021-08-23 16:15] smeyerhot commented on #2820
@lhoestq thanks for the update. The directory specified by the OSError ie.
[code]

[2021-08-23 16:56] lhoestq opened #2829 "Optimize streaming from TAR archives"
Hi ! As you know TAR has some constraints for data streaming. While it is optimized for buffering, the files in the TAR archive **need to be streamed in order**. It means that we can't choose which file to stream from, and this notation is to be avoided for TAR archives:
[code]
Instead, I suggest we implement `iter_archive` for the `StreamingDownloadManager`.
The regular `DownloadManager` already

[2021-08-23 17:00] lhoestq commented on #2763
Hi ! Certain users might need these data (for training or simply to explore/index the dataset).

Feel free to implement a map function that gets rid of these paragraphs and process the wikipedia dataset with it before training

[2021-08-23 17:07] lhoestq commented on #2775
Hi !

IMO we shouldn't try to modify `set_seed` from transformers but maybe make `datasets` have its own RNG just to generate random fingerprints.

Any opinion on this @LysandreJik ?

[2021-08-23 17:12] lhoestq commented on #2788
Hi ! This is not possible just with `load_dataset`.

You can do something like this instead:
[code]

Another alternative is loading each file separately with `split="train[:8]"` and then use `concatenate_datasets` to merge the sample of each file.

[2021-08-23 17:23] lhoestq commented on #2643
Hi ! Thanks for reporting :)

Until this is fixed on `dill`'s side, we could implement a custom saving in our Pickler indefined in utils.py_utils.py
There is already a suggestion in this message about how to do it:
https://github.com/uqfoundation/dill/issues/250#issuecomment-852566284

Let me know if such a workaround could help, and feel free to open a PR of you want to contribute !

[2021-08-23 17:27] lhoestq commented on #2799
The code works fine on my side.
Not sure what's going on here.

I remember we did a few changes in the JSON loader in #2638 , did you do an update `datasets` when debugging this ?

[2021-08-23 17:33] lhoestq commented on #2820
Oh, then could you try deleting the parent directory `1ec12301abba4daa60eb3a90e53529b5b173296b22dc3bef3186e205c75e594c` instead ?
This way the download manager will know that it has to uncompress the data again

[2021-08-23 19:32] smeyerhot commented on #2820
It seems to have worked. It only took like 20min! I think the extra timeout length did the trick! One thing is that it downloaded a total of 41gb instead of 20gb but at least it finished.

[2021-08-24 08:50] uniquefine opened #2831 "ArrowInvalid when mapping dataset with missing values"
## Describe the bug
I encountered an `ArrowInvalid` when mapping dataset with missing values.
Here are the files for a minimal example. The exception is only thrown when the first line in the csv has a missing value (if you move the last line to the top it isn't thrown).
[data_small.csv](https://github.com/huggingface/datasets/files/7037838/data_small.csv)
[data.csv](https://github.com/huggingface

[2021-08-24 11:50] LysandreJik opened #2832 "Logging levels not taken into account"
## Describe the bug

The `logging` module isn't working as intended relative to the levels to set.

## Steps to reproduce the bug

[code]

## Expected results

I expect all logs to be output since I'm putting a `debug` level.

## Actual results

Only the two first logs are output.

## Environment info

- `datasets` version: 1.11.0
- Platform: Linux-5.13.9-arch1-1-x86_64-with-glibc2.33
- Python ver

[2021-08-24 14:54] SkanderHellal commented on #843
Hello everyone,

I think the  problem is not resolved:

[code]
This code is produced using `Python 3.6.9 datasets==1.1.2 and bert_score==0.3.10`

[2021-08-24 15:55] aronszanto commented on #2165
Worth mentioning that any function that expects a `torch..Dataset` (like `torch..DataLoader`) will fail a mypy-esque typecheck if a `datasets.Dataset` is passed, even though it implements the interface correctly (I think). The virtual subclass idea was a good one- I wonder if there's another workaround given the Generic issue. What we're really talking about is something similar to the structural

[2021-08-24 16:49] lhoestq opened #2833 "IndexError when accessing first element of a Dataset if first RecordBatch is empty"
The computation of the offsets of the underlying Table of a Dataset has some issues if the first RecordBatch is empty.

[code]
raises
[code]

This can be fixed by ignoring empty batches when computing `table._batches` and `table._offsets`

cc @SaulLu

[2021-08-24 17:21] #2833 closed

[2021-08-25 01:17] Frankie123421 commented on #2117
use glue_metric.py instead of glue.py in load_metric

[2021-08-25 03:52] behzadg commented on #2503
Please [see my response](https://github.com/megagonlabs/SubjQA/issues/3#issuecomment-905160010). There will be a fix in a couple of days.

[2021-08-25 14:18] #2629 closed

[2021-08-25 15:21] Dref360 opened #2837 "prepare_module issue when loading from read-only fs"
## Describe the bug

When we use prepare_module from a readonly file system, we create a FileLock using the `local_path`.
This path is not necessarily writable.

`lock_path = local_path + ".lock"`

## Steps to reproduce the bug

Run `load_dataset` on a readonly python loader file.
[code]

where `python_loader` is a path to a file located in a readonly folder.

## Expected results
This should work

[2021-08-26 13:50] thomasw21 opened #2839 "OpenWebText: NonMatchingSplitsSizesError"
## Describe the bug

When downloading `openwebtext`, I'm getting:
[code]

I suspect that the file we download from has changed since the size doesn't look like to match with documentation

`Downloading:   0%|          | 0.00/12.9G [00:00<?, ?B/s]` This suggest the total size is 12.9GB, whereas the one documented mentions `Size of downloaded dataset files: 12283.35 MB`.

## Steps to reproduce the b

[2021-08-26 17:36] Doragd opened #2840 "How can I compute BLEU-4 score use `load_metric` ?"
I have found the sacrebleu metric. But, I do not know the difference between it and BLEU-4.
If I want to compute BLEU-4 score, what can i do?

[2021-08-26 17:47] yjernite opened #2841 "Adding GLUECoS Hinglish and Spanglish code-switching bemchmark"
## Adding a Dataset
- **Name:** GLUECoS
- **Description:** a Microsoft Benchmark to evaluate code-switching for only two language pairs but a variety of tasks
- **Paper:** https://aclanthology.org/2020.acl-main.329/
- **Data:** https://github.com/microsoft/GLUECoS
- **Motivation:** We currently only have [one other](https://huggingface.co/datasets/lince) dataset for code-switching

Instructions to

[2021-08-26 23:31] stas00 opened #2842 "always requiring the username in the dataset name when there is one"
Me and now another person have been bitten by the `datasets`'s non-strictness on requiring a dataset creator's username when it's due.

So both of us started with `stas/openwebtext-10k`, somewhere along the lines lost `stas/` and continued using `openwebtext-10k` and it all was good until we published the software and things broke, since there is no `openwebtext-10k`

So this feature request is as

[2021-08-27 08:13] #2840 closed, assigned to nobody

[2021-08-27 18:21] stas00 opened #2845 "[feature request] adding easy to remember `datasets.cache_dataset()` + `datasets.is_dataset_cached()`"
Often, there is a need to prepare a dataset but not use it immediately, e.g. think tests suite setup, so it'd be really useful to be able to do:

[code]

This can already be done with:
[code]

but the current way is a way less intuitive and much harder to remember than the proposed API, IMHO.

One more way is to do:

[code]
but it wastes resources loading the dataset when it's not needed.

this ha

[2021-08-27 20:50] jadermcs opened #2846 "Negative timezone"
## Describe the bug
The load_dataset method do not accept a parquet file with a negative timezone, as it has the following regex:
[code]
So a valid timestap ```timestamp[us, tz=-03:00]``` returns an error when loading parquet files.

## Steps to reproduce the bug
[code]

## Expected results
The -03:00 is a valid tz so the regex should accept this without raising an error.

## Actual results
As thi

[2021-08-30 03:02] YuhaoT commented on #743
Hi @lhoestq, Below is the entire error message after I move both tsv files to the same directory. It's the same with I got before.
[code]

[2021-08-30 10:14] osanseviero opened #2849 "Add Open Catalyst Project Dataset"
## Adding a Dataset
- **Name:**  Open Catalyst 2020 (OC20) Dataset
- **Website:** https://opencatalystproject.org/
- **Data:** https://github.com/Open-Catalyst-Project/ocp/blob/master/DATASET.md

Instructions to add a new dataset can be found [here](https://github.com/huggingface/datasets/blob/master/ADD_NEW_DATASET.md).

[2021-08-30 10:44] osanseviero opened #2850 "Wound segmentation datasets"
## Adding a Dataset
- **Name:** Wound segmentation datasets
- **Description:** annotated wound image dataset
- **Paper:** https://www.nature.com/articles/s41598-020-78799-w
- **Data:** https://github.com/uwm-bigdata/wound-segmentation
- **Motivation:** Interesting simple image dataset, useful for segmentation, with visibility due to http://www.miccai.org/special-interest-groups/challenges/ and htt

[2021-08-30 15:17] lhoestq commented on #843
Hi ! This has been fixed by https://github.com/huggingface/datasets/pull/2770, we'll do a new release soon to make the fix available :)

In the meantime please use an older version of `bert_score`

[2021-08-30 16:53] lhoestq commented on #743
Hi !
Can you try running this into a python shell directly ?

[code]

This way all the code from `run_glue.py` doesn't interfere with our tests :)

[2021-08-31 08:46] lhoestq commented on #2818
Hi ! The `data_files` parameter must be a string, a list/tuple or a python dict.

Can you check the type of your `config.train_path` please ? Or use `data_files=str(config.train_path)` ?

[2021-08-31 08:46] lhoestq commented on #2820
Great ! The timeout change will be available in the next release of `datasets` :)

[2021-08-31 10:15] lhoestq commented on #2825
Thanks for reporting ! This is indeed a bug, I'm looking into it

[2021-08-31 13:12] #2821 closed

[2021-08-31 13:13] lhoestq commented on #2821
Thanks for reporting ! #2852 fixed this error

We'll do a new release of `datasets` soon :)

[2021-08-31 13:14] lhoestq commented on #2825
#2854 fixed the issue :)

We'll do a new release of `datasets` soon to make the fix available.
In the meantime, feel free to try it out by installing `datasets` from source

If you have other issues or any question, feel free to re-open the issue :)

[2021-08-31 13:25] lhoestq commented on #2826
Hi ! In your script it looks like you're trying to load the dataset `bn_hate_speech,`, not KanHope.

Moreover the error `KeyError: ' '` means that you have a feature of type ClassLabel, but for a certain example of the dataset, it looks like the label is empty (it's just a string with a space). Can you make sure that the data don't have missing labels, and that your dataset script parses the label

[2021-08-31 14:15] lhoestq commented on #2831
Hi ! It fails because of the feature type inference.

Because the first 1000 examples all have null values in the "match" field, then it infers that the type for this field is `null` type before writing the data on disk. But as soon as it tries to map an example with a non-null "match" field, then it fails.

To fix that you can either:
- increase the writer_batch_size to >2000 (default is 1000) so

[2021-08-31 14:38] lhoestq commented on #2839
Thanks for reporting, I'm updating the verifications metadata

[2021-08-31 17:12] lhoestq commented on #2839
I just regenerated the verifications metadata and noticed that nothing changed: the data file is fine (the checksum didn't change), and the number of examples is still 8013769. Not sure how you managed to get 7982430 examples.

Can you try to delete your cache ( by default at `~/.cache/huggingface/datasets`) and try again please ?

[2021-08-31 21:11] lhoestq opened #2859 "Loading allenai/c4 in streaming mode does too many HEAD requests"
This does 60,000+ HEAD requests to get all the ETags of all the data files:
[code]
It makes loading the dataset completely impractical.

The ETags are used to compute the config id (it must depend on the data files being used).
Instead of using the ETags, we could simply use the commit hash of the dataset repository on the hub, as well and the glob pattern used to resolve the files (here it's `*`

[2021-09-01 08:16] severo commented on #2859
https://github.com/huggingface/datasets/blob/6c766f9115d686182d76b1b937cb27e099c45d68/src/datasets/builder.py#L179-L186

[2021-09-01 08:43] tanvidadu commented on #726
Hi,  I got the similar issue for xnli dataset while working on colab with python3.7.

`nlp.load_dataset(path = 'xnli')`

The above command resulted in following issue :
[code]

Any idea how to fix this  ?

[2021-09-01 11:04] mrm8488 opened #2860 "Cannot download TOTTO dataset"
Error: Couldn't find file at https://storage.googleapis.com/totto/totto_data.zip

`datasets version: 1.11.0`
# How to reproduce:

[code]

[2021-09-01 22:18] ZhaofengWu opened #2862 "Only retain relevant statistics in certain metrics"
**Is your feature request related to a problem? Please describe.**
As I understand, in the `add_batch()` function, the raw predictions and references are kept (in memory?) until `compute()` is called.
https://github.com/huggingface/datasets/blob/e248247518140d5b0527ce2843a1a327e2902059/src/datasets/metric.py#L423-L442

This takes O(n) memory. However, for many (most?) metrics, this is not necessar

[2021-09-02 05:06] albertvillanova commented on #2860
Hola @mrm8488, thanks for reporting.

Apparently, the data source host changed their URL one week ago: https://github.com/google-research-datasets/ToTTo/commit/cebeb430ec2a97747e704d16a9354f7d9073ff8f

I'm fixing it.

[2021-09-02 06:47] #2860 closed

[2021-09-02 08:25] albertvillanova commented on #2552
Fixed by #2555.

[2021-09-02 08:25] #2552 closed

[2021-09-02 13:10] severo opened #2866 ""counter" dataset raises an error in normal mode, but not in streaming mode"
## Describe the bug

`counter` dataset raises an error on `load_dataset()`, but simply returns an empty iterator in streaming mode.

## Steps to reproduce the bug

[code]

[code]

## Expected results

An exception should be raised in streaming mode

## Actual results

No exception is raised in streaming mode: there is no way to tell if something has broken or if the dataset is simply empty.

## En

[2021-09-02 15:02] LoraIpsum commented on #224
Hi there. We ran into the same problem this year (converting BLEURT to PyTorch) and thanks to @adamwlev found his colab notebook which didn't work but served as a good starting point. Finally, we **made it work** by doing just two simple conceptual fixes:

1. Transposing 'kernel' layers instead of 'dense' ones when copying params from the original model;
2. Taking pooler_output as a cls_state in f

[2021-09-02 17:14] YuhaoT commented on #743
Hi @lhoestq,

Below is what I got from terminal after I pasted and run your code. I think the files themselves are good since there is no assertion error.

[code]

[2021-09-02 20:36] nateraw opened #2868 "Add Common Objects in 3D (CO3D)"
## Adding a Dataset
- **Name:** *Common Objects in 3D (CO3D)*
- **Description:** *See blog post [here](https://ai.facebook.com/blog/common-objects-in-3d-dataset-for-3d-reconstruction)*
- **Paper:** *[link to paper](https://arxiv.org/abs/2109.00512)*
- **Data:** *[link to data](https://ai.facebook.com/datasets/co3d-downloads/)*
- **Motivation:** *excerpt from above blog post:*

Instructions to add

[2021-09-03 09:55] rpowalski commented on #887
Hi @lhoestq,
Any chance you have some updates on the supporting `ArrayXD` as a subtype?

e.g.:
`datasets.features.Sequence(datasets.features.Array2D(shape=(137, 2), dtype="float32"))`

[2021-09-03 11:27] Chenfei-Kang opened #2869 "TypeError: 'NoneType' object is not callable"
## Describe the bug

TypeError: 'NoneType' object is not callable
## Steps to reproduce the bug
[code]

## Expected results
A clear and concise description of the expected results.

## Actual results
Specify the actual results or traceback.

## Environment info

- `datasets` version: 1.11.0
- Platform:
- Python version: 3.7
- PyArrow version:

[2021-09-03 15:25] albertvillanova commented on #2869
Hi, @Chenfei-Kang.

I'm sorry, but I'm not able to reproduce your bug:
[code]
[code]

Could you please give more details and environment info (platform, PyArrow version)?

[2021-09-03 15:49] albertvillanova commented on #2866
Hi @severo, thanks for reporting.

Just note that currently not all canonical datasets support streaming mode: this is one case!

All datasets that use `pathlib` joins (using `/`) instead of `os.path.join` (as in this dataset) do not support streaming mode yet.

[2021-09-03 15:52] severo commented on #2866
OK. Do you think it's possible to detect this, and raise an exception (maybe `NotImplementedError`, or a specific `StreamingError`)

[2021-09-06 08:54] fghg123 commented on #1773
You can try to convert the file to (CSV UTF-8)

[2021-09-06 12:29] albertvillanova commented on #2866
We should definitely support datasets using `pathlib` in streaming mode...

For non-supported datasets in streaming mode, we have already a request of raising an error/warning: see #2654.

[2021-09-06 14:03] lhoestq commented on #743
Hi, could this be a permission error ? I think it fails to close the arrow file that contains the data from your CSVs in the cache.

By default datasets are cached in `~/.cache/huggingface/datasets`, could you check that you have the right permissions ?
You can also try to change the cache directory by passing `cache_dir="path/to/my/cache/dir"` to `load_dataset`.

[2021-09-06 16:15] lhoestq commented on #887
Hi ! We haven't worked in this lately and it's not in our very short-term roadmap since it requires a bit a work to make it work with arrow. Though this will definitely be added at one point.

[2021-09-06 17:09] thomasw21 commented on #2839
I'll try without deleting the whole cache (we have large datasets already stored).
Sorry plateform should be linux (Redhat version 8.1)

[2021-09-06 21:06] bwang482 opened #2871 "datasets.config.PYARROW_VERSION has no attribute 'major'"
In the test_dataset_common.py script, line 288-289

[code]

which throws the error below. `datasets.config.PYARROW_VERSION` itself return the string '4.0.1'. I have tested this on both datasets.__version_=='1.11.0' and '1.9.0'. I am using Mac OS.

[code]

## Environment info
- `datasets` version: 1.11.0
- Platform: Darwin-20.6.0-x86_64-i386-64bit
- Python version: 3.7.11
- PyArrow version: 4.0.1

[2021-09-06 21:09] bwang482 commented on #2871
I have changed line 288 to `if int(datasets.config.PYARROW_VERSION.split(".")[0]) < 3:` just to get around it.

[2021-09-07 05:44] albertvillanova commented on #2871
Hi @bwang482,

I'm sorry but I'm not able to reproduce your bug.

Please note that in our current master branch, we made a commit (d03223d4d64b89e76b48b00602aba5aa2f817f1e) that simultaneously modified:
- test_dataset_common.py: https://github.com/huggingface/datasets/commit/d03223d4d64b89e76b48b00602aba5aa2f817f1e#diff-a1bc225bd9a5bade373d1f140e24d09cbbdc97971c2f73bb627daaa803ada002L289 that intr

[2021-09-07 12:13] osanseviero opened #2875 "Add Congolese Swahili speech datasets"
## Adding a Dataset
- **Name:** Congolese Swahili speech corpora
- **Data:** https://gamayun.translatorswb.org/data/

Instructions to add a new dataset can be found [here](https://github.com/huggingface/datasets/blob/master/ADD_NEW_DATASET.md).

Also related: https://mobile.twitter.com/OktemAlp/status/1435196393631764482

[2021-09-07 14:09] lhoestq opened #2877 "Don't keep the dummy data folder or dataset_infos.json when resolving data files"
When there's no dataset script, all the data files of a folder or a repository on the Hub are loaded as data files.

There are already a few exceptions:
- files starting with "." are ignored
- the dataset card "README.md" is ignored
- any file named "config.json" is ignored (currently it isn't used anywhere, but it could be used in the future to define splits or configs for example, but not 100% s

[2021-09-07 15:15] Grassycup opened #2878 "NotADirectoryError: [WinError 267] During load_from_disk"
## Describe the bug
Trying to load saved dataset or dataset directory from Amazon S3 on a Windows machine fails.
Performing the same operation succeeds on non-windows environment (AWS Sagemaker).

## Steps to reproduce the bug
[code]

## Expected results
load_from_disk succeeds without error

## Actual results
Seems like it succeeds in pulling the file into a windows temp directory, as it exists i

[2021-09-07 17:28] bwang482 commented on #2871
Sorted. Thanks!

[2021-09-07 18:53] rcgale opened #2879 "In v1.4.1, all TIMIT train transcripts are "Would such an act of refusal be useful?""
## Describe the bug
Using version 1.4.1 of `datasets`, TIMIT transcripts are all the same.

## Steps to reproduce the bug
I was following this tutorial
- https://huggingface.co/blog/fine-tune-wav2vec2-english

But here's a distilled repro:
[code]
## Expected results
Expected the correct TIMIT data. Or an error saying that this version of `datasets` can't produce it.

## Actual results
Every train

[2021-09-07 20:35] bwang482 commented on #2871
Reopening this.

Has this got something to do with my pull request not passing `ci/circleci: run_dataset_script_tests_pyarrow` tests?

https://github.com/huggingface/datasets/pull/2873

[2021-09-08 08:51] albertvillanova commented on #2871
Hi @bwang482,

If you click on `Details` (on the right of your non passing CI test names: `ci/circleci: run_dataset_script_tests_pyarrow`), you can have more information about the non-passing tests.

For example, for ["ci/circleci: run_dataset_script_tests_pyarrow_1" details](https://circleci.com/gh/huggingface/datasets/46324?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-

[2021-09-08 08:51] #2871 closed

[2021-09-08 09:12] albertvillanova commented on #2879
Hi @rcgale, thanks for reporting.

Please note that this bug was fixed on `datasets` version 1.5.0: https://github.com/huggingface/datasets/commit/a23c73e526e1c30263834164f16f1fdf76722c8c#diff-f12a7a42d4673bb6c2ca5a40c92c29eb4fe3475908c84fd4ce4fad5dc2514878

If you update `datasets` version, that should work.

On the other hand, would it be possible for @patrickvonplaten to update the [blog post](

[2021-09-08 09:12] #2879 closed

[2021-09-08 09:21] albertvillanova commented on #2866
Hi @severo, please note that "counter" dataset will be streamable (at least until it arrives at the missing file, error already in normal mode) once these PRs are merged:
- #2874
- #2876
- #2880

I have tested it. 😉

[2021-09-08 09:24] #2869 closed

[2021-09-08 09:36] Chenfei-Kang commented on #2869
Sorry to reply you so late.
platform: pycharm 2021 + anaconda with python 3.7
PyArrow version: 5.0.0
huggingface-hub: 0.0.16
datasets: 1.9.0

[2021-09-08 10:44] albertvillanova commented on #2869
- For the platform, we need to know the operating system of your machine. Could you please run the command `datasets-cli env` and copy-and-paste its output below?
- In relation with the error, you just gave us the error type and message (`TypeError: 'NoneType' object is not callable`). Could you please copy-paste the complete stack trace, so that we know exactly which part of the code threw the er

[2021-09-08 11:04] Chenfei-Kang commented on #2869
1. For the platform, here are the output:
        - datasets` version: 1.11.0
        - Platform: Windows-10-10.0.19041-SP0
        - Python version: 3.7.10
        - PyArrow version: 5.0.0
2. For the code and error：
[code]
[code]
   Thank you!

[2021-09-08 11:56] albertvillanova commented on #2869
For that environment, I am sorry but I can't reproduce the bug: I can load the dataset without any problem.

[2021-09-08 11:58] albertvillanova commented on #2869
One naive question: do you have internet access from the machine where you execute the code?

[2021-09-08 12:09] Chenfei-Kang commented on #2869
But I can download other task dataset such as `dataset = load_dataset('squad')`. I don't know what went wrong.  Thank you so much!

[2021-09-08 14:52] #2820 closed

[2021-09-08 15:11] arsarabi commented on #2252
Hi,

I'm experiencing the same issue where it is taking 40 minutes (with 500GB read from disk) to load a 220GB dataset stored using ``save_to_disk``. I'm loading from a SSD on Ubuntu 18.04, datasets 1.11.0, and pyarrow 5.0.0. After profiling ``load_from_disk`` and digging a bit into pyarrow I've found the following.

- About 60% of the load time is spent in ``pyarrow.Table.cast`` used within ``upd

[2021-09-08 16:54] rcgale commented on #2879
I just proposed a change in the blog post.

I had assumed there was a data format change that broke a previous version of the code, since presumably @patrickvonplaten tested the tutorial with the version they explicitly referenced. But that fix you linked suggests a problem in the code, which surprised me.

I still wonder, though, is there a way for downloads to be invalidated server-side? If the

[2021-09-08 16:55] rcgale commented on #2879
Also, thank you for a quick and helpful reply!

[2021-09-09 05:55] tmpr opened #2882 "`load_dataset('docred')` results in a `NonMatchingChecksumError`"
## Describe the bug
I get consistent `NonMatchingChecksumError: Checksums didn't match for dataset source files` errors when trying to execute `datasets.load_dataset('docred')`.

## Steps to reproduce the bug
It is quasi only this code:
[code]

## Expected results
The DocRED dataset should be loaded without any problems.

## Actual results
[code]

## Environment info
- `datasets` version: 1.11.0
-

[2021-09-09 08:07] albertvillanova commented on #2882
Hi @tmpr, thanks for reporting.

Two weeks ago (23th Aug), the host of the source `docred` dataset updated one of the files (`dev.json`): you can see it [here](https://drive.google.com/drive/folders/1c5-0YwnoJx8NS6CV2f-NoTHR__BdkNqw).

Therefore, the checksum needs to be updated.

Normally, in the meantime, you could avoid the error by passing `ignore_verifications=True` to `load_dataset`. However

[2021-09-09 10:11] rpowalski commented on #887
@lhoestq, thanks for the update.

I actually tried to modify some piece of code to make it work. Can you please tell if I missing anything here?
I think that for vast majority of cases it's enough to make first dimension of the array dynamic i.e. `shape=(None, 100, 100)`. For that, it's enough to modify class [ArrayExtensionArray](https://github.com/huggingface/datasets/blob/9ca24250ea44e7611c4dab

[2021-09-09 12:21] MotzWanted opened #2885 "Adding an Elastic Search index to a Dataset"
## Describe the bug
When trying to index documents from the squad dataset, the connection to ElasticSearch seems to break:

Reusing dataset squad (/Users/andreasmotz/.cache/huggingface/datasets/squad/plain_text/1.0.0/d6ec3ceb99ca480ce37cdd35555d6cb2511d223b9150cce08a837ef62ffea453)
 90%|████████████████████████████████████████████▉     | 9501/10570 [00:01<00:00, 6335.61docs/s]

No error is thrown,

[2021-09-09 16:29] lhoestq commented on #2252
Hi @arsarabi ! Thanks for investigating, these are useful insights.
Good catch about `Table.cast`, feel free to open a PR to use `Table.replace_schema_metadata` instead (plus it looks like it's not considered "experimental" anymore since pyarrow 5.0.0)

Regarding the `posix_madvise` system calls with `MADV_WILLNEED`, it's probably worth discussing about it on the Apache Arrow mailing list.

[2021-09-09 17:03] lhoestq commented on #887
Thanks for diving into this !

Indeed focusing on making the first dimensions dynamic make total sense (and users could still re-order their dimensions to match this constraint).
Your code looks great :) I think it can even be extended to support several dynamic dimensions if we want to.

Feel free to open a PR to include these changes, then we can update our test suite to make sure it works in al

[2021-09-09 18:26] YuhaoT commented on #743
Thank you!! @lhoestq

For some reason, I don't have the default path for datasets to cache, maybe because I work from a remote system.  The issue solved after I pass the `cache_dir` argument to the function. Thank you very much!!

[2021-09-09 18:58] Noorasri opened #2886 "Hj"

[2021-09-09 21:53] fcakyon opened #2888 "v1.11.1 release date"
Hello, i need to use latest features in one of my packages but there have been no new datasets release since 2 months ago.

When do you plan to publush v1.11.1 release?

[2021-09-10 07:32] Bwiggity opened #2889 "Coc"
## Adding a Dataset
- **Name:** *name of the dataset*
- **Description:** *short description of the dataset (or link to social media or blog post)*
- **Paper:** *link to the dataset paper if available*
- **Data:** *link to the Github repository or current dataset location*
- **Motivation:** *what are some good reasons to have this dataset*

Instructions to add a new dataset can be found [here](http

[2021-09-10 08:04] lvwerra commented on #2816
I started working on that.

[2021-09-10 09:51] rcacho172 opened #2890 "0x290B112ED1280537B24Ee6C268a004994a16e6CE"
## Adding a Dataset
- **Name:** *name of the dataset*
- **Description:** *short description of the dataset (or link to social media or blog post)*
- **Paper:** *link to the dataset paper if available*
- **Data:** *link to the Github repository or current dataset location*
- **Motivation:** *what are some good reasons to have this dataset*

Instructions to add a new dataset can be found [here](http

[2021-09-10 11:45] #2890 closed

[2021-09-10 11:45] #2889 closed

[2021-09-10 11:46] #2886 closed

[2021-09-10 11:51] albertvillanova commented on #2846
Fixed by #2847.

[2021-09-10 11:51] #2846 closed

[2021-09-10 12:31] severo commented on #2866
Now (on master), we get:

[code]

[code]

The error is now the same with or without streaming. I close the issue, thanks @albertvillanova and @lhoestq!

[2021-09-10 12:31] #2866 closed

[2021-09-10 12:32] severo commented on #2866
Note that we might want to open an issue to fix the "counter" dataset by itself, but I let it up to you.

[2021-09-10 14:07] lhoestq commented on #2888
Hi ! Probably 1.12 on monday :)

[2021-09-10 14:11] lhoestq opened #2892 "Error when encoding a dataset with None objects with a Sequence feature"
There is an error when encoding a dataset with None objects with a Sequence feature

To reproduce:
[code]
raises

[code]

Instead, if should run without error, as if the `features` were not passed

[2021-09-10 16:29] severo commented on #2866
Fixed here: https://github.com/huggingface/datasets/pull/2894. Thanks @albertvillanova

[2021-09-12 03:27] Jackg-08 opened #2898 "Hug emoji"
## Adding a Dataset
- **Name:** *name of the dataset*
- **Description:** *short description of the dataset (or link to social media or blog post)*
- **Paper:** *link to the dataset paper if available*
- **Data:** *link to the Github repository or current dataset location*
- **Motivation:** *what are some good reasons to have this dataset*

Instructions to add a new dataset can be found [here](http

[2021-09-12 07:38] rcacho172 opened #2899 "Dataset"
## Adding a Dataset
- **Name:** *name of the dataset*
- **Description:** *short description of the dataset (or link to social media or blog post)*
- **Paper:** *link to the dataset paper if available*
- **Data:** *link to the Github repository or current dataset location*
- **Motivation:** *what are some good reasons to have this dataset*

Instructions to add a new dataset can be found [here](http

[2021-09-12 16:12] #2899 closed

[2021-09-12 16:13] #2898 closed

[2021-09-12 16:15] #2888 closed

[2021-09-12 20:18] fcakyon commented on #2888
@albertvillanova i think this issue is still valid and should not be closed till `>1.11.0` is published :)

[2021-09-13 11:24] #2882 closed

[2021-09-13 13:56] #2663 closed

[2021-09-13 14:17] #2892 closed

[2021-09-13 19:12] severo opened #2901 "Incompatibility with pytest"
## Describe the bug

pytest complains about xpathopen / path.open("w")

## Steps to reproduce the bug

Create a test file, `test.py`:

[code]

And launch it with pytest:

[code]

## Expected results

It should give something like:

[code]

## Actual results

[code]

## Environment info

- `datasets` version: 1.12.0
- Platform: Linux-5.11.0-1017-aws-x86_64-with-glibc2.29
- Python version: 3.8.11
-

[2021-09-13 19:38] nateraw opened #2902 "Add WIT Dataset"
## Adding a Dataset
- **Name:** *WIT*
- **Description:** *Wikipedia-based Image Text Dataset*
- **Paper:** *[WIT: Wikipedia-based Image Text Dataset for Multimodal Multilingual Machine Learning
](https://arxiv.org/abs/2103.01913)*
- **Data:** *https://github.com/google-research-datasets/wit*
- **Motivation:**  (excerpt from their Github README.md)

Instructions to add a new dataset can be found [h

[2021-09-13 20:05] bhavitvyamalik commented on #2902
@hassiahk is working on it  #2810

[2021-09-13 20:08] yjernite commented on #2902
WikiMedia is now hosting the pixel values directly which should make it a lot easier!
The files can be found here:
https://techblog.wikimedia.org/2021/09/09/the-wikipedia-image-caption-matching-challenge-and-a-huge-release-of-image-data-for-research/
https://analytics.wikimedia.org/published/datasets/one-off/caption_competition/training/image_pixels/

[2021-09-13 21:10] nateraw commented on #2902
Thank you @bhavitvyamalik! Added this issue so we could track progress 😄 . Just linked the PR as well for visibility.

[2021-09-14 07:48] albertvillanova commented on #2901
Sorry, my bad... When implementing `xpathopen`, I just considered the use case in the COUNTER dataset... I'm fixing it!

[2021-09-14 08:40] #2901 closed

[2021-09-14 09:45] anoopkatti opened #2904 "FORCE_REDOWNLOAD does not work"
## Describe the bug
With GenerateMode.FORCE_REDOWNLOAD, the documentation says
    +------------------------------------+-----------+---------+
    |                                    | Downloads | Dataset |
    +====================================+===========+=========+
    | `REUSE_DATASET_IF_EXISTS` (default)| Reuse     | Reuse   |
    +------------------------------------+-----------+-------

[2021-09-14 21:06] margotwagner opened #2913 "timit_asr dataset only includes one text phrase"
## Describe the bug
The dataset 'timit_asr' only includes one text phrase. It only includes the transcription "Would such an act of refusal be useful?" multiple times rather than different phrases.

## Steps to reproduce the bug
Note: I am following the tutorial https://huggingface.co/blog/fine-tune-wav2vec2-english

1. Install the dataset and other packages
[code]
2. Load the dataset
[code]
3. Re

[2021-09-15 06:09] bhavitvyamalik commented on #2913
Hi @margotwagner,
This bug was fixed in #1995. Upgrading the datasets should work!

[2021-09-15 07:54] pierre-godard opened #2914 "Having a dependency defining fsspec entrypoint raises an AttributeError when importing datasets"
## Describe the bug
In one of my project, I defined a custom fsspec filesystem with an entrypoint.
My guess is that by doing so, a variable named `spec` is created in the module `fsspec` (created by entering a for loop as there are entrypoints defined, see the loop in question [here](https://github.com/intake/filesystem_spec/blob/0589358d8a029ed6b60d031018f52be2eb721291/fsspec/__init__.py#L55)).
S

[2021-09-15 08:05] albertvillanova commented on #2913
Hi @margotwagner,

Yes, as @bhavitvyamalik has commented, this bug was fixed in `datasets` version 1.5.0. You need to update it, as your current version is 1.4.1:

[2021-09-15 08:05] #2913 closed

[2021-09-15 12:45] wei1826676931 opened #2917 "windows download abnormal"
## Describe the bug
The script clearly exists (accessible from the browser), but the script download fails on windows. Then I tried it again and it can be downloaded normally on linux. why??
## Steps to reproduce the bug
[code]

## Expected results
It can be downloaded normally.

## Actual results
it cann't

## Environment info

- `datasets` version:1.11.0
- Platform:windows
- Python version:3.7
-

[2021-09-15 13:06] SBrandeis opened #2918 "`Can not decode content-encoding: gzip` when loading `scitldr` dataset with streaming"
## Describe the bug

Trying to load the `"FullText"` config of the `"scitldr"` dataset with `streaming=True` raises an error from `aiohttp`:
[code]

cc @lhoestq

## Steps to reproduce the bug
[code]

## Expected results
Returns the first sample of the dataset

## Actual results
Calling `__next__` crashes with the following Traceback:

[code]

## Environment info

- `datasets` version: 1.12.0
- Pla

[2021-09-15 13:10] lhoestq commented on #2917
Hi ! Is there some kind of proxy that is configured in your browser that gives you access to internet ? If it's the case it could explain why it doesn't work in the code, since the proxy wouldn't be used

[2021-09-15 14:05] lhoestq opened #2919 "Unwanted progress bars when accessing examples"
When accessing examples from a dataset formatted for pytorch, some progress bars appear when accessing examples:
[code]

This is because the pytorch formatter calls `map_nested` that uses progress bars

cc @sgugger

[2021-09-15 16:02] wei1826676931 commented on #2917
It is indeed an agency problem, thank you very, very much

[2021-09-15 16:49] albertvillanova commented on #2914
Closed by #2915.

[2021-09-15 16:49] #2914 closed

[2021-09-15 17:12] lhoestq opened #2921 "Using a list of multi-dim numpy arrays raises an error "can only convert 1-dimensional array values""
This error has been introduced in https://github.com/huggingface/datasets/pull/2361

To reproduce:
[code]
raises
[code]

[2021-09-15 17:18] #2919 closed

[2021-09-15 17:21] #2921 closed

[2021-09-15 17:21] lhoestq commented on #2919
doing a patch release now :)

[2021-09-15 17:44] severo opened #2923 "Loading an autonlp dataset raises in normal mode but not in streaming mode"
## Describe the bug

The same dataset (from autonlp) raises an error in normal mode, but does not raise in streaming mode

## Steps to reproduce the bug
[code]

## Expected results

Both calls should raise the same error

## Actual results

Call with streaming=False:

[code]

Call with `streaming=False`:

[code]

## Environment info

- `datasets` version: 1.12.1.dev0
- Platform: Linux-5.11.0-1017-

[2021-09-15 18:16] gar1t opened #2924 ""File name too long" error for file locks"
## Describe the bug

Getting the following error when calling `load_dataset("gar1t/test")`:

[code]

## Steps to reproduce the bug

Where the user cache dir (e.g. `~/.cache`) is on a file system that limits filenames to 255 chars (e.g. ext4):

[code]

## Expected results

Expect the function to return without an error.

## Actual results

[code]

## Environment info

- `datasets` version: 1.12.1
-

[2021-09-15 19:59] dar-tau opened #2926 "Error when downloading datasets to non-traditional cache directories"
## Describe the bug
When the cache directory is linked (soft link) to a directory on a NetApp device, the download fails.
This is

## Steps to reproduce the bug
[code]

[code]

## Expected results
Successfully loading IMDB dataset

## Actual results
[code]

## Environment info

- `datasets` version: 1.1.2
- Platform: Ubuntu
- Python version: 3.8

## Extra notes
Stranger yet, trying to debug the ph

[2021-09-16 01:14] timothyjlaurent opened #2927 "Datasets 1.12 dataset.filter TypeError: get_indices_from_mask_function() got an unexpected keyword argument"
## Describe the bug
Upgrading to 1.12 caused `dataset.filter` call to fail with

## Steps to reproduce the bug
[code]

`ds` is a `DatasetDict` produced by a jsonl dataset.
This runs fine on 1.11 but fails on 1.12

**Stack Trace**

## Expected results

I expect 1.12 datasets filter to filter the dataset without raising as it does on 1.11

## Actual results
[code]

## Environment info

- `datasets`

[2021-09-16 12:27] Rocketknight1 opened #2930 "Mutable columns argument breaks set_format"
## Describe the bug
If you pass a mutable list to the `columns` argument of `set_format` and then change the list afterwards, the returned columns also change.

## Steps to reproduce the bug
[code]

## Expected results
[code]

## Actual results
[code]

[2021-09-16 12:38] Rocketknight1 commented on #2930
Pushed a fix to my branch #2731

[2021-09-16 13:50] #2930 closed

[2021-09-16 17:17] lhoestq commented on #2917
Let me know if you have other questions :)

Closing this issue now

[2021-09-16 17:17] #2917 closed

[2021-09-17 12:47] #1713 closed

[2021-09-17 12:49] albertvillanova opened #2932 "Conda build fails"
## Describe the bug
Current `datasets` version in conda is 1.9 instead of 1.12.

The build of the conda package fails.

[2021-09-17 15:26] lhoestq opened #2934 "to_tf_dataset keeps a reference to the open data somewhere, causing issues on windows"
To reproduce:
[code]

This causes issues because the table holds a reference to an open arrow file that should be closed. So on windows it's not possible to delete or move the arrow file afterwards.

Moreover the CI test of the `to_tf_dataset` method isn't able to clean up the temporary arrow files because of this.

cc @Rocketknight1

[2021-09-17 16:52] daqieq opened #2937 "load_dataset using default cache on Windows causes PermissionError: [WinError 5] Access is denied"
## Describe the bug
Standard process to download and load the wiki_bio dataset causes PermissionError in Windows 10 and 11.

## Steps to reproduce the bug
[code]

## Expected results
It is expected that the dataset downloads without any errors.

## Actual results
PermissionError see trace below:
[code]
By commenting out the os.rename() [L604](https://github.com/huggingface/datasets/blob/master/src

[2021-09-18 10:39] ayaka14732 opened #2941 "OSCAR unshuffled_original_ko: NonMatchingSplitsSizesError"
## Describe the bug

Cannot download OSCAR `unshuffled_original_ko` due to `NonMatchingSplitsSizesError`.

## Steps to reproduce the bug

[code]

## Expected results

Loading is successful.

## Actual results

Loading throws above error.

## Environment info

- `datasets` version: 1.12.1
- Platform: Linux-5.4.0-81-generic-x86_64-with-glibc2.29
- Python version: 3.8.10
- PyArrow version: 5.0.0

[2021-09-18 16:25] ayaka14732 commented on #2941
I tried `unshuffled_original_da` and it is also not working

[2021-09-19 16:16] anton-l opened #2943 "Backwards compatibility broken for cached datasets that use `.filter()`"
## Describe the bug
After upgrading to datasets `1.12.0`, some cached `.filter()` steps from `1.11.0` started failing with
`ValueError: Keys mismatch: between {'indices': Value(dtype='uint64', id=None)} and {'file': Value(dtype='string', id=None), 'text': Value(dtype='string', id=None), 'speaker_id': Value(dtype='int64', id=None), 'chapter_id': Value(dtype='int64', id=None), 'id': Value(dtype='str

[2021-09-20 04:01] cccntu opened #2944 "Add `remove_columns` to `IterableDataset `"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

[code]
[code]

**Describe the solution you'd like**

It would be nice to have `.remove_columns()` to match the `Datasets` api.

**Describe alternatives you've considered**

This can be done with a single call to `.map()`,

I can try to help add this. 🤗

[2021-09-20 06:47] albertvillanova opened #2945 "Protect master branch"
After accidental merge commit (91c55355b634d0dc73350a7ddee1a6776dbbdd69) into `datasets` master branch, all commits present in the feature branch were permanently added to `datasets` master branch history, as e.g.:
- 00cc036fea7c7745cfe722360036ed306796a3f2
- 13ae8c98602bbad8197de3b9b425f4c78f582af1
- ...

I propose to protect our master branch, so that we avoid we can accidentally make this kind

[2021-09-20 07:19] albertvillanova commented on #2937
Hi @daqieq, thanks for reporting.

Unfortunately, I was not able to reproduce this bug:
[code]

This kind of error messages usually happen because:
- Your running Python script hasn't write access to that directory
- You have another program (the File Explorer?) already browsing inside that directory

[2021-09-20 08:34] albertvillanova commented on #2918
Hi @SBrandeis, thanks for reporting! ^^

I think this is an issue with `fsspec`: https://github.com/intake/filesystem_spec/issues/389

I will ask them if they are planning to fix it...

[2021-09-20 08:49] albertvillanova commented on #2918
Code to reproduce the bug: `ClientPayloadError: 400, message='Can not decode content-encoding: gzip'`
[code]

[2021-09-20 08:51] SBrandeis commented on #2918
Thanks for investigating @albertvillanova ! 🤗

[2021-09-20 09:01] lhoestq commented on #2945
Cool, I think we can do both :)

[2021-09-20 09:03] lhoestq commented on #2927
Thanks for reporting, I'm looking into it :)

[2021-09-20 09:06] lhoestq commented on #2885
Hi, is this bug deterministic in your poetry env ? I mean, does it always stop at 90% or is it random ?

Also, can you try using another version of Elasticsearch ? Maybe there's an issue with the one of you poetry env

[2021-09-20 09:14] lhoestq commented on #2904
Hi ! Thanks for reporting. The error seems to happen only if you use compressed files.

The second dataset is prepared in another dataset cache directory than the first - which is normal, since the source file is different. However, it doesn't uncompress the new data file because it finds the old uncompressed data in the extraction cache directory.

If we fix the extraction cache mechanism to unco

[2021-09-20 09:35] lhoestq commented on #2943
Hi ! I guess the caching mechanism should have considered the new `filter` to be different from the old one, and don't use cached results from the old `filter`.
To avoid other users from having this issue we could make the caching differentiate the two, what do you think ?

[2021-09-20 09:49] anton-l commented on #2943
If it's easy enough to implement, then yes please 😄  But this issue can be low-priority, since I've only encountered it in a couple of `transformers` CI tests.

[2021-09-20 10:14] lhoestq commented on #2943
Well it can cause issue with anyone that updates `datasets` and re-run some code that uses filter, so I'm creating a PR

[2021-09-20 12:00] albertvillanova commented on #2945
Now the 2 are implemented.

Please note that for the the second protection, finally I have chosen to protect the master branch only from **merge commits** (see update comment above), so no need to disable/re-enable the protection on each release (direct commits, different from merge commits, can be pushed to the remote master branch).

[2021-09-20 12:00] #2945 closed

[2021-09-20 14:17] mariosasko commented on #2934
I did some investigation and, as it seems, the bug stems from [this line](https://github.com/huggingface/datasets/blob/8004d7c3e1d74b29c3e5b0d1660331cd26758363/src/datasets/arrow_dataset.py#L325). The lifecycle of the dataset from the linked line is bound to one of the returned `tf.data.Dataset`. So my (hacky) solution involves wrapping the linked dataset with `weakref.proxy` and adding a custom `

[2021-09-20 15:11] lhoestq commented on #2943
I just merged a fix, let me know if you're still having this kind of issues :)

[2021-09-20 15:21] anton-l commented on #2943
Definitely works on several manual cases with our dummy datasets, thank you @lhoestq !

[2021-09-20 16:23] albertvillanova commented on #2927
Fixed by #2950.

[2021-09-20 16:23] #2927 closed

[2021-09-20 16:23] lhoestq commented on #2934
Thanks a lot for investigating !

[2021-09-20 16:25] albertvillanova commented on #2943
Fixed by #2947.

[2021-09-20 16:25] #2943 closed

[2021-09-20 16:28] Dref360 commented on #2837
Hello, I opened #2887 to fix this.

[2021-09-21 02:04] daqieq commented on #2937
Thanks @albertvillanova for looking at it! I tried on my personal Windows machine and it downloaded just fine.

Running on my work machine and on a colleague's machine it is consistently hitting this error. It's not a write access issue because the `.incomplete` directory is written just fine. It just won't rename and then it deletes the directory in the `finally` step. Also the zip file is writte

[2021-09-21 13:52] lhoestq commented on #2924
Hi, the filename here is less than 255
[code]
so not sure why it's considered too long for your filesystem.
(also note that the lock files we use always have smaller filenames than 255)

https://github.com/huggingface/datasets/blob/5d1a9f1e3c6c495dc0610b459e39d2eb8893f152/src/datasets/utils/filelock.py#L135-L135

[2021-09-21 13:55] lhoestq commented on #2839
Hi @thomasw21 , are you still having this issue after clearing your cache ?

[2021-09-21 14:03] gar1t commented on #2924
Yes, you're right! I need to get you more info here. Either there's something going with the name itself that the file system doesn't like (an encoding that blows up the name length??) or perhaps there's something with the path that's causing the entire string to  be used as a name. I haven't seen this on any system before and the Internet's not forthcoming with any info.

[2021-09-21 14:09] thomasw21 commented on #2839
Sorry I haven't had time to work on this. I'll close and re-open if I can't figure out why I'm having this issue. Thanks for taking a look !

[2021-09-21 14:09] #2839 closed

[2021-09-21 15:05] lhoestq commented on #2932
Why 1.9 ?

https://anaconda.org/HuggingFace/datasets currently says 1.11

[2021-09-21 15:58] JamieSlome opened #2953 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-22 09:45] lewtun commented on #2799
OK after upgrading `datasets` to v1.12.1 the issue seems to have gone away. Closing this now :)

[2021-09-22 09:49] lewtun commented on #2799
Oops, I spoke too soon 😓

After deleting the cache and trying the above code snippet again I am hitting the same error. Here's a Colab notebook which reproduces the error: https://colab.research.google.com/drive/1DMV2sYro9GZjtmgOnSd859nfNBGwFNim?usp=sharing

[2021-09-22 10:47] enze5088 commented on #2737
i see

How did you solve him

[2021-09-22 10:47] enze5088 commented on #2737
How did you solve him

[2021-09-22 13:34] SaulLu opened #2956 "Cache problem in the `load_dataset` method for local compressed file(s)"
## Describe the bug

Cache problem in the `load_dataset` method: when modifying a compressed file in a local folder `load_dataset` doesn't detect the change and load the previous version.

## Steps to reproduce the bug

To test it directly, I have prepared a [Google Colaboratory notebook](https://colab.research.google.com/drive/11Em_Amoc-aPGhSBIkSHU2AvEh24nVayy?usp=sharing) that shows this behavio

[2021-09-22 23:45] bradyneal opened #2957 "MultiWOZ Dataset NonMatchingChecksumError"
## Describe the bug
The checksums for the downloaded MultiWOZ dataset and source MultiWOZ dataset aren't matching.

## Steps to reproduce the bug
Both of the below dataset versions yield the checksum error:
[code]

## Expected results
For the above calls to `load_dataset` to work.

## Actual results
NonMatchingChecksumError. Traceback:

  File "/Users/brady/anaconda3/envs/elysium/lib/python3.8/sit

[2021-09-23 07:51] albertvillanova commented on #2953
Hi @JamieSlome,

Thanks for reaching out. Yes, you are right: I'm opening a PR to add the `SECURITY.md` file and a contact method.

In the meantime, please feel free to report the security issue to: feedback@huggingface.co

[2021-09-24 08:53] bagustris commented on #1840
I saw that this current datasets package holds common voice version 6.1, how to new add version 7.0 that is already available?

[2021-09-24 09:05] patrickvonplaten commented on #1840
Will me merged next week - we're working on it :-)

[2021-09-24 15:01] merveenoyan opened #2962 "Enable splits during streaming the dataset"
## Describe the Problem

I'd like to stream only a specific percentage or part of the dataset.
I want to do splitting when I'm streaming dataset as well.

## Solution
Enabling splits when `streaming = True` as well.
`e.g. dataset = load_dataset('dataset', split='train[:100]', streaming = True)`

## Alternatives
Below is the alternative of doing it.
`dataset = load_dataset("dataset", split='train',

[2021-09-24 15:35] keloemma opened #2963 "raise TypeError( TypeError: Provided `function` which is applied to all elements of table returns a variable of type <class 'list'>. Make sure provided `function` returns a variable of type `dict` to update the dataset or `None` if you are only interested in side effects."
## Describe the bug
A clear and concise description of what the bug is.
I am trying to use Dataset to load my file in order to use Bert embeddings model baut when I finished loading using dataset and I want to pass to the tokenizer using the function map; I get the following error : raise TypeError(
TypeError: Provided `function` which is applied to all elements of table returns a variable of type

[2021-09-24 15:38] #2963 closed

[2021-09-24 15:55] alvarobartt opened #2964 "Error when calculating Matthews Correlation Coefficient loaded with `load_metric`"
## Describe the bug

After loading the metric named "[Matthews Correlation Coefficient](https://huggingface.co/metrics/matthews_correlation)" from `🤗datasets`, the `.compute` method fails with the following exception `AttributeError: 'float' object has no attribute 'item'` (complete stack trace can be provided if required).

## Steps to reproduce the bug

[code]

## Expected results

We should exp

[2021-09-25 07:06] alvarobartt commented on #2964
I'd like to create a quick PR to address this bug if applicable, so just let me know whether I should go ahead or not! 🤗

[2021-09-25 08:06] alvarobartt commented on #2964
Ok after some more experiments I've realized that it's an issue from my side, at first I thought it was due to `fp16=True` in `TrainingArguments`, but in the end that may not be the issue, so I'll close this for now and check later, since the mistake is on my side :weary: Sorry for the inconvenience!

[2021-09-25 08:06] #2964 closed

[2021-09-25 13:17] Ririkoo opened #2965 "Invalid download URL of WMT17 `zh-en` data"
## Describe the bug
Partial data (wmt17 zh-en) cannot be downloaded due to an invalid URL.

## Steps to reproduce the bug
[code]

## Expected results
ConnectionError: Couldn't reach ftp://cwmt-wmt:cwmt-wmt@datasets.nju.edu.cn/parallel/casia2015.zip

[2021-09-25 20:58] WadeYin9712 opened #2967 "Adding vision-and-language datasets (e.g., VQA, VCR) to Datasets"
**Is your feature request related to a problem? Please describe.**
Would you like to add any vision-and-language datasets (e.g., VQA, VCR) to Huggingface Datasets?

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Additional context**
This is Da Yin at UCLA. Recently, we have published an EMNLP 2021 paper about geo-diverse visual commonsense reasoning (h

[2021-09-25 22:18] LysandreJik opened #2968 "`DatasetDict` cannot be exported to parquet if the splits have different features"
## Describe the bug

I'm trying to use parquet as a means of serialization for both `Dataset` and `DatasetDict` objects. Using `to_parquet` alongside `from_parquet` or `load_dataset` for a `Dataset` works perfectly.

For `DatasetDict`, I use `to_parquet` on each split to save the parquet files in individual folders representing individual splits. This works too, as long as the splits have identica

[2021-09-25 23:08] smeyerhot opened #2969 "medical-dialog error"
## Describe the bug
A clear and concise description of what the bug is.
When I attempt to download the huggingface datatset medical_dialog it errors out midway through
## Steps to reproduce the bug
[code]

## Expected results
A clear and concise description of the expected results.
No error
## Actual results

[code]
Specify the actual results or traceback.

## Environment info

- `datasets` versio

[2021-09-26 09:50] rcacho172 opened #2970 "Magnet’s"
## Adding a Dataset
- **Name:** *name of the dataset*
- **Description:** *short description of the dataset (or link to social media or blog post)*
- **Paper:** *link to the dataset paper if available*
- **Data:** *link to the Github repository or current dataset location*
- **Motivation:** *what are some good reasons to have this dataset*

Instructions to add a new dataset can be found [here](http

[2021-09-26 10:38] #2970 closed

[2021-09-26 13:42] #2550 closed

[2021-09-26 19:04] Ishan-Kumar2 commented on #2877
Hi @lhoestq I am new to huggingface datasets, I would like to work on this issue!

[2021-09-27 04:59] ontocord opened #2971 "masakhaner dataset load problem"
## Describe the bug
Masakhaner dataset is not loading

## Steps to reproduce the bug
[code]

## Expected results
Expected the return of a dataset

## Actual results

[code]

## Environment info
Google Colab

[2021-09-27 07:41] qqaatw opened #2972 "OSError: Not enough disk space."
## Describe the bug
I'm trying to download `natural_questions` dataset from the Internet, and I've specified the cache_dir which locates in a mounted disk and has enough disk space. However, even though the space is enough, the disk space checking function still reports the space of root `/` disk having no enough space.

The file system structure is like below. The root `/` has `115G` disk space a

[2021-09-27 07:57] Kamino666 commented on #2637
same

[2021-09-27 08:04] qqaatw commented on #2972
Maybe we can change the disk space calculating API from `shutil.disk_usage` to  `os.statvfs` in UNIX-like system, which can provide correct results.
[code]

[2021-09-27 08:31] albertvillanova commented on #2972
Hi @qqaatw, thanks for reporting.

Could you, please try:
[code]

[2021-09-27 08:36] qqaatw commented on #2972
@albertvillanova it works! Thanks for your suggestion. Is that a bug of `DownloadConfig`?

[2021-09-27 09:03] albertvillanova commented on #2971
Thanks for reporting, @ontocord. We are fixing the wrong metadata.

[2021-09-27 12:59] #2971 closed

[2021-09-27 17:46] nateraw commented on #2902
Hey folks, we are now hosting the merged pixel values + embeddings + metadata ourselves. I gave it a try - [nateraw/wit](https://huggingface.co/datasets/nateraw/wit)

**⚠️ - Make sure you add `streaming=True` unless you're prepared to download 400GB of data!**

[code]

[code]

[2021-09-27 21:38] mskovalova opened #2976 "Can't load dataset"
I'm trying to load a wikitext dataset

[code]

ValueError: Config name is missing.
Please pick one among the available configs: ['wikitext-103-raw-v1', 'wikitext-2-raw-v1', 'wikitext-103-v1', 'wikitext-2-v1']
Example of usage:
	`load_dataset('wikitext', 'wikitext-103-raw-v1')`.

If I try
[code]

FileNotFoundError: Couldn't find file at https://raw.githubusercontent.com/huggingface/datasets/1.12.1/

[2021-09-28 06:43] albertvillanova commented on #2972
`DownloadConfig` only sets the location to download the files. On the other hand, `cache_dir` sets the location for both downloading and caching the data. You can find more information here: https://huggingface.co/docs/datasets/loading_datasets.html#cache-directory

[2021-09-28 06:43] #2972 closed

[2021-09-28 06:53] albertvillanova commented on #2976
Hi @mskovalova,

Some datasets have multiple configurations. Therefore, in order to load them, you have to specify both the *dataset name* and the *configuration name*.

In the error message you got, you have a usage example:
- To load the 'wikitext-103-raw-v1' configuration of the 'wikitext' dataset, you should use:
[code]

In your case, if you would like to load the 'wikitext-2-v1' configuration

[2021-09-28 06:53] #2976 closed

[2021-09-28 07:18] Valahaar opened #2977 "Impossible to load compressed csv"
## Describe the bug
It is not possible to load from a compressed csv anymore.

## Steps to reproduce the bug
[code]

## Problem and possible solution
This used to work, but the commit that broke it is [this one](https://github.com/huggingface/datasets/commit/ad489d4597381fc2d12c77841642cbeaecf7a2e0#diff-6f60f8d0552b75be8b3bfd09994480fd60dcd4e7eb08d02f721218c3acdd2782).

`pandas` usually gets the c

[2021-09-28 09:41] albertvillanova opened #2978 "Run CI tests against non-production server"
Currently, the CI test suite performs requests to the HF production server.

We should refactor our tests to use the HF staging server instead.

[2021-09-28 11:34] asofiaoliveira opened #2979 "ValueError when computing f1 metric with average None"
## Describe the bug
When I try to compute the f1 score for each class in a multiclass classification problem, I get a ValueError. The same happens with recall and precision. I traced the error to the `.item()` in these scripts, which is probably there for the other averages. E.g. from f1.py:
[code]
Since the result is an array with more than one item, the `.item()` throws the error. I didn't submi

[2021-09-28 12:50] elishowk commented on #2978
Hey @albertvillanova could you provide more context, including extracts from the discussion we had ?

Let's ping @Pierrci @julien-c and @n1t0 for their opinion.

[2021-09-28 13:21] elishowk commented on #2978
@julien-c increased the huggingface.co production workers in order to see if it solve [the 502 you had this morning](https://app.circleci.com/pipelines/github/huggingface/datasets/7843/workflows/fc83fa32-18f5-4dc3-9e2f-ba277ae1af74)

For the reflexion process: be aware that moon-staging does not have persistent repos (they are deleted regularly). as a consequence, if the moon-stagin solution is va

[2021-09-28 15:04] cdleong opened #2980 "OpenSLR 25: ASR data for Amharic, Swahili and Wolof"
## Adding a Dataset
- **Name:** *SLR25*
- **Description:** *Subset 25 from OpenSLR. Other subsets have been added to https://huggingface.co/datasets/openslr, 25 covers Amharic, Swahili and Wolof data*
- **Paper:** *https://www.openslr.org/25/ has citations for each of the three subsubsets. *
- **Data:** *Currently the three links to the .tar.bz2 files can be found a thttps://www.openslr.org/25/*
-

[2021-09-28 15:09] cdleong commented on #2980
Whoever handles this just needs to:

- [ ] update the [existing dataset script](https://github.com/huggingface/datasets/blob/master/datasets/openslr/openslr.py) to add SLR25. Lots of copypasting from other sections of the script should make that easy. Amharic URL: https://www.openslr.org/resources/25/data_readspeech_am.tar.bz2. Swahili URL: https://www.openslr.org/resources/25/data_broadcastnews_s

[2021-09-28 15:17] cdleong commented on #2980
![image](https://user-images.githubusercontent.com/4109253/135116070-82d4e732-b7b3-4c5b-bd4e-a40d8ccabb0e.png)

[2021-09-29 04:49] zijwang opened #2984 "Exceeded maximum rows when reading large files"
## Describe the bug
A clear and concise description of what the bug is.
When using `load_dataset` with json files, if the files are too large, there will be "Exceeded maximum rows" error.

## Steps to reproduce the bug
[code]

## Expected results
No error

## Actual results
[code]

## Environment info

- `datasets` version:
- Platform: Linux
- Python version: 3.9
- PyArrow version: 4.0.1

[2021-09-29 09:02] lhoestq commented on #2877
Thanks for the help :)

As mentioned in the PR, excluding files named "dummy_data.zip" is actually more general than excluding the files inside a "dummy" folder. I just did the change in the PR, I think we can merge it now

[2021-09-29 09:05] #2877 closed

[2021-09-29 14:18] NielsRogge opened #2987 "ArrowInvalid: Can only convert 1-dimensional array values"
## Describe the bug

For the ViT and LayoutLMv2 demo notebooks in my [Transformers-Tutorials repo](https://github.com/NielsRogge/Transformers-Tutorials), people reported an ArrowInvalid issue after applying the following function to a Dataset:

[code]

[code]
It can be fixed by adding the following line:

[code]

However, would be great if this can be fixed within Datasets itself.

[2021-09-29 16:04] dorost1234 opened #2988 "IndexError: Invalid key: 14 is out of bounds for size 0"
## Describe the bug
A clear and concise description of what the bug is.

Hi. I am trying to implement stochastic weighted averaging optimizer with transformer library as described here https://pytorch.org/blog/pytorch-1.6-now-includes-stochastic-weight-averaging/ , for this I am using a run_clm.py codes which is working fine before adding SWA optimizer, the moment I modify the model with `swa_mode

[2021-09-30 10:19] albertvillanova commented on #2987
Hi @NielsRogge, thanks for reporting!

In `datasets`, we were handling N-dimensional arrays only when passed as an instance of `np.array`, not when passed as a list of `np.array`s.

I'm fixing it.

[2021-09-30 13:22] SaulLu opened #2991 "add docmentation for the `Unix style pattern` matching feature that can be leverage for `data_files` into `load_dataset`"
Unless I'm mistaken, it seems that in the new documentation it is no longer mentioned that you can use Unix style pattern matching in the  `data_files` argument of the `load_dataset` method.

This feature was mentioned [here](https://huggingface.co/docs/datasets/loading_datasets.html#from-a-community-dataset-on-the-hugging-face-hub) in the previous documentation.

I'd love to hear your opinion @lh

[2021-09-30 13:27] albertvillanova commented on #2984
Hi @zijwang, thanks for reporting this issue.

You did not mention which `datasets` version you are using, but looking at the code in the stack trace, it seems you are using an old version.

Could you please update `datasets` (`pip install -U datasets`) and check if the problem persists?

[2021-09-30 13:41] albertvillanova commented on #2979
Hi @asofiaoliveira, thanks for reporting.

I'm fixing it.

[2021-09-30 23:00] VictorSanh opened #2993 "Can't download `trivia_qa/unfiltered`"
## Describe the bug

For some reason, I can't download `trivia_qa/unfilted`. A file seems to be missing... I am able to see it fine though the viewer tough...

## Steps to reproduce the bug
[code]

## Expected results
I am able to load another subset (`rc`), but unable to load.
I am not sure why the try/except doesn't catch it...
https://github.com/huggingface/datasets/blob/9675a5a1e7b99a86f9c250f

[2021-10-01 06:23] Timothyxxx commented on #2957
Hi Brady! I met the similar issue, it stuck in the downloading stage instead of download anything, maybe it is broken. After I change the downloading from URLs to one url of the [Multiwoz project](https://github.com/budzianowski/multiwoz/archive/44f0f8479f11721831c5591b839ad78827da197b.zip) and use dirs to get separate files, the problems gone.

[2021-10-01 12:09] marshmellow77 opened #2997 "Dataset has incorrect labels"
The dataset https://huggingface.co/datasets/turkish_product_reviews has incorrect labels - all reviews are labelled with "1" (positive sentiment). None of the reviews is labelled with "0". See screenshot attached:

![Capture](https://user-images.githubusercontent.com/63367770/135617428-14ce0b27-5208-4e66-a3ee-71542e3257b4.PNG)

[2021-10-01 13:49] pya25 opened #2998 "cannot shuffle dataset loaded from disk"
## Describe the bug
dataset loaded from disk cannot be shuffled.

## Steps to reproduce the bug
[code]

## Actual results
[code]
## Environment info

- `datasets` version: 1.12.1

- Python version: 3.7
- PyArrow version: 5.0.0

[2021-10-01 13:54] albertvillanova commented on #2997
Hi @marshmellow77, thanks for reporting.

That issue is fixed since `datasets` version 1.9.0 (see 16bc665f2753677c765011ef79c84e55486d4347).

Please, update `datasets` with: `pip install -U datasets`

[2021-10-01 13:54] #2997 closed

[2021-10-01 13:57] #2987 closed

[2021-10-01 13:58] VictorSanh commented on #2993
wooo that was fast! thank you @lhoestq !
it is able to process now, though it's ignoring all files and ending up with 0 examples now haha :/

For subset "unfiltered":
[code]
For subset "rc":
[code]

Could you look into that when you get a chance?
I wonder if it's not something they changed on the file to download? i couldn't find any information

[2021-10-01 14:17] #2979 closed

[2021-10-01 14:29] marshmellow77 commented on #2997
Thanks. Please note that the dataset explorer (https://huggingface.co/datasets/viewer/?dataset=turkish_product_reviews) still shows the incorrect state. The sentiment for the first few customer reviews is actually negative and should be labelled with "0", see screenshot:

![Capture1](https://user-images.githubusercontent.com/63367770/135637150-93d9b09b-f1dd-4701-97a5-5cb2672ec0c7.PNG)

[2021-10-01 15:32] albertvillanova commented on #2997
Thanks @marshmellow77, good catch! I'm transferring this issue to https://github.com/huggingface/datasets-viewer.

[2021-10-01 15:53] #2977 closed

[2021-10-01 16:31] albertvillanova commented on #2993
@VictorSanh have you tried passing `ignore_verifications=True`?
[code]

[2021-10-01 17:31] lhoestq commented on #2968
This is because you have to specify which split corresponds to what file:
[code]

Otherwise it tries to concatenate the two splits, and it fails because they don't have the same features.

It works with save_to_disk/load_from_disk because it also stores json files that contain the information about which files goes into which split

[2021-10-01 17:43] lhoestq commented on #2799
Apparently it's possible to make it work by increasing the `block_size`, let me open a PR

[2021-10-01 17:49] lhoestq commented on #2799
I just opened a PR with a fix, feel free to install `datasets` from source from source and let me know if it helps

[2021-10-01 18:06] lewtun commented on #2799
@zijwang did PR #3000 solve the problem for you? It did for me, so it all is good on your end we can close this issue. Thanks again to @lhoestq for the pyarrow magic 🤯

[2021-10-01 18:06] #2826 closed

[2021-10-01 19:07] VictorSanh commented on #2993
I aggressively rmed caches, especially rming the `datasets/downloads/extracted/c3d265fa20d99a147a76e4f5e...` solved the issue.
thank you both!

[2021-10-01 19:07] #2993 closed

[2021-10-03 20:34] #2967 closed

[2021-10-04 00:49] DrMatters opened #3005 "DatasetDict.filter and Dataset.filter crashes with any "fn_kwargs" argument"
## Describe the bug
The ".filter" method of DatasetDict or Dataset objects fails when passing any "fn_kwargs" argument

## Steps to reproduce the bug
[code]

## Expected results
`filtered` is a dataset containing {"a": {3}}

## Actual results

## Environment info

- `datasets` version: 1.12.1
- Platform: Windows-10-10.0.19042-SP0
- Python version: 3.9.7
- PyArrow version: 5.0.0

[2021-10-04 00:57] DrMatters commented on #3005
There's also a 100% issue with chaining multiple ".filter", I'm trying to get some code snippet to reproduce

[2021-10-04 08:46] albertvillanova commented on #3005
Hi @DrMatters, thanks for reporting.

This issue was fixed 14 days ago: #2950.

Currently, the fix is only in the master branch and will be made available in our next library release.

In the meantime, you can incorporate the fix by installing datasets from the master branch:
[code]
or
[code]

[2021-10-04 08:46] #3005 closed

[2021-10-04 08:51] DrMatters commented on #3005
Thanks, sorry for bothering

[2021-10-04 09:04] DrMatters opened #3010 "Chain filtering is leaking"
## Describe the bug
As there's no support for lists within dataset fields, I convert my lists to json-string format. However, the bug described is occurring even when the data format is 'string'.
These samples show that filtering behavior diverges from what's expected when chaining filterings.
On sample 2 the second filtering leads to "leaking" of data that should've been filtered on the first fil

[2021-10-04 09:20] severo opened #3011 "load_dataset_builder should error if "name" does not exist?"
[code]

returns

[code]

Shouldn't it raise an error instead?

[2021-10-04 09:25] DrMatters commented on #3010
### Update:
I wrote an even cleaner code snippet (without jsoning) that can expose leaking.
[code]

[2021-10-04 09:47] severo opened #3013 "Improve `get_dataset_infos`?"
Using the dedicated function `get_dataset_infos` on a dataset that has no dataset-info.json file returns an empty info:

[code]

While it's totally possible to get it (regenerate it) with:

[code]

Should we test if info is empty, and in that case regenerate it? Or always generate it?

[2021-10-04 10:00] lhoestq commented on #3011
Yes I think it should raise an error. Currently it looks like it instantiates a custom configuration with the name given by the user:
https://github.com/huggingface/datasets/blob/ba27ce33bf568374cf23a07669fdd875b5718bc2/src/datasets/builder.py#L391-L397

[2021-10-04 14:24] lhoestq commented on #3013
To keeps things simple maybe we should use `load_dataset_builder` in `get_dataset_infos`.
`load_dataset_builder` instantiates a builder and runs the _infos() method in order to give you the most up-to-date infos, even if the dataset_infos.json is outdated or missing.

[2021-10-04 14:30] lhoestq commented on #2988
Hi ! Could you check the length of the `self.dataset` object ? It looks like the dataset is empty.
Not sure why the SWA optimizer would cause this though.

[2021-10-04 14:43] lhoestq commented on #2944
Hi ! Good idea :)
If you are interested in contributing, feel free to give it a try and open a Pull Request. Also let me know if I can help you with this or if you have questions

[2021-10-04 14:45] lhoestq commented on #3010
Thanks for reporting. I'm looking into it

[2021-10-04 15:16] albertvillanova opened #3018 "Support multiple zipped CSV data files"
**Is your feature request related to a problem? Please describe.**
As requested by @lewtun, support loading multiple zipped CSV data files.

[2021-10-05 02:34] LysandreJik commented on #2968
Wonderful, thanks for the help!

[2021-10-05 02:44] LysandreJik commented on #2968
I may be mistaken but I think the following doesn't work either:

[code]

[2021-10-05 08:31] lhoestq commented on #2968
It works on my side as soon as the directories named `ds/train` and `ds/validation` exist (otherwise it returns a FileNotFoundError). What error are you getting ?

[2021-10-05 08:32] lhoestq commented on #2968
Also we may introduce a default mapping for the data files:
[code]
this way if you name your files according to the splits you won't have to specify the data_files parameter. What do you think ?

[2021-10-05 08:34] lhoestq commented on #3010
I just pushed a fix ! We'll do a new release soon.
In the meantime feel free to install `datasets` from source to play with it

[2021-10-05 08:36] DrMatters commented on #3010
Thanks, I'm already using it from your branch!

[2021-10-05 08:46] albertvillanova opened #3024 "Windows test suite fails"
## Describe the bug

There is an error during installation of tests dependencies for Windows: https://app.circleci.com/pipelines/github/huggingface/datasets/7981/workflows/9b6a0114-2b8e-4069-94e5-e844dbbdba4e/jobs/49206

[code]

[2021-10-05 09:58] #3024 closed

[2021-10-05 10:24] lhoestq opened #3027 "Resolve data_files by split name"
This issue is about discussing the default behavior when someone loads a dataset that consists in data files. For example:
[code]
should return two splits "train" and "test" since the dataset repostiory is like
[code]
Currently it returns only one split "train" which contains the data of both files

I started playing with this idea on this branch btw: `resolve-data_files-by-split-name`
Basically t

[2021-10-05 12:21] vblagoje commented on #3027
Awesome @lhoestq I like the proposal and it works great on my JSON community dataset. Here is the [log](https://gist.github.com/vblagoje/714babc325bcbdd5de579fd8e1648892).

[2021-10-05 13:23] albertvillanova commented on #3018
@lhoestq I would like to draw your attention to the proposed API by @lewtun, using `data_dir` to pass the ZIP URL.

I'm not totally convinced with this... What do you think?

Maybe we could discuss other approaches...

One brainstorming idea: what about using URL chaining with the hop operator?

[2021-10-05 13:55] lhoestq commented on #3018
`data_dir` is currently exclusively used for manually downloaded data.

Maybe we can have an API more like this ?
[code]

[2021-10-05 13:56] lhoestq commented on #3018
`data_dir` is currently exclusively used for manually downloaded data.

Maybe we can have an API that only uses data_files as you are suggesting, using URL chaining ?
[code]

[2021-10-05 14:32] lewtun commented on #3018
URL chaining sounds super nice to me! And it's also a nice way to leverage the same concepts we currently have in the docs around `fsspec` :)

[2021-10-05 15:46] borisdayma opened #3032 "Error when loading private dataset with "data_files" arg"
## Describe the bug
A clear and concise description of what the bug is.

Private datasets with no loading script can't be loaded using `data_files` parameter.

## Steps to reproduce the bug
[code]

Same error happens in non-streaming mode.

## Expected results
Files should be loaded (whether in streaming or not).

## Actual results
Error:

[code]

## Environment info

- `datasets` version: 1.12.1

[2021-10-05 17:58] #2837 closed

[2021-10-05 18:00] lhoestq commented on #3027
From my discussion with @borisdayma it would be more general and match the files if their paths contains the split name - not only if the filename contains the split name. For example for a dataset like this:
[code]

[2021-10-05 20:07] dconatha opened #3034 "Errors loading dataset using fs = a gcsfs.GCSFileSystem"
## Describe the bug

Cannot load dataset using a `gcsfs.GCSFileSystem`.  I'm not sure if this should be a bug in `gcsfs` or here...

Basically what seems to be happening is that since datasets saves datasets as folders and folders aren't "real objects" in gcs, gcsfs raises a 404 error.  There are workarounds if you use gcsfs directly to download the file, but as is I can't get `load_from_disk` to

[2021-10-05 20:15] patrickvonplaten opened #3035 "`load_dataset` does not work with uploaded arrow file"
## Describe the bug

I've preprocessed and uploaded a dataset here: https://huggingface.co/datasets/ami-wav2vec2/ami_headset_single_preprocessed

The dataset can correctly be loaded when doing:

[code]

followed by

[code]

However when I try to directly download the dataset as follows:

[code]

the following error occurs:

[code]

## Expected results

The dataset should be correctly loaded with `

[2021-10-05 21:34] sbmaruf commented on #546
Right now, for caching 18Gb data, it is taking 1 hour 10 minute. Is that expected time?

[2021-10-06 01:59] LysandreJik commented on #2968
I'm getting the following error:

[code]

[2021-10-06 07:34] albertvillanova opened #3036 "Protect master branch to force contributions via Pull Requests"
In order to have a clearer Git history in the master branch, I propose to protect it so that all contributions must be done through a Pull Request and no direct commits to master are allowed.
- The Pull Request allows to give context, discuss any potential issues and improve the quality of the contribution
- The Pull Request will eventually be squashed and merged into master with a single commit t

[2021-10-06 09:37] lhoestq commented on #2904
You can clear your extraction cache in the meantime (by default at `~/.cache/huggingface/datasets/downloads/extracted`)

[2021-10-06 09:46] lhoestq commented on #2968
I just tried again on colab by installing `datasets` from source with pyarrow 3.0.0 and didn't get any error.

You error seems to happen when doing
[code]

More specifically it fails when trying to read the arrow file that just got generated. I haven't issues like this before. Can you make sure you have a recent version of `pyarrow` ? Maybe it was an old version that wrote the arrow file and some

[2021-10-06 09:51] lhoestq commented on #3035
Hi ! This is not a bug, this is simply not implemented.
`save_to_disk` is for on-disk serialization and was not made compatible for the Hub.
That being said, I agree we actually should make it work with the Hub x)

[2021-10-06 10:08] lhoestq commented on #3035
cc @LysandreJik maybe we can solve this at the same time as adding `push_to_hub`

[2021-10-06 12:18] lhoestq commented on #3036
It would be nice to protect the master from direct commits, but still having a way to merge our own PRs when no review is required (for example when updating a dataset_infos.json file, or minor bug fixes - things that happen quite often actually).
Do you know if there's a way ?

[2021-10-06 17:08] patrickvonplaten opened #3040 "[save_to_disk] Using `select()` followed by `save_to_disk` saves complete dataset making it hard to create dummy dataset"
## Describe the bug

When only keeping a dummy size of a dataset (say the first 100 samples), and then saving it  to disk to upload it in the following to the hub for easy demo/use - not just the small dataset is saved but the whole dataset with an indices file. The problem with this is that the dataset is still very big.

## Steps to reproduce the bug

E.g. run the following:

[code]

Now one can

[2021-10-06 23:33] patrickvonplaten commented on #3040
That works! Thansk!

Might be worth doing that automatically actually in case the `save_to_disk` is called on a dataset that has an indices mapping :-)

[2021-10-07 06:49] #3036 closed, assigned to nobody

[2021-10-07 16:43] osanseviero opened #3043 "Add PASS dataset"
## Adding a Dataset
- **Name:** PASS
- **Description:** An ImageNet replacement for self-supervised pretraining without humans
- **Data:** https://www.robots.ox.ac.uk/~vgg/research/pass/ https://github.com/yukimasano/PASS

Instructions to add a new dataset can be found [here](https://github.com/huggingface/datasets/blob/master/ADD_NEW_DATASET.md).

[2021-10-08 09:07] vlievin opened #3044 "Inconsistent caching behaviour when using `Dataset.map()` with a `new_fingerprint` and `num_proc>1`"
## Describe the bug
Caching does not work when using `Dataset.map()` with:
1. a function that cannot be deterministically fingerprinted
2. `num_proc>1`
3.  using a custom fingerprint set with the argument `new_fingerprint`.

This means that the dataset will be mapped with the function for each and every call, which does not happen if `num_proc==1`. In that case (`num_proc==1`) subsequent calls wil

[2021-10-08 18:23] sgugger opened #3047 "Loading from cache a dataset for LM built from a text classification dataset sometimes errors"
## Describe the bug

Yes, I know, that description sucks. So the problem is arising in the course when we build a masked language modeling dataset using the IMDB dataset. To reproduce (or try since it's a bit fickle).

Create a dataset for masled-language modeling from the IMDB dataset.

[code]

Until now, all is well. The problem comes when you re-execute that code, more specifically:

[code]

Tr

[2021-10-09 17:46] borisdayma opened #3048 "Identify which shard data belongs to"
**Is your feature request related to a problem? Please describe.**

I'm training on a large dataset made of multiple sub-datasets.
During training I can observe some jumps in loss which may correspond to different shards.

![image](https://user-images.githubusercontent.com/715491/136668758-521263aa-a9b2-4ad2-8d22-060b6bf86a1c.png)

My suspicion is that either:
* some of the sub-datasets are harder

[2021-10-09 18:06] borisdayma opened #3049 "TimeoutError during streaming"
## Describe the bug
I got a TimeoutError after streaming for about 10h.

## Steps to reproduce the bug
Very long code but we could do a test of streaming indefinitely data, though error may take a while to appear.

## Expected results
This error was not expected in the code which considers only `ClientError` but not `TimeoutError`.
See [this line](https://github.com/huggingface/datasets/blob/2814f

[2021-10-09 20:24] borisdayma commented on #3048
Independently of this I think it raises the need to allow multiprocessing during streaming so that we get samples from multiple shards in one batch.

[2021-10-10 01:32] RylanSchaeffer opened #3051 "Non-Matching Checksum Error with crd3 dataset"
## Describe the bug
When I try loading the crd3 dataset (https://huggingface.co/datasets/crd3), an error is thrown.

## Steps to reproduce the bug
[code]

## Expected results
I expect no error to be thrown.

## Actual results
A non-matching checksum error is thrown.

[code]

## Environment info

- `datasets` version: 1.12.1
- Platform: Linux-4.4.0-173-generic-x86_64-with-Ubuntu-16.04-xenial
- Pyth

[2021-10-10 01:38] RylanSchaeffer commented on #3051
I got the same error for another dataset (`multi_woz_v22`):

[code]

[2021-10-10 01:52] RylanSchaeffer commented on #726
Did anyone figure out how to fix this error?

[2021-10-10 10:31] BenoitDalFerro opened #3052 "load_dataset cannot download the data and hangs on forever if cache dir specified"
## Describe the bug
After updating datasets, a code that ran just fine for ages began to fail. Specifying _datasets.load_dataset_'s _cache_dir_ optional argument on Windows 10 machine results in data download to hang on forever. Same call without cache_dir works just fine. Surprisingly exact same code just runs perfectly fine on Linux docker instance running in cloud.

Unfortunately I updated Wind

[2021-10-10 19:55] davidbau opened #3053 "load_dataset('the_pile_openwebtext2') produces ArrowInvalid, value too large to fit in C integer type"
## Describe the bug
When loading `the_pile_openwebtext2`, we get the error `pyarrow.lib.ArrowInvalid: Value 2111 too large to fit in C integer type`

## Steps to reproduce the bug
[code]

## Expected results
Should download the dataset, convert it to an arrow file, and return a working Dataset object.

## Actual results
The download works, but conversion to the arrow file fails as follows:

[code]

[2021-10-11 06:37] albertvillanova opened #3055 "CI test suite fails after meteor metric update"
## Describe the bug
CI test suite fails: https://app.circleci.com/pipelines/github/huggingface/datasets/8110/workflows/f059ba43-9154-4632-bebb-82318447ddc9/jobs/50010

Stack trace:
[code]

[2021-10-11 07:46] #2969 closed

[2021-10-11 09:35] #3049 closed

[2021-10-11 10:05] tidhamecha2 opened #3057 "Error in per class precision computation"
## Describe the bug
When trying to get the per class precision values by providing `average=None`, following error is thrown `ValueError: can only convert an array of size 1 to a Python scalar`

## Steps to reproduce the bug
[code]

## Expected results
`  {'precision': array([0.66666667, 0.        , 0.        ])}`
as per https://github.com/huggingface/datasets/blob/master/metrics/precision/precisi

[2021-10-11 10:16] albertvillanova commented on #3057
Hi @tidhamecha2, thanks for reporting.

Indeed, we fixed this issue just one week ago: https://github.com/huggingface/datasets/pull/3008

The fix will be included in our next version release.

In the meantime, you can incorporate the fix by installing `datasets` from the master branch:
[code]
or
[code]

[2021-10-11 10:16] #3057 closed, assigned to nobody

[2021-10-11 10:56] BenoitDalFerro commented on #3052
Issue was environment inconsistency, updating packages did the trick

`conda install -c huggingface -c conda-forge datasets`

[2021-10-11 10:56] #3052 closed

[2021-10-11 11:54] hobbitlzy opened #3058 "Dataset wikipedia and Bookcorpusopen cannot be fetched from dataloader."
## Describe the bug
I have used the previous version of `transformers` and `datasets`. The dataset `wikipedia` can be successfully used. Recently, I upgrade them to the newest version and find it raises errors. I also tried other datasets. The `wikitext` works and the `bookcorpusopen` raises the same errors as `wikipedia`.

## Steps to reproduce the bug
Run the `run_mlm_no_trainer.py` and the give

[2021-10-11 17:05] RylanSchaeffer opened #3060 "load_dataset('openwebtext') yields "Compressed file ended before the end-of-stream marker was reached""
## Describe the bug
When I try `load_dataset('openwebtext')`, I receive a "EOFError: Compressed file ended before the end-of-stream marker was reached" error.

## Steps to reproduce the bug
[code]

## Expected results
I expect the `dataset` variable to be properly constructed.

## Actual results

[code]

## Environment info
- `datasets` version: 1.12.1
- Platform: Linux-4.4.0-173-generic-x86_64-wi

[2021-10-11 20:49] BenoitDalFerro opened #3061 "Feature request : add leave=True to dataset.map to enable tqdm nested bars (and whilst we're at it couldn't we get a way to access directly tqdm underneath?)"
**A clear and concise description of what you want to happen.**

It would be so nice to be able to nest HuggingFace `Datasets.map() ` progress bars in the grander scheme of things and whilst we're at it why not other functions.

**Describe alternatives you've considered**

By the way is there not a way to directly interact with underlying tqdm module ? **kwargs-ish?

**Additional context**

Furthe

[2021-10-12 09:33] lhoestq opened #3063 "Windows CI is unable to test streaming properly because of SSL issues"
In https://github.com/huggingface/datasets/pull/3041 the windows tests were skipped because of SSL issues with moon-staging.huggingface.co:443

The issue appears only on windows with asyncio. On Linux it works. With requests it works as well. And with the production environment huggingface.co it also works.

to reproduce on windows:
[code]
raises
[code]
because of
[code]

[2021-10-12 14:34] sbmaruf opened #3064 "Make `interleave_datasets` more robust"
**Is your feature request related to a problem? Please describe.**
Right now there are few hiccups using `interleave_datasets`. Interleaved dataset iterates until the smallest dataset completes it's iterator. In this way larger datasets may not complete full epoch of iteration.
It creates new problems in calculation of epoch since there are no way to track which dataset from `interleave_datasets`

[2021-10-12 15:26] lhoestq commented on #3032
We'll do a release tomorrow or on wednesday to make the fix available :)

Thanks for reproting !

[2021-10-13 05:52] albertvillanova opened #3069 "CI fails on Windows with FileNotFoundError when stting up s3_base fixture"
## Describe the bug
After commit 9353fc863d0c99ab0427f83cc5a4f04fcf52f1df, the CI fails on Windows  with FileNotFoundError when stting up s3_base fixture. See: https://app.circleci.com/pipelines/github/huggingface/datasets/8151/workflows/5db8d154-badd-4d3d-b202-ca7a318997a2/jobs/50321

Error summary:
[code]

Stack trace:
[code]

[2021-10-13 07:32] zixiliuUSC opened #3071 "Custom plain text dataset, plain json dataset and plain csv dataset are remove from datasets template folder"
## Adding a Dataset
- **Name:** text, json, csv
- **Description:** I am developing a customized dataset loading script. The problem is  mainly about my custom dataset is seperate into many files and I only find a dataset loading template in [https://github.com/huggingface/datasets/blob/1.2.1/datasets/json/json.py](https://github.com/huggingface/datasets/blob/1.2.1/datasets/json/json.py) that can h

[2021-10-13 08:27] #3071 closed, assigned to albertvillanova

[2021-10-13 09:38] lhoestq commented on #2842
This has been fixed now, and we'll do a new release of the library today.

Now the stas/openwebtext-10k dataset is cached at `.cache/huggingface/datasets/stas___openwebtext10k` and openwebtext-10k would be at `.cache/huggingface/datasets/openwebtext10k`. Since they are different, the cache won't fall back on loading the wrong one anymore.

Same for the python script used to generate the dataset: s

[2021-10-13 09:47] severo commented on #2866
Associated to the above exception, if I create a test and run it with pytest, I get an awful traceback.

- create a file `test_counter.py`

[code]

- run the test with pytest

[code]

[2021-10-13 12:29] albertvillanova commented on #2554
@GuillemGSubies, the parameter `average` passed to `_compute` is then passed to `f1_score`. This is right.

[2021-10-13 13:14] lhoestq commented on #2866
I opened a PR to fix these issues.
Also in your test you expect a TypeError but I don't know why. On my side it works fine without raising a TypeError

[2021-10-13 21:37] gcervantes8 opened #3073 "Import error installing with ppc64le"
## Describe the bug
Installing the datasets library with a computer running with ppc64le seems to cause an issue when importing the datasets library.

[code]

Error when importing
`Illegal instruction (core dumped)`

## Steps to reproduce the bug
I get this error when installing the library by using conda.  I can't install with pip I believe because pyarrow only has the ppc64le library on conda fo

[2021-10-14 08:29] albertvillanova opened #3076 "Error when loading a metric"
## Describe the bug
As reported by @sgugger, after last release, exception is thrown when loading a metric.

## Steps to reproduce the bug
[code]

## Actual results
[code]

[2021-10-14 09:14] #3076 closed

[2021-10-14 09:24] severo commented on #2866
I had the issue (TypeError raised) on my branch, but it's fixed now. Thanks

[2021-10-14 13:10] albertvillanova opened #3080 "Error related to timeout keyword argument"
## Describe the bug
As reported by @patrickvonplaten, a TypeError is raised when trying to load a dataset.

## Steps to reproduce the bug
[code]

## Actual results
[code]

[2021-10-14 13:23] albertvillanova opened #3083 "Datasets with Audio feature raise error when loaded from cache due to _resampler parameter"
## Describe the bug
As reported by @patrickvonplaten, when loaded from the cache, datasets containing the Audio feature raise TypeError.

## Steps to reproduce the bug
[code]

## Actual results
[code]

[2021-10-14 13:53] Rocketknight1 opened #3084 "VisibleDeprecationWarning when using `set_format("numpy")`"
Code to reproduce:

[code]
Outputs:

[code]

[2021-10-14 14:39] #3080 closed, assigned to albertvillanova

[2021-10-14 15:13] #3083 closed

[2021-10-14 16:33] #3073 closed, assigned to nobody

[2021-10-14 20:12] sgugger opened #3087 "Removing label column in a text classification dataset yields to errors"
## Describe the bug

This looks like #3059 but it's not linked to the cache this time. Removing the `label` column from a text classification dataset and then performing any processing will result in an error.

To reproduce:
[code]

Traceback:

[code]

[2021-10-15 01:16] sciarrilli opened #3089 "JNLPBA Dataset"
## Describe the bug
A clear and concise description of what the bug is.

## Steps to reproduce the bug
[code]

## Expected results
The dataset loading script for this dataset is incorrect. This is a biomedical dataset used for named entity recognition. The entities in the [script](https://github.com/huggingface/datasets/blob/master/datasets/jnlpba/jnlpba.py#L81-L83) are: O, B, and I.  The correct

[2021-10-15 02:52] sciarrilli commented on #3089
# Steps to reproduce

`from datasets import load_dataset
dataset = load_dataset('jnlpba')

dataset['train'].features['ner_tags']
`

[2021-10-15 02:55] sciarrilli commented on #3089
# Steps to reproduce

To reproduce:

[code]
Output:
[code]

[2021-10-15 09:20] fdtomasi opened #3091 "`blog_authorship_corpus` is broken"
## Describe the bug
The dataset `blog_authorship_corpus` is broken.
By bypassing the checksum checks, the loading does not return any error but the resulting dataset is empty.
I suspect it is because the data download url is broken (http://www.cs.biu.ac.il/~koppel/blogs/blogs.zip).

## Steps to reproduce the bug
[code]

## Expected results
No error.

## Actual results
[code]

## Environment info
-

[2021-10-15 09:33] dthulke opened #3093 "Error loading json dataset with multiple splits if keys in nested dicts have a different order"
## Describe the bug
Loading a json dataset with multiple splits that have nested dicts with keys in different order results in the error below.

If the keys in the nested dicts always have the same order or even if you just load a single split in which the nested dicts don't have the same order, everything works fine.

## Steps to reproduce the bug
Create two json files:

train.json
[code]

test.j

[2021-10-15 10:11] #3087 closed

[2021-10-15 10:58] albertvillanova opened #3094 "Support loading a dataset from SQLite files"
As requested by @julien-c, we could eventually support loading a dataset from SQLite files, like it is the case for JSON/CSV files.

[2021-10-15 13:36] patrickvonplaten opened #3095 "`cast_column` makes audio decoding fail"
## Describe the bug

After changing the sampling rate automatic decoding fails.

## Steps to reproduce the bug
[code]

yields:

[code]

## Expected results
no failure

## Actual results
Specify the actual results or traceback.

## Environment info

Copy-and-paste the text below in your GitHub issue.

- `datasets` version: 1.13.2 (master)
- Platform: Linux-5.11.0-1019-aws-x86_64-with-glibc2.29
- Py

[2021-10-15 15:02] albertvillanova commented on #3095
Thanks for reporting, @patrickvonplaten.

I think the issue is related to mp3 decoding, not to `cast_column`.

You can check that `cast_column` works OK with non-mp3 audio files:
[code]

I'm fixing it.

[2021-10-15 15:38] #3095 closed, assigned to albertvillanova

[2021-10-15 19:34] VictorSanh opened #3097 "`ModuleNotFoundError: No module named 'fsspec.exceptions'`"
## Describe the bug
I keep runnig into a fsspec ModuleNotFound error

## Steps to reproduce the bug
[code]

Yet, I do have `fsspec`:
[code]

With the same version of fsspec and `datasets==1.9.0`, I don't see this problem....

## Environment info

I can't even run `datasets-cli env` actually.., but here's my env:
- `datasets` version: 1.13.3
- Platform: Ubuntu 18.04
- Python version: 3.7.10
- PyArr

[2021-10-17 14:17] JTWang2000 opened #3099 "AttributeError: module 'huggingface_hub.hf_api' has no attribute 'DatasetInfo'"
## Describe the bug
When using `pip install datasets`
or use `conda install -c huggingface -c conda-forge datasets`
cannot install datasets

## Steps to reproduce the bug
[code]

## Actual results
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-5-fbe7981e6e21> in <module>
      1

[2021-10-18 07:48] albertvillanova commented on #3099
Hi @JTWang2000, thanks for reporting.

However, I cannot reproduce your reported bug:
[code]

Maybe, the cause is that you have a quite old version of `huggingface_hub`. Could you please try to update it and confirm if the problem persists?
[code]

[2021-10-18 12:45] albertvillanova opened #3102 "Unsuitable project description in PyPI"
Currently, `datasets` project description appearing in PyPI shows the release instructions addressed to core maintainers: https://pypi.org/project/datasets/1.13.3/

[2021-10-18 12:57] albertvillanova opened #3104 "Missing Zenodo 1.13.3 release"
After `datasets` 1.13.3 release, this does not appear in Zenodo releases: https://zenodo.org/record/5570305

TODO:
- [x] Contact Zenodo support
- [x] Check it is fixed

[2021-10-18 12:59] #3102 closed

[2021-10-18 13:12] severo opened #3105 "download_mode=`force_redownload` does not work on removed datasets"
## Describe the bug

## Steps to reproduce the bug

_requires to already have `wit` in the cache_

[code]

## Expected results

It should raise an exception, since the dataset does not exist anymore.

## Actual results

It uses the cached result

[code]

## Environment info

- `datasets` version: 1.13.4.dev0
- Platform: Linux-5.11.0-1019-aws-x86_64-with-glibc2.31
- Python version: 3.9.6
- PyArrow

[2021-10-19 12:50] #3091 closed, assigned to albertvillanova

[2021-10-19 12:57] albertvillanova commented on #3091
Hi, @fdtomasi, the URL is fixed.

The fix is already in our master branch and it will be accessible in our next release.

In the meantime, you can include the fix if you install the `datasets` library from the master branch:
[code]
or
[code]

[2021-10-19 17:11] lhoestq commented on #3063
No I'm still having this issue on my windows, and so does the CI

[2021-10-19 18:05] Dref360 opened #3111 "concatenate_datasets removes ClassLabel typing."
## Describe the bug

When concatenating two datasets, we lose typing of ClassLabel columns.

I can work on this if this is a legitimate bug,

## Steps to reproduce the bug
[code]

## Expected results
The features of `concat_ds` should contain ClassLabel.

## Actual results

On master, I get:
[code]

## Environment info
- `datasets` version: 1.14.1.dev0
- Platform: macOS-10.15.7-x86_64-i386-64bit
-

[2021-10-19 18:21] BenoitDalFerro opened #3112 "OverflowError: There was an overflow in the <class 'pyarrow.lib.ListArray'>. Try to reduce writer_batch_size to have batches smaller than 2GB"
## Describe the bug
Despite having batches way under 2Gb when running `datasets.map()`, after processing correctly the data of the first batch without fuss and irrespective of writer_batch_size (say 2,4,8,16,32,64 and 128 in my case), it returns the following error :

Note that I always run `batch_size=writer_batch_size` :

## Steps to reproduce the bug
[code]
## Introspecting CUDA memory during b

[2021-10-19 18:41] sgugger commented on #3112
I am very unsure on why you tagged me here. I am not a maintainer of the Datasets library and have no idea how to help you.

[2021-10-19 19:26] FeryET opened #3113 "Loading Data from HDF files"
**Is your feature request related to a problem? Please describe.**
More often than not I come along big HDF datasets, and currently there is no straight forward way to feed them to a dataset.

**Describe the solution you'd like**
I would love to see a `from_h5` method that gets an interface implemented by the user on how items are extracted from dataset (in case of multiple datasets containing ele

[2021-10-19 20:01] francisco-perez-sorrosal opened #3114 "load_from_disk in DatasetsDict/Dataset not working with PyArrowHDFS wrapper implementing fsspec.spec.AbstractFileSystem"
## Describe the bug
Passing a PyArrowHDFS implementation of fsspec.spec.AbstractFileSystem (in the `fs` param required by `load_from_disk` methods in `DatasetDict` (in datasets_dict.py) and `Dataset` (in arrow_dataset.py) results in an error when calling the download method in the `fs` parameter.

## Steps to reproduce the bug

The documentation for the `fs` parameter states:

[code]

`PyArrowHDFS

[2021-10-20 11:42] albertvillanova opened #3117 "CI error at each release commit"
After 1.12.0, there is a recurrent CI error at each release commit: https://app.circleci.com/pipelines/github/huggingface/datasets/8289/workflows/665d954d-e409-4602-8202-e678594d2946/jobs/51110

[code]

[2021-10-20 12:05] tyrius02 opened #3119 "Add OpenSLR 83 - Crowdsourced high-quality UK and Ireland English Dialect speech"
## Adding a Dataset
- **Name:** *slr83*
- **Description:** *Data set which contains male and female recordings of English from various dialects of the UK and Ireland.*
- **Paper:** *https://www.openslr.org/resources/83/about.html*
- **Data:** *Eleven separate data files can be found via https://www.openslr.org/resources/83/*
- **Motivation:** *Increase english ASR data with UK and Irish dialects*

[2021-10-20 13:02] #3117 closed, assigned to albertvillanova

[2021-10-20 18:40] Ishan-Kumar2 commented on #2841
Hi @yjernite I am interested in adding this .
In the repo they have also added a code mixed MT task from English to Hinglish [here](https://github.com/microsoft/GLUECoS#code-mixed-machine-translation-task). I think this could be a good dataset addition in itself and then I can add the rest of the GLUECoS tasks as one dataset. What do you think?

[2021-10-20 20:08] suzanab opened #3122 "OSError with a custom dataset loading script"
## Describe the bug
I am getting an OS error when trying to load the newly uploaded dataset classla/janes_tag. What puzzles me is that I have already uploaded a very similar dataset - classla/reldi_hr - with no issues. The loading scripts for the two datasets are almost identical and they have the same directory structure, yet I am only getting an error with janes_tag.

## Steps to reproduce the b

[2021-10-20 20:16] TevenLeScao opened #3123 "Segmentation fault when loading datasets from file"
## Describe the bug
Custom dataset loading sometimes segfaults and kills the process if chunks contain a variety of features/

## Steps to reproduce the bug

Download an example file:
[code]
Then in Python:
[code]

## Expected results
a `tiny_kelm` functional dataset

## Actual results
☠️ `Segmentation fault (core dumped)` ☠️

## Environment info
- `datasets` version: 1.14.0
- Platform: Linux-5.11

[2021-10-21 06:02] vitalyshalumov opened #3126 ""arabic_billion_words" dataset does not create the full dataset"
## Describe the bug
When running:
raw_dataset = load_dataset('arabic_billion_words','Alittihad')
the correct dataset file is pulled from the url.
But, the generated dataset includes just a small portion of the data included in the file.
This is true for all other portions of the "arabic_billion_words" dataset ('Almasryalyoum',.....)

## Steps to reproduce the bug
[code]

[2021-10-21 06:14] vitalyshalumov opened #3127 "datasets-cli: convertion of a tfds dataset to a huggingface one."
### Discussed in https://github.com/huggingface/datasets/discussions/3079

<div type='discussions-op-text'>

<sup>Originally posted by **vitalyshalumov** October 14, 2021</sup>
I'm trying to convert a tfds dataset to a huggingface one.

I've tried:

1.       datasets-cli convert  --tfds_path ~/tensorflow_datasets/mnist/3.0.1/ --datasets_directory ~/.cache/huggingface/datasets/mnist/3.0.1/

2.

[2021-10-21 08:23] albertvillanova opened #3128 "Support Audio feature for TAR archives in sequential access"
Currently, Audio feature accesses each audio file by their file path.

However, streamed TAR archive files do not allow random access to their archived files.

Therefore, we should enhance the Audio feature to support TAR archived files in sequential access.

[2021-10-21 10:13] NielsRogge opened #3131 "Add ADE20k"
## Adding a Dataset
- **Name:** ADE20k (actually it's called the MIT Scene Parsing Benchmark, it's actually a subset of ADE20k but a lot of authors still call it ADE20k)
- **Description:** A semantic segmentation dataset, consisting of 150 classes.
- **Paper:** http://people.csail.mit.edu/bzhou/publication/scene-parse-camera-ready.pdf
- **Data:** http://sceneparsing.csail.mit.edu/
- **Motivation:*

[2021-10-21 13:32] albertvillanova opened #3132 "Support Audio feature in streaming mode"
Currently, Audio feature is only supported for non-streaming datasets.

Due to the large size of many speech datasets, we should also support Audio feature in streaming mode.

[2021-10-21 14:50] #3111 closed, assigned to mariosasko

[2021-10-22 07:07] yanan1116 opened #3134 "Couldn't reach https://raw.githubusercontent.com/huggingface/datasets/1.11.0/metrics/rouge/rouge.py"
datasets version: 1.12.1

`metric = datasets.load_metric('rouge')`

The error:

Is there any remedy to solve the connection issue ?

[2021-10-22 08:02] severo opened #3135 "Make inspect.get_dataset_config_names always return a non-empty list of configs"
**Is your feature request related to a problem? Please describe.**

Currently, some datasets have a configuration, while others don't. It would be simpler for the user to always have configuration names to refer to

**Describe the solution you'd like**

In that sense inspect.get_dataset_config_names should always return at least one configuration name, be it `default` or `Check___region_1` (for co

[2021-10-22 09:35] severo opened #3138 "More fine-grained taxonomy of error types"
**Is your feature request related to a problem? Please describe.**

Exceptions like `FileNotFoundError` can be raised by different parts of the code, and it's hard to detect which one did

**Describe the solution you'd like**

Give a specific exception type for every group of similar errors

**Describe alternatives you've considered**

Rely on the error message, using regex

[2021-10-22 09:43] #2842 closed, assigned to lhoestq

[2021-10-22 12:22] mariosasko opened #3139 "Fix file/directory deletion on Windows"
Currently, on Windows, some attempts to delete a dataset file/directory will fail with the `PerimissionError`.

Examples:
- download a dataset, then force redownload it in the same session while keeping a reference to the downloaded dataset
[code]
- try to clean up the cache files while keeping a reference to those files (via the mapped dataset):
[code]
We should fix those.

[2021-10-22 13:09] severo opened #3142 "Provide a way to write a streamed dataset to the disk"
**Is your feature request related to a problem? Please describe.**

The streaming mode allows to get the 100 first rows of a dataset very quickly. But it does not cache the answer, so a posterior call to get the same 100 rows will send a request to the server again and again.

**Describe the solution you'd like**

Provide a way to write the streamed rows of a dataset on the disk, and to load from

[2021-10-22 13:13] severo opened #3143 "Provide a way to check if the features (in info) match with the data of a split"
**Is your feature request related to a problem? Please describe.**

I understand that currently the data loaded has not always the type described in the info features

**Describe the solution you'd like**

Provide a way to check if the rows have the type described by info features

**Describe alternatives you've considered**

Always check it, and raise an error when loading the data if their type

[2021-10-22 13:17] severo opened #3144 "Infer the features if missing"
**Is your feature request related to a problem? Please describe.**

Some datasets, in particular community datasets, have no info file, thus no features.

**Describe the solution you'd like**

If a dataset has no features, the first loaded data (5-10 rows) could be used to infer the type.

Related: `datasets` would provide a way to load the data, and get the rows AND the features as the result.

*

[2021-10-22 13:22] #3104 closed, assigned to albertvillanova

[2021-10-22 13:23] severo opened #3145 "[when Image type will exist] provide a way to get the data as binary + filename"
**Is your feature request related to a problem? Please describe.**

When a dataset cell contains a value of type Image (be it from a remote URL, an Array2D/3D, or any other way to represent images), I want to be able to write the image to the disk, with the correct filename, and optionally to know its mimetype, in order to serve it on the web.

Note: this issue would apply exactly the same for the

[2021-10-22 13:50] albertvillanova opened #3146 "CLI test command throws NonMatchingSplitsSizesError when saving infos"
When trying to generate a datset JSON metadata, a `NonMatchingSplitsSizesError` is thrown:
[code]

This is due because a previous run generated a wrong `dataset_info.json`.

This error can be avoided by passing `--ignore_verifications`, but I think this should be assumed when passing `--save_infos`.

[2021-10-22 15:07] justheuristic opened #3148 "Streaming with num_workers != 0"
## Describe the bug
When using dataset streaming with pytorch DataLoader, the setting num_workers to anything other than 0 causes the code to freeze forever before yielding the first batch.

The code owner is likely @lhoestq

## Steps to reproduce the bug

For your convenience, we've prepped a colab notebook that reproduces the bug
https://colab.research.google.com/drive/1Mgl0oTZSNIE3UeGl_oX9wPCOI

[2021-10-22 18:07] BramVanroy opened #3150 "Faiss _is_ available on Windows"
In the setup file, I find the following:

https://github.com/huggingface/datasets/blob/87c71b9c29a40958973004910f97e4892559dfed/setup.py#L171

However, FAISS does install perfectly fine on Windows on my system. You can also confirm this on the [PyPi page](https://pypi.org/project/faiss-cpu/#files), where Windows wheels are available. Maybe this was true for older versions? For current versions, th

[2021-10-24 08:55] BramVanroy opened #3154 "Sacrebleu unexpected behaviour/requirement for data format"
## Describe the bug
When comparing with the original `sacrebleu` implementation, the `datasets` implementation does some strange things that I do not quite understand. This issue was triggered when I was trying to implement TER and found the datasets implementation of BLEU [here](https://github.com/huggingface/datasets/pull/3153).

In the below snippet, the original sacrebleu snippet works just fi

[2021-10-24 17:21] hacobe opened #3155 "Illegal instruction (core dumped) at datasets import"
## Describe the bug
I install datasets using conda and when I import datasets I get: "Illegal instruction (core dumped)"

## Steps to reproduce the bug

[code]

## Environment info

When I run "datasets-cli env", I also get "Illegal instruction (core dumped)"

If I run the following commands:

[code]

Then I get:

- `transformers` version: 4.11.3
- Platform: Linux-5.4.0-67-generic-x86_64-with-glib

[2021-10-25 18:52] sashavor opened #3162 "`datasets-cli test` should work with datasets without scripts"
It would be really useful to be able to run `datasets-cli test`for datasets that don't have scripts attached  to them (whether the datasets are private or not).

I wasn't able to run the script for a private test dataset that I had created on the hub (https://huggingface.co/datasets/huggingface/DataMeasurementsTest/tree/main) -- although @lhoestq came to save the day!

[2021-10-25 23:28] zlucia opened #3164 "Add raw data files to the Hub with GitHub LFS for canonical dataset"
I'm interested in sharing the CaseHOLD dataset (https://arxiv.org/abs/2104.08671) as a canonical dataset on the HuggingFace Hub and would like to add the raw data files to the Hub with GitHub LFS, since it seems like a more sustainable long term storage solution, compared to other storage solutions available to my team. From what I can tell, this option is not immediately supported if one follows

[2021-10-26 15:27] albertvillanova opened #3165 "Deprecate prepare_module"
In version 1.13, `prepare_module` was deprecated.

Add deprecation warning and remove its usage from all the library.

[2021-10-26 16:06] lucadiliello opened #3167 "bookcorpusopen no longer works"
## Describe the bug

When using the latest version of datasets (1.14.0), I cannot use the `bookcorpusopen` dataset. The process blocks always around `9924 examples [00:06, 1439.61 examples/s]` when preparing the dataset. I also noticed that after half an hour the process is automatically killed because of the RAM usage (the machine has 1TB of RAM...).

This did not happen with 1.4.1.
I tried also

[2021-10-26 19:42] tyrius02 opened #3168 "OpenSLR/83 is empty"
## Describe the bug
As the summary says, openslr / SLR83 / train is empty.

The dataset returned after loading indicates there are **zero** rows. The correct number should be **17877**.
## Steps to reproduce the bug
[code]

## Expected results
[code]
## Actual results
[code]

## Environment info

- `datasets` version: 1.14.1.dev0 (master HEAD)
- Platform: Ubuntu 20.04
- Python version: 3.7.10
- Py

[2021-10-27 08:01] #3146 closed, assigned to albertvillanova

[2021-10-27 18:26] mariosasko opened #3171 "Raise exceptions instead of using assertions for control flow"
Motivated by https://github.com/huggingface/transformers/issues/12789 in Transformers, one welcoming change would be replacing assertions with proper exceptions. The only type of assertions we should keep are those used as sanity checks.

Currently, there is a total of 87 files with the `assert` statements (located under `datasets` and `src/datasets`), so when working on this, to manage the PR siz

[2021-10-28 05:44] #3135 closed, assigned to albertvillanova

[2021-10-28 05:52] #3060 closed, assigned to albertvillanova

[2021-10-28 10:29] vlievin opened #3172 "`SystemError 15` thrown in `Dataset.__del__` when using `Dataset.map()` with `num_proc>1`"
## Describe the bug
I use `datasets.map` to preprocess some data in my application. The error `SystemError 15` is thrown at the end of the execution of `Dataset.map()` (only with `num_proc>1`. Traceback included bellow.

The exception is raised only when the code runs within a specific context. Despite ~10h spent investigating this issue, I have failed to isolate the bug, so let me describe my set

[2021-10-29 10:04] #3168 closed, assigned to tyrius02

[2021-10-29 11:56] BramVanroy opened #3177 "More control over TQDM when using map/filter with multiple processes"
It would help with the clutter in my terminal if tqdm is only shown for rank 0 when using `num_proces>0` in the map and filter methods of datasets.

[code]

The above snippet leads to a lot of TQDM bars and depending on your terminal, these will not overwrite but keep pushing each other down.

[code]

Instead, it would be welcome if we had the option to only show the progress of rank 0.

[2021-10-29 12:56] BramVanroy opened #3178 ""Property couldn't be hashed properly" even though fully picklable"
## Describe the bug
I am trying to tokenize a dataset with spaCy. I found that no matter what I do, the spaCy language object (`nlp`) prevents `datasets` from pickling correctly - or so the warning says - even though manually pickling is no issue. It should not be an issue either, since spaCy objects are picklable.

## Steps to reproduce the bug

Here is a [colab](https://colab.research.google.com

[2021-10-29 13:30] severo opened #3179 "Cannot load dataset when the config name is "special""
## Describe the bug

After https://github.com/huggingface/datasets/pull/3159, we can get the config name of "Check/region_1", which is "Check___region_1".

But now we cannot load the dataset (not sure it's related to the above PR though). It's the case for all the similar datasets, listed in https://github.com/huggingface/datasets-preview-backend/issues/78

## Steps to reproduce the bug
[code]

Lo

[2021-10-29 13:35] #3179 closed, assigned to nobody

[2021-10-29 15:23] eladsegal opened #3181 "`None` converted to `"None"` when loading a dataset"
## Describe the bug
When loading a dataset `None` values of the type `NoneType` are converted to `'None'` of the type `str`.

## Steps to reproduce the bug
[code]

When installing version 1.1.40, the output is
`[None, 'Introduction', 'Benchmark Datasets', ...]`

When installing from the master branch, the output is
`['None', 'Introduction', 'Benchmark Datasets', ...]`

Notice how the first element

[2021-10-29 18:46] tjruwase commented on #3099
The problem seems to be with the latest version of `datasets`. After running `pip install -U datasets huggingface_hub`, I get the following:

[code]
Note that pip reports the latest `datasets` version as
[code]
However, if I downgrade datasets with `pip install datasets==1.11.0`, things now work
[code]

[2021-10-29 21:37] thomas-happify commented on #2206
I'm facing same issue @mariosasko @albertvillanova

[code]

To reproduce:
[code]

[code]

[2021-10-30 19:54] zlucia commented on #3164
Ah I see, I think I was unclear whether there were benefits to uploading a canonical dataset vs. a community provided dataset. Thanks for clarifying. I'll see if we want to create an organization namespace and otherwise, will upload the dataset under my personal namespace.

[2021-10-30 19:54] #3164 closed

[2021-10-30 20:18] Kirili4ik opened #3185 "7z dataset preview not implemented?"
## Dataset viewer issue for dataset 'samsum'

**Link:** https://huggingface.co/datasets/samsum

Server Error
Status code:   400
Exception:     NotImplementedError
Message:       Extraction protocol '7z' for file at 'https://arxiv.org/src/1911.12237v2/anc/corpus.7z' is not implemented yet

[2021-10-31 03:27] JTWang2000 commented on #3099
My problem faced after updating huggingface hub command. Thanks a lot and sorry for the late reply.

[2021-10-31 03:56] e-budur opened #3186 "Dataset viewer for nli_tr"
## Dataset viewer issue for '*nli_tr*'

**Link:** https://huggingface.co/datasets/nli_tr

Hello,

Thank you for the new dataset preview feature that will help the users to view the datasets online.

We just noticed that the dataset viewer widget in the `nli_tr` dataset shows the error below. The error must be due to a temporary problem that may have blocked access to the dataset through the datase

[2021-10-31 04:32] kingb12 commented on #3051
I'm seeing the same issue as @RylanSchaeffer:
Python 3.7.11, macOs 11.4
datasets==1.14.0

fails on:
[code]

[2021-10-31 09:08] BramVanroy commented on #3154
Thanks, that makes sense. It is a bit unfortunate because it may be confusing to users since the input format is suddenly different than what they may expect from the underlying library/metric. But it is understandable due to how `datasets` works!

[2021-10-31 09:08] #3154 closed

[2021-10-31 09:12] #897 closed

[2021-11-01 09:49] BramVanroy opened #3188 "conll2002 issues"
**Link:** https://huggingface.co/datasets/conll2002

The dataset viewer throws a server error when trying to preview the dataset.

[code]

In addition, the "point of contact" has encoding issues and does not work when clicked.

Am I the one who added this dataset ? No, @lhoestq  did

[2021-11-01 10:31] CharlieUnderwood commented on #3134
Same issue when running `load_metric("accuracy")`.
 My `datasets-cli env` result is as follows:
- `datasets` version: 1.11.0
- Platform: Windows-10-10.0.19041-SP0
- Python version: 3.8.8
- PyArrow version: 6.0.0

@yananchen1989 did you find a way to solve this?

[2021-11-01 11:03] BramVanroy opened #3189 "conll2003 incorrect label explanation"
In the [conll2003](https://huggingface.co/datasets/conll2003#data-fields) README, the labels are described as follows

First of all, it would be great if we can get a list of ALL possible pos_tags.

Second, the chunk tags labels cannot be correct. The description says the values go from 0 to 4 whereas the data shows values from at least 11 to 21 and 0.

EDIT: not really a bug, sorry for mistagging

[2021-11-01 11:17] CharlieUnderwood commented on #3134
It seems to be able to solve this issue by adding the equivalent `accuracy.py` locally.
change `metric = datasets.load_metric("accuracy")` to  `metric = datasets.load_metric(path = "./accuracy.py")`.
Copy `accuracy.py` from browser at [accuracy.py](https://raw.githubusercontent.com/huggingface/datasets/1.11.0/metrics/accuracy/accuracy.py)

[2021-11-01 12:23] BramVanroy commented on #3178
After some digging, I found that this is caused by `dill` and using `recurse=True)` when trying to dump the object. The problem also occurs without multiprocessing. I can only find [the following information](https://dill.readthedocs.io/en/latest/dill.html#dill._dill.dumps) about this:

In the utils, this is explicitly enabled

https://github.com/huggingface/datasets/blob/df63614223bf1dd1feb267d39

[2021-11-01 13:07] rabeehk opened #3190 "combination of shuffle and filter results in a bug"
## Describe the bug
Hi,
I would like to shuffle a dataset, then filter it based on each existing label. however, the combination of `filter`, `shuffle` seems to results in a bug. In the minimal example below, as you see in the filtered results, the filtered labels are not unique, meaning filter has not worked. Any suggestions as a temporary fix is appreciated @lhoestq.

Thanks.
 Best regards
Rabee

[2021-11-01 14:16] benotti opened #3191 "Dataset viewer issue for '*compguesswhat*'"
## Dataset viewer issue for '*compguesswhat*'

**Link:** https://huggingface.co/datasets/compguesswhat

File not found

Am I the one who added this dataset ? No

[2021-11-01 15:30] BramVanroy commented on #3190
I cannot reproduce this on master and pyarrow==4.0.1.

[2021-11-01 15:36] BramVanroy opened #3192 "Multiprocessing filter/map (tests) not working on Windows"
While running the tests, I found that the multiprocessing examples fail on Windows, or rather they do not complete: they cause a deadlock. I haven't dug deep into it, but they do not seem to work as-is. I currently have no time to tests this in detail but at least the tests seem not to run correctly (deadlocking).

## Steps to reproduce the bug
[code]

## Expected results
The functionality to work

[2021-11-01 17:18] srulikbd commented on #3053
I encountered the same bug using different datasets.
any suggestions?

[2021-11-02 04:14] BitcoinNLPer commented on #2643
I have the same bug.
the code is as follows:
![image](https://user-images.githubusercontent.com/84262181/139785849-620dd4ac-86ce-4212-8163-942bbca305aa.png)
the error is:
![image](https://user-images.githubusercontent.com/84262181/139785899-88a9bd75-c60b-45a5-b819-830c7c096f3d.png)

Look for the solution for this bug.

[2021-11-02 07:39] albertvillanova opened #3193 "Update link to datasets-tagging app"
Once datasets-tagging has been transferred to Spaces:
- huggingface/datasets-tagging#22

We should update the link in Datasets.

[2021-11-02 09:51] lhoestq commented on #2643
Hi ! I think your RecursionError comes from a different issue @BitcoinNLPer , could you open a separate issue please ?

Also which dataset are you using ? I tried loading `CodedotAI/code_clippy` but I get a different error
[code]

[2021-11-02 09:57] lhoestq commented on #3190
Hi ! There was a regression in `datasets` 1.12 that introduced this bug. It has been fixed in #3019 in 1.13

Can you try to update `datasets` and try again ?

[2021-11-02 10:06] #3150 closed

[2021-11-02 10:09] lhoestq commented on #3178
Hi ! Thanks for reporting

Yes `recurse=True` is necessary to be able to hash all the objects that are passed to the `map` function

[2021-11-02 10:32] mariosasko commented on #3177
Hi,

It's hard to provide an API that would cover all use-cases with tqdm in `Dataset.map`.

[2021-11-02 10:45] BramVanroy commented on #3177
Information may be found at `transformers`.

https://github.com/huggingface/transformers/blob/4a394cf53f05e73ab9bbb4b179a40236a5ffe45a/src/transformers/trainer.py#L1231-L1233

T get unique IDs for each worker, see https://stackoverflow.com/a/10192611/1150683

[2021-11-02 10:50] rabeehk commented on #3190
Thanks a lot, fixes with 1.13

[2021-11-02 10:50] #3190 closed

[2021-11-02 12:50] mariosasko commented on #3093
Hi,

even Pandas, which is less strict compared to PyArrow when it comes to reading JSON, doesn't support different orderings:
[code]

So we can't even fall back to Pandas in such cases.

It seems the only option is a script that recursively re-orders fields to enforce deterministic order:
[code]

[2021-11-02 14:31] lhoestq commented on #3188
Hi ! Thanks for reporting :)

This is related to https://github.com/huggingface/datasets/issues/2742, I'm working on it. It should fix the viewer for around 80 datasets.

[2021-11-02 14:50] BramVanroy commented on #3188
Ah, hadn't seen that sorry.

The scrambled "point of contact" is a separate issue though, I think.

[2021-11-02 14:57] lhoestq commented on #3123
The issue has been fixed in pyarrow 6.0.0, please update pyarrow :)

The issue was due to missing fields in the JSON data of type list. Now it's working fine and missing list fields are replaced with empty lists

[2021-11-02 14:57] #3123 closed

[2021-11-02 15:41] #3040 closed

[2021-11-02 18:43] BramVanroy commented on #3178
I submitted a PR to spacy that should fix this issue (linked above). I'll leave this open until that PR is merged.

[2021-11-02 19:25] BramVanroy commented on #3178
@lhoestq After some testing I find that even with the updated spaCy, no cache files are used. I do not get any warnings though, but I can see that map is run every time I run the code. Do you have thoughts about why? Is there no caching when using the `from_*` instantiation methods? If you want to try the tests below, make sure to install spaCy from [here](https://github.com/BramVanroy/spaCy).

[c

[2021-11-03 08:36] NielsRogge opened #3201 "Add GSM8K dataset"
## Adding a Dataset
- **Name:** GSM8K (short for Grade School Math 8k)
- **Description:** GSM8K is a dataset of 8.5K high quality linguistically diverse grade school math word problems created by human problem writers.
- **Paper:** https://openai.com/blog/grade-school-math/
- **Data:** https://github.com/openai/grade-school-math
- **Motivation:** The dataset is useful to investigate the reasoning

[2021-11-03 08:42] NielsRogge opened #3202 "Add mIoU metric"
**Is your feature request related to a problem? Please describe.**
Recently, some semantic segmentation models were added to HuggingFace Transformers, including [SegFormer](https://huggingface.co/transformers/model_doc/segformer.html) and [BEiT](https://huggingface.co/transformers/model_doc/beit.html).

Semantic segmentation (which is the task of labeling every pixel of an image with a correspondi

[2021-11-03 10:28] lhoestq commented on #3178
It looks like every time you load `en_core_web_sm` you get a different python object:
[code]
Here is a list of attributes that have different hashes for `nlp1` and `nlp2`:
- tagger
- parser
- entity
- pipeline (it's the list of the three attributes above)

I just took a look at the tagger for example and I found subtle differences:
[code]

We can try to find all the differences and find the best w

[2021-11-03 10:41] BramVanroy commented on #3178
Thanks for searching! I went looking, and found that this is an implementation detail of thinc

https://github.com/explosion/thinc/blob/68691e303ae68cae4bc803299016f1fc064328bf/thinc/model.py#L96-L98

Presumably (?) exactly to distinguish between different parts in memory when multiple models are loaded. Do not think that this can be changed on their end - but I will ask what exactly it is for (I'

[2021-11-03 11:26] vlievin commented on #3172
Hi @mariosasko, thank you for the hint, that helped me to move forward with that issue.

I did a major refactoring of my project to disentangle my `LightningDataModule` and `Dataset`.  Just FYI, it looks like:

[code]

Unfortunately, the entanglement between `LightningDataModule` and `Dataset` was not the issue.

The culprit was `hydra` and a slight adjustment of the structure of my project solved

[2021-11-03 11:26] #3172 closed

[2021-11-03 13:02] lhoestq commented on #3178
It can be even simpler to hash the bytes of the pipeline instead
[code]

IMO we should integrate the custom hashing for spacy models into `datasets` (we use a custom Pickler for that).
What could be done on Spacy's side instead (if they think it's nice to have) is to implement a custom pickling for these classes using `to_bytes`/`from_bytes` to have deterministic pickle dumps.

Finally I think it

[2021-11-03 13:32] BramVanroy commented on #3178
I do not quite understand what you mean. as far as I can tell, using `to_bytes` does a pickle dump behind the scene (with `srsly`), recursively using `to_bytes` on the required objects. Therefore, the result of `to_bytes` is a deterministic pickle dump AFAICT. Or do you mean that you wish that using your own pickler and running `dumps(nlp)` should also be deterministic? I guess that would require

[2021-11-03 14:56] arda-vianai opened #3204 "FileNotFoundError for TupleIE dataste"
Hi,
`dataset = datasets.load_dataset('tuple_ie', 'all')`

returns a FileNotFound error. Is the data not available?

Many thanks.

[2021-11-03 17:13] lhoestq commented on #3047
This has been fixed in 1.15, let me know if you still have this issue

[2021-11-03 17:13] #3047 closed

[2021-11-03 17:17] lhoestq commented on #3114
Hi ! Can you try again with pyarrow 6.0.0 ? I think it includes some changes regarding filesystems compatibility with fsspec.

[2021-11-03 20:23] gregg-ADP commented on #2206
@mariosasko
I am hitting this bug in the Bert tokenizer too.  I see that @albertvillanova labeled this as a bug back in April.  Has there been a fix released yet?
What I did for now is to just disable the optimization in the HF library.  @yana-xuyan and @thomas-happify, is that what you did and did that work for you?

[2021-11-03 20:54] mariosasko commented on #2206
Hi @gregg-ADP,

This is still a bug.

As @albertvillanova has suggested, maybe it's indeed worth adding a variable to `config.py` to have a way to disable this behavior.

In the meantime, this forced optimization can be disabled by specifying `features` (of the returned examples) in the `map` call:
[code]

cc @lhoestq so he is also aware of this issue

[2021-11-03 23:34] BramVanroy commented on #3178
Interestingly, my PR does not solve the issue discussed above. The `tokenize` function hash is different on every run, because for some reason `nlp.__call__` has a different hash every time. The issue therefore seems to run much deeper than I thought. If you have any ideas, I'm all ears.

[code]

[2021-11-04 09:04] albertvillanova opened #3207 "CI error: Another metric with the same name already exists in Keras 2.7.0"
## Describe the bug
Release of TensorFlow 2.7.0 contains an incompatibility with Keras. See:
- keras-team/keras#15579

This breaks our CI test suite: https://app.circleci.com/pipelines/github/huggingface/datasets/8493/workflows/055c7ae2-43bc-49b4-9f11-8fc71f35a25c/jobs/52363

[2021-11-04 09:15] albertvillanova opened #3209 "Unpin keras once TF fixes its release"
Related to:
- #3208

[2021-11-04 09:30] #3207 closed

[2021-11-04 10:47] xiuzhilu opened #3210 "ConnectionError: Couldn't reach https://raw.githubusercontent.com/huggingface/datasets/1.15.1/datasets/wmt16/wmt16.py"
when I use python examples/pytorch/translation/run_translation.py     --model_name_or_path examples/pytorch/translation/opus-mt-en-ro     --do_train     --do_eval     --source_lang en     --target_lang ro     --dataset_name wmt16     --dataset_config_name ro-en     --output_dir /tmp/tst-translation     --per_device_train_batch_size=4     --per_device_eval_batch_size=4     --overwrite_output_dir

[2021-11-04 11:08] lvwerra opened #3212 "Sort files before loading"
When loading a dataset that consists of several files (e.g. `my_data/data_001.json`, `my_data/data_002.json` etc.) they are not loaded in order when using `load_dataset("my_data")`.

This could lead to counter-intuitive results if, for example, the data files are sorted by date or similar since they would appear in different order in the `Dataset`.

The straightforward solution is to sort the list