[2020-08-26 12:36] lhoestq commented on #492
It should be good now. I was able to run

[code]

[2020-08-26 14:14] go-inoue commented on #532
I wrote a separate script just for preparing a cached file, including tokenization. Each process did use the tokenized cached file.

Currently I'm testing the pipeline on 24GB text data. It took about 1.5 hour to process on `n1-highmem-16 (16 vCPUs, 104 GB memory)`. I assume loading this cached file in the main script with `xla_spawn.py` won't be an issue (even if there are 8 processes).

[code]

[2020-08-26 15:43] lhoestq commented on #532
Yes loading the cached file should be fine from different processes

[2020-08-26 15:43] go-inoue commented on #532
Sorry, I thought it was working, but actually the second call doesn't use the cached file generated separately, and it will generate another cache-****.arrorw file with a different name. If I run the training script again (with `xla_spawn.py`), it will use the second cached file.

[code]

[2020-08-26 15:47] lhoestq commented on #532
So if I understand correctly it means that the cached file generated by your separated script is different by the one used by the training script ?

[2020-08-26 15:50] go-inoue commented on #532
Yes.

1. `cache-69633651476e943b93c89ace715f9487.arrow` was generated with a separate script.
2. I ran the entire script with `xla_spawn.py`.
3. `cache-69633651476e943b93c89ace715f9487.arrow` is not used.
4. `cache-0d77dfce704493dbe63f071eed6a5431.arrow` is created.
5. training starts...

Now, if I do the step 2 again, it will use `cache-0d77dfce704493dbe63f071eed6a5431.arrow` (step 4) without any

[2020-08-26 16:17] go-inoue commented on #532
1.  Log for the fist step.
[code]
There's a file named `cache-7b1440ba7077af0f0d9035b5a55d01fc.arrow`.
[code]
Ideally, `cache-7b1440ba7077af0f0d9035b5a55d01fc.arrow` should be used. But it looks like it's creating a new one.

[code]

If I look at the cached directory:

[code]

[2020-08-26 16:17] jarednielsen commented on #492
Thanks!

[2020-08-26 16:17] #492 closed

[2020-08-27 01:46] sshleifer commented on #525
Mirror is not official.

[2020-08-27 06:31] ashutosh-dwivedi-e3502 commented on #534
Thanks @lhoestq .

[2020-08-27 06:31] #534 closed

[2020-08-27 08:14] lhoestq commented on #525
Shall we host the files ourselves or it is fine to use this mirror in your opinion ?

[2020-08-27 08:17] lhoestq commented on #532
Thanks for all the details.
The two cached files are supposed to be the same. I suspect that the caching has a problem with the tokenizer.
Which tokenizer did you use ?

[2020-08-27 08:32] go-inoue commented on #532
I trained a byte-level BPE tokenizer on my data with `tokenziers` library following this [example](https://github.com/huggingface/tokenizers/blob/master/bindings/python/examples/train_bytelevel_bpe.py).

And I put these model files in a directory named `"model_name"`. I also put config.json, which is the original RoBERTa config file.

[code]

[This](https://github.com/huggingface/transformers/blob

[2020-08-27 08:35] thomwolf commented on #525
Should we add an argument in `load_dataset` to replace some URL with another URL. This could also be used to use local files instead of the original files as requested by some users (e.g. when you made a dataset with the same format than SQuAD and what to use it instead of the official dataset files).

[2020-08-27 08:37] go-inoue commented on #532
In my separated script for caching, I'm using `use_fast=True` when initializing a tokenizer.

[code]
I wasn't using that option in the main script. That could be the reason...

[2020-08-27 08:40] lhoestq commented on #532
Yea it could definitely explain why you have two different cache files.
Let me know if using the same tokenizers on both sides fixes the issue

[2020-08-27 08:58] go-inoue commented on #532
It still creates a new file even if I remove `use_fast=True`...

[2020-08-27 09:08] lhoestq commented on #532
You need this part in the main script or it will used the dataset that is not tokenized

[2020-08-27 09:11] lhoestq commented on #532
I can see that the tokenizer in `run_language_modeling.py` is not instantiated the same way as in you separated script.
Indeed we can see L196:
[code]
Could you try to make it so they are instantiated the exact same way please ?

[2020-08-27 09:32] go-inoue commented on #532
I updated my separated script, but it's creating a cached file again. If I don't use the `model_args.cache_dir`, both will get 'None', so they should be the same.

[code]

[2020-08-27 15:16] lhoestq commented on #532
Could you also check that the `args.block_size` used in the lambda function is the same as well ?

[2020-08-27 22:03] sshleifer commented on #525
I think we should host it ourselves. I'll put the subset of wmt that we need on s3 and post a link over the weekend.

[2020-08-27 23:58] abarbosa94 opened #537 "[Dataset] RACE dataset Checksums error"
Hi there, I just would like to use this awesome lib to perform a dataset fine-tuning on RACE dataset. I have performed the following steps:

[code]

But then I got the following error:

[code]

[2020-08-28 13:29] go-inoue commented on #532
Here's a minimal working example to reproduce this issue.

Assumption:
- You have access to TPU.
- You have installed `transformers` and `nlp`.
- You have tokenizer files (`config.json`, `merges.txt`, `vocab.json`) under the directory named `model_name`.
- You have xla_spawn.py (Download from https://github.com/huggingface/transformers/blob/master/examples/xla_spawn.py).
- You have saved the follo

[2020-08-28 14:35] moskomule commented on #477
Hi, I got another error (on Colab):

[code]

[2020-08-28 19:55] gaguilar opened #539 "[Dataset] `NonMatchingChecksumError` due to an update in the LinCE benchmark data"
Hi,

There is a `NonMatchingChecksumError` error for the `lid_msaea` (language identification for Modern Standard Arabic - Egyptian Arabic) dataset from the LinCE benchmark due to a minor update on that dataset.

How can I update the checksum of the library to solve this issue? The error is below and it also appears in the [nlp viewer](https://huggingface.co/nlp/viewer/?dataset=lince&config=lid_ms

[2020-08-29 12:06] moskomule opened #541 "Best practices for training tokenizers with nlp"
Hi, thank you for developing this library.

What do you think are the best practices for training tokenizers using `nlp`?  In the document and examples, I could only find pre-trained tokenizers used.

[2020-08-30 03:20] luyug opened #543 "nlp.load_dataset is not safe for multi processes when loading from local files"
Loading from local files, e.g., `dataset = nlp.load_dataset('csv', data_files=['file_1.csv', 'file_2.csv'])`
concurrently from multiple processes, will raise `FileExistsError` from builder's line 430, https://github.com/huggingface/nlp/blob/6655008c738cb613c522deb3bd18e35a67b2a7e5/src/nlp/builder.py#L423-L438

Likely because multiple processes step into download_and_prepare, https://github.com/hug

[2020-08-31 08:05] thomwolf commented on #543
I'll take a look!

[2020-08-31 10:51] lhoestq commented on #537
`NonMatchingChecksumError` means that the checksum of the downloaded file is not the expected one.
Either the file you downloaded was corrupted along the way, or the host updated the file.
Could you try to clear your cache and run `load_dataset` again ? If the error is still there, it means that there was an update in the data, and we may have to update the expected checksum value.

[2020-08-31 11:15] #543 closed

[2020-08-31 11:33] thomwolf commented on #477
Indeed we'll update the cola with the new release coming up this week.

[2020-08-31 11:37] thomwolf opened #545 "New release coming up for this library"
Hi all,
A few words on the roadmap for this library.

The next release will be a big one and is planed at the end of this week.

In addition to the support for indexed datasets (useful for non-parametric models like REALM, RAG, DPR, knn-LM and many other fast dataset retrieval technics), it will:
- have support for multi-modal datasets
- include various significant improvements on speed for standa

[2020-08-31 12:57] agemagician opened #546 "Very slow data loading on large dataset"
I made a simple python script to check the NLP library speed, which loads 1.1 TB of textual data.
It has been 8 hours and still, it is on the loading steps.
It does work when the text dataset size is small about  1 GB, but it doesn't scale.
It also uses a single thread during the data loading step.

[code]

Is there something that I am missing ?

[2020-08-31 12:58] thomwolf commented on #539
Hi @gaguilar

If you want to take care of this, it very simple, you just need to regenerate the `dataset_infos.json` file as indicated [in the doc](https://huggingface.co/nlp/share_dataset.html#adding-metadata) by running (from the root of the repo):
[code]
And then you can open a pull-request with the updated json file.

Otherwise we'll do it sometime this week.

[2020-08-31 13:04] lhoestq commented on #546
When you load a text file for the first time with `nlp`, the file is converted into Apache Arrow format. Arrow allows to use memory-mapping, which means that you can load an arbitrary large dataset.

Note that as soon as the conversion has been done once, the next time you'll load the dataset it will be much faster.

However for a 1TB dataset, the conversion can indeed take time. You could try to

[2020-08-31 13:04] thomwolf commented on #546
Humm, we can give a look at these large scale datasets indeed.

Do you mind sharing a few stats on your dataset so I can try to test on a similar one?

In particular some orders of magnitudes for the number of files, number of lines per files, length for the lines.

[2020-08-31 13:57] agemagician commented on #546
@lhoestq Yes, I understand that the first time requires more time. The concatenate_datasets seems a workaround, but I believe a multi-processing method should be integrated into load_dataset to make it easier for users.

@thomwolf Sure, here are the statistics:
Number of lines: 4.2 Billion
Number of files: 6K
Number of tokens: 800 Billion
The number of lines is distributed equally across these 6k

[2020-08-31 15:40] lhoestq commented on #508
Do you manage to run a dummy beam pipeline with python on windows ?
You can test a dummy pipeline with [this code](https://github.com/apache/beam/blob/master/sdks/python/apache_beam/examples/wordcount_minimal.py)

[2020-08-31 15:52] lhoestq commented on #486
Yes indeed it looks like some `'` and spaces are missing (for example in `dont` or `didnt`).
Do you know if there exist some copies without this issue ?
How would you fix this issue on the current data exactly ? I can see that the data is raw text (not tokenized) so I'm not sure I understand how you would do it. Could you provide more details ?

[2020-08-31 19:57] abarbosa94 commented on #537
I just cleared the cache an run it again. The error persists ):

[code]

[2020-09-01 03:32] gaguilar commented on #539
Hi @thomwolf

Thanks for the details! I just created a PR with the updated `dataset_infos.json` file (#550).

[2020-09-01 09:24] thomwolf commented on #546
@agemagician you can give a try at a multithreaded version if you want (currently on the #548).

To test it, you just need to copy the new `text` processing script which is [here](https://github.com/huggingface/nlp/blob/07d92a82b7594498ff702f3cca55c074e2052257/datasets/text/text.py) somewhere on your drive and give it's local path instead of `text` to `load_dataset`. E.g. in your example:
[code]

[2020-09-01 10:39] agemagician commented on #546
I have already generated the dataset, but now I tried to reload it and it is still very slow.

I also have installed your commit and it is slow, even after the dataset was already generated.
`pip install git+https://github.com/huggingface/nlp.git@07d92a82b7594498ff702f3cca55c074e2052257`

[2020-09-01 10:42] lhoestq commented on #546
As mentioned in #548 , each time you call `load_dataset` with `data_files=`, they are hashed to get the cache directory name. Hashing can be too slow with 1TB of data. I feel like we should have a faster way of getting a hash that identifies the input data files

[2020-09-01 11:12] agemagician commented on #546
I believe this is really a very important feature, otherwise, we will still have the issue of too slow loading problem even if the data cache generation is fast.

[2020-09-01 11:37] thomwolf commented on #546
Hmm ok then maybe it's the hashing step indeed.

Let's see if we can improve this as well.

(you will very likely have to regenerate your dataset if we change this part of the lib though since I expect modifications on this part of the lib to results in new hashes)

[2020-09-01 11:38] thomwolf commented on #546
Also, @agemagician you have to follow the step I indicate in my previous message [here](https://github.com/huggingface/nlp/issues/546#issuecomment-684648927) to use the new text loading script.

Just doing `pip install git+https://github.com/huggingface/nlp.git@07d92a82b7594498ff702f3cca55c074e2052257` like you did won't use the new script (they are not inside the library but hosted on our hub).

[2020-09-01 11:39] agemagician commented on #546
No problem, I will regenerate it. This will make us see if we solved both issues and now both the data generation step, as well as the hashing step, is fast.

[2020-09-01 12:14] go-inoue commented on #532
I ended up specifying the `cache_file_name` argument when I call `map` function.

[code]

Note:
- `text` dataset in `nlp` does not strip `"\n"`.  If you want the same output as in [`LineByLineTextDataset`](https://github.com/huggingface/transformers/blob/afc4ece462ad83a090af620ff4da099a0272e171/src/transformers/data/datasets/language_modeling.py#L88-L111), you would need to create your own dataset

[2020-09-01 13:11] orsharir commented on #486
I'm afraid that I don't know how to obtain the original BookCorpus data. I believe this version came from an anonymous Google Drive link posted in another issue.

Going through the raw text in this version, it's apparent that NLTK's TreebankWordTokenizer was applied on it (I gave some examples in my original post), followed by:
`' '.join(tokens)`
You can retrieve the tokenization by splitting on w

[2020-09-01 14:06] danieldk opened #554 "nlp downloads to its module path"
I am trying to package `nlp` for Nix, because it is now an optional dependency for `transformers`. The problem that I encounter is that the `nlp` library downloads to the module path, which is typically not writable in most package management systems:

[code]

Do you have any suggested workaround for this issue?

Perhaps overriding the default value for `force_local_path` of `prepare_module`?

[2020-09-01 14:10] thomwolf commented on #554
Indeed this is a know issue with the fact that we try to be compatible with cloupickle.

Does this also happen if you are installing in a virtual environment?

[2020-09-01 14:11] danieldk commented on #554
Then it would work, because the package is in a writable path.

[2020-09-01 14:19] thomwolf commented on #554
If it's fine for you then this is the recommended way to solve this issue.

[2020-09-01 14:24] danieldk commented on #554
I don't want to use a virtual environment but Nix, because Nix is fully reproducible. And I am the maintainer of the `transformers` in nixpkgs, so sooner or later I will have to package `nlp` ;).

[2020-09-01 14:49] sebastiantomac commented on #508
Still, same error, so I guess it is on apache beam then.
Thanks for the investigation.

[2020-09-01 14:49] #508 closed

[2020-09-01 14:53] lhoestq commented on #508
Thanks for trying
Let us know if you find clues of what caused this issue, or if you find a fix

[2020-09-01 22:23] ynouri opened #560 "Using custom DownloadConfig results in an error"
## Version / Environment

Ubuntu 18.04
Python 3.6.8
nlp 0.4.0

## Description

Loading `imdb` dataset works fine when when I don't specify any `download_config` argument. When I create a custom `DownloadConfig` object and pass it to the `nlp.load_dataset` function, this results in an error.

## How to reproduce

### Example without DownloadConfig --> works

[code]

### Example with DownloadConfig

[2020-09-01 22:32] ynouri commented on #560
From my limited understanding, part of the issue seems related to the `prepare_module`  and `download_and_prepare` functions each handling the case where no config is passed. For example, `prepare_module` does mutate the object passed and forces the flags `extract_compressed_file` and `force_extract` to `True`.

See:
* https://github.com/huggingface/nlp/blob/5fb61e1012bda724a9b6b847307d90a1380abfa

[2020-09-02 07:38] thomwolf commented on #560
Thanks for the report, I'll take a look.

What is your specific use-case for providing a DownloadConfig object?

[2020-09-02 08:01] thomwolf commented on #554
Ok interesting. We could have another check to see if it's possible to download and import the datasets script at another location than the module path. I think this would probably involve tweaking the python system path dynamically.

I don't know anything about Nix so if you want to give this a try your self we can guide you or you can give us more information on your general project and how this

[2020-09-02 13:28] ynouri commented on #560
Thanks. Our use case involves running a training job behind a corporate firewall with no access to any external resources (S3, GCP or other web resources).

I was thinking about a 2-steps process:
1) Download the resources / artifacts using some secure corporate channel, ie run `nlp.load_dataset()` without a specific `DownloadConfig`. After that, collect the files from the `$HF_HOME` folder
2) Cop

[2020-09-02 13:49] melody-ju opened #565 "No module named 'nlp.logging'"
Hi, I am using nlp version 0.4.0. Trying to use bleurt as an eval metric, however, the bleurt script imports nlp.logging which creates the following error. What am I missing?

[code]

Just to show once again that I can't import the logging module:

[code]

[2020-09-02 16:41] lhoestq commented on #565
Thanks for reporting.

Apparently this is a versioning issue: the lib downloaded the `bleurt` script from the master branch where we did this change recently. We'll fix that in a new release this week or early next week. Cc @thomwolf

Until that, I'd suggest you to download the right bleurt folder from github ([this one](https://github.com/huggingface/nlp/tree/0.4.0/metrics/bleurt)) and do

[code]

[2020-09-02 16:42] thomwolf commented on #565
Actually we can fix this on our side, this script didn't had to be updated. I'll do it in a few minutes

[2020-09-02 16:47] thomwolf commented on #560
I see.

Probably the easiest way for you would be that we add simple serialization/deserialization methods to the Dataset and DatasetDict objects once the data files have been downloaded and all the dataset is processed.

What do you think @lhoestq ?

[2020-09-03 04:56] ibeltagy opened #568 "`metric.compute` throws `ArrowInvalid` error"
I get the following error with `rouge.compute`. It happens only with distributed training, and it occurs randomly I can't easily reproduce it. This is using `nlp==0.4.0`

[code]

[2020-09-03 05:31] kshre commented on #537
Dealing with the same issue please update the checksum on nlp library end. The data seems to have changed on their end.

[2020-09-03 08:02] thomwolf commented on #537
We have a discussion on this datasets here: https://github.com/huggingface/nlp/pull/540

Feel free to participate if you have some opinion on the scope of data which should be included in this dataset.

[2020-09-03 09:04] thomwolf commented on #545
Update: release is planed mid-next week.

[2020-09-03 16:34] lhoestq commented on #539
Thanks for updating the json file. Closing this one

[2020-09-03 16:34] #539 closed

[2020-09-03 19:50] agemagician commented on #546
Any news for the hashing ?

[2020-09-04 08:35] lhoestq commented on #546
I'm working on it today :)

[2020-09-04 08:49] thomwolf commented on #560
This use-case will be solved with #571

[2020-09-04 10:34] lhoestq commented on #511
Yes sure !

[2020-09-04 15:06] lhoestq commented on #546
Ok so now the text files won't be hashed.

I also updated #548 to include this change.
Let us know if it helps !

[2020-09-04 21:46] sudarshan85 opened #575 "Couldn't reach certain URLs and for the ones that can be reached, code just blocks after downloading."
Hi,

I'm following the [quick tour](https://huggingface.co/nlp/quicktour.html) and tried to load the glue dataset:
[code]

However, this ran into a `ConnectionError` saying it could not reach the URL (just pasting the last few lines):
[code]

I tried glue with cola and sst2. I got the same error, just instead of mrpc in the URL, it was replaced with cola and sst2.

Since this was not working, I th

[2020-09-04 23:04] sudarshan85 commented on #575
Update:

The imdb download completed after a long time (about 45 mins). Ofcourse once download loading was instantaneous. Also, the loaded object was of type `arrow_dataset`.

The urls for glue still doesn't work though.

[2020-09-05 12:32] orsharir commented on #537
At least for me, the file that was downloaded from CMU isn't the complete dataset, but a small subset of it (~25MB vs ~85MB). I've previously downloaded the dataset directly, so for my personal needs I could just swap out the corrupted file with the correct one. Perhaps you could host it like you do for the Wikipedia and BookCorpus datasets.

[2020-09-07 00:14] kshre commented on #537
Could you upload this please?

[2020-09-07 01:16] gaguilar opened #577 "Some languages in wikipedia dataset are not loading"
Hi,

I am working with the `wikipedia` dataset and I have a script that goes over 92 of the available languages in that dataset. So far I have detected that `ar`, `af`, `an` are not loading. Other languages like `fr` and `en` are working fine. Here's how I am loading them:

[code]

Here's what I see for 'ar' (it gets stuck there):
[code]

Note that those languages are indeed in the list of expecte

[2020-09-07 07:08] thomwolf commented on #575
Thanks for the report, I'll give a look!

[2020-09-07 10:23] TevenLeScao opened #580 "nlp re-creates already-there caches when using a script, but not within a shell"
`nlp` keeps creating new caches for the same file when launching `filter` from a script, and behaves correctly from within the shell.

Example: try running

[code]

twice. If launched from a `file.py` script, the cache will be re-created the second time. If launched as 3 shell/`ipython` commands, `nlp` will correctly re-use the cache.
As observed with @lhoestq.

[2020-09-07 12:33] lhoestq commented on #580
Couln't reproduce on my side :/
let me know if you manage to reproduce on another env (colab for example)

[2020-09-07 13:47] BramVanroy opened #581 "Better error message when input file does not exist"
In the following scenario, when `data_files` is an empty list, the stack trace and error message could be improved. This can probably be solved by checking for each file whether it actually exists and/or whether the argument is not false-y.

[code]

Example error trace.

[code]

[2020-09-07 13:51] BramVanroy commented on #581
D'oh, this issue is raised when `files` is empty (it was empty because the dummy path). Perhaps the existence of the given paths should be checked and a better error message can be displayed?

[2020-09-07 13:54] BramVanroy opened #582 "Allow for PathLike objects"
Using PathLike objects as input for `load_dataset` does not seem to work. The following will throw an error.

[code]

Traceback:

[code]

We have to cast to a string explicitly to make this work. It would be nicer if we could actually use PathLike objects.

[code]

[2020-09-07 14:26] #580 closed

[2020-09-07 14:36] lhoestq opened #583 "ArrowIndexError on Dataset.select"
If the indices table consists in several chunks, then `dataset.select` results in an `ArrowIndexError` error for pyarrow < 1.0.0

Example:

[code]

raises:
[code]

This is because the `take` method is only done on the first chunk which only contains 1000 elements by default (mnli has ~400 000 elements).

Shall we change that to use
[code]
instead of `take` ? @thomwolf

[2020-09-07 14:45] lhoestq commented on #406
Shuffling is now significantly faster thanks to #513
Feel free to play with it now :)

Closing this one, but feel free to re-open if you have other questions

[2020-09-07 14:45] #406 closed

[2020-09-07 14:48] lhoestq commented on #426
Multiprocessing was added in #552 . You can set the number of processes with `.map(..., num_proc=...)`. It also works for `filter`

Closing this one, but feel free to reo-open if you have other questions

[2020-09-07 14:48] #426 closed

[2020-09-07 14:50] lhoestq commented on #375
The other issue was fixed by #403

Do you still get this issue @willywsm1013 ?

[2020-09-07 14:51] lhoestq commented on #347
Since #481 we shouldn't have other issues with encodings as they need to be set to "utf-8" be default.

Closing this one, but feel free to re-open if you gave other questions

[2020-09-07 14:51] #347 closed

[2020-09-07 14:53] lhoestq commented on #474
This was fixed in #527

Closing this one, but feel free to re-open if you have other questions

[2020-09-07 14:53] #474 closed

[2020-09-07 15:19] TevenLeScao commented on #580
Fixed with a clean re-install!

[2020-09-07 16:52] lhoestq commented on #577
Some wikipedia languages have already been processed by us and are hosted on our google storage. This is the case for "fr" and "en" for example.

For other smaller languages (in terms of bytes), they are directly downloaded and parsed from the wikipedia dump site.
Parsing can take some time for languages with hundreds of MB of xml.

Let me know if you encounter an error or if you feel that is is t

[2020-09-07 18:09] gaguilar commented on #577
Ok, thanks for clarifying, that makes sense. I will time those examples later today and post back here.

Also, it seems that not all dumps should use the same date. For instance, I was checking the Spanish dump doing the following:
[code]

I got the error below because this URL does not exist: https://dumps.wikimedia.org/eswiki/20200501/dumpstatus.json. So I checked the actual available dates here

[2020-09-07 19:50] ynouri commented on #560
Thank you very much @thomwolf and @lhoestq we will give it a try

[2020-09-08 07:43] #583 closed

[2020-09-08 07:45] #582 closed

[2020-09-08 09:15] lhoestq commented on #577
Thanks ! This will be very helpful.

About the date issue, I think it's possible to use another date with

[code]

However we've not processed wikipedia dumps for other dates than 20200501 (yet ?)

One more thing that is specific to 20200501.es: it was available once but the `mwparserfromhell` was not able to parse it for some reason, so we didn't manage to get a processed version of 20200501. (se

[2020-09-08 09:30] lhoestq commented on #554
@danieldk modules are now installed in a different location (by default in the cache directory of the lib, in `~/.cache/huggingface/modules`). You can also change that using the environment variable `HF_MODULES_PATH`

Feel free to play with this change from the master branch for now, and let us know if it sounds good for you :)
We plan to do a release in the next coming days

[2020-09-08 09:36] lhoestq commented on #486
Ok I get it, that would be very cool indeed

What kinds of patterns the detokenizer can't retrieve ?

[2020-09-08 09:36] lhoestq commented on #483
Closing this one. Thanks again @jxmorris12 for taking care of this :)

[2020-09-08 09:36] #483 closed

[2020-09-08 10:19] #546 closed

[2020-09-08 12:44] agemagician commented on #546
Perfect thanks for your amazing work.

[2020-09-08 14:18] orsharir commented on #486
The TreebankTokenizer makes some assumptions about whitespace, parentheses, quotation marks, etc. For instance, while tokenizing the following text:
[code]
will result in:
[code]
where the left and right quotation marks are turned into distinct symbols. Upon reconstruction, we can attach the left part to its token on the right, and respectively for the right part. However, the following texts woul

[2020-09-08 14:28] orsharir commented on #537
Not sure if I can upload it according to their license ("You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purpose, any portion of the contexts and any portion of derived data.").

[2020-09-08 15:32] Ierezell commented on #435
I dont know if the fix was made but the problem is still present :
Instaled with pip : NLP 0.3.0 // pyarrow 1.0.0
OS : archlinux with kernel zen 5.8.5

[2020-09-08 15:35] thomwolf commented on #435
Yes it was fixed in `nlp>=0.4.0`
You can update with pip

[2020-09-08 17:56] Ierezell commented on #435
Sorry, I didn't got the updated version, all is working perfectly

[2020-09-08 20:14] gaguilar commented on #577
Cool! Thanks for the trick regarding different dates!

I checked the download/processing time for retrieving the Arabic Wikipedia dump, and it took about 3.2 hours. I think that this may be a bit impractical when it comes to working with multiple languages (although I understand that storing those datasets in your Google storage may not be very appealing either).

For the records, here's what I di

[2020-09-09 06:46] ksjae opened #589 "Cannot use nlp.load_dataset text, AttributeError: module 'nlp.utils' has no attribute 'logging'"
[code]

Occurs on the following code, or any code including the load_dataset('text'):
[code]

[2020-09-09 07:01] saareliad opened #590 "The process cannot access the file because it is being used by another process (windows)"
Hi, I consistently get the following error when developing in my PC (windows 10):

[code]

[2020-09-09 08:19] thomwolf commented on #590
Hi, which version of `nlp` are you using?

By the way we'll be releasing today a significant update fixing many issues (but also comprising a few breaking changes).
You can see more informations here #545 and try it by installing from source from the master branch.

[2020-09-09 08:57] #589 closed

[2020-09-09 09:00] #581 closed

[2020-09-09 12:03] saareliad commented on #590
I'm using version 0.4.0.

[2020-09-09 15:01] sudarshan85 opened #595 "`Dataset`/`DatasetDict` has no attribute 'save_to_disk'"
Hi,

As the title indicates, both `Dataset` and `DatasetDict` classes don't seem to have the `save_to_disk` method.  While the file [`arrow_dataset.py`](https://github.com/huggingface/nlp/blob/34bf0b03bfe03e7f77b8fec1cd48f5452c4fc7c1/src/nlp/arrow_dataset.py) in the repo here has the method, the file `arrow_dataset.py` which is saved after `pip install nlp -U` in my `conda` environment DOES NOT co

[2020-09-09 15:10] lhoestq commented on #595
`pip install git+https://github.com/huggingface/nlp.git` should have done the job.

Did you uninstall `nlp` before installing from github ?

[2020-09-09 16:20] sudarshan85 commented on #595
I did not. I created a new environment and installed `nlp` directly from `github` and it worked!

Thanks.

[2020-09-09 16:20] #595 closed

[2020-09-09 18:47] charleybeller commented on #477
I'm hitting the `AttributeError: 'numpy.ndarray' object has no attribute 'to_tensor'` issue as well. Is there a branch that has the fix in it that I can try?

[2020-09-09 19:50] joeddav opened #597 "Indices incorrect with multiprocessing"
When `num_proc` > 1, the indices argument passed to the map function is incorrect:

[code]

As you can see, the subset passed to each thread is indexed from 0 to N which doesn't reflect their positions in `d`.

[2020-09-09 21:03] zeyuyun1 opened #598 "The current version of the package on github has an error when loading dataset"
Instead of downloading the package from pip, downloading the version from source will result in an error when loading dataset (the pip version is completely fine):

To recreate the error:
First, installing nlp directly from source:
[code]
Then run:
[code]
will give error:

[code]

[2020-09-09 22:31] lhoestq commented on #598
Thanks for reporting !
Which version of transformers are you using ?
It looks like it doesn't have the PreTrainedTokenizerBase class

[2020-09-09 22:33] lhoestq commented on #597
I fixed a bug that could cause this issue earlier today. Could you pull the latest version and try again ?

[2020-09-09 22:47] zeyuyun1 commented on #598
I was using transformer 2.9. And I switch to the latest transformer package it works!!

Thanks for helping! I should look more carefully next time. Didn't realize loading the data part requires using tokenizer.

[2020-09-09 22:57] #598 closed

[2020-09-10 06:25] thomwolf commented on #598
Yes it shouldn’t fail with older version of transformers since this is only a special feature to make caching more efficient when using transformers for tokenization.
We’ll update this.

[2020-09-10 06:28] kandorm opened #600 "Pickling error when loading dataset"
Hi,

I modified line 136 in the original [run_language_modeling.py](https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_language_modeling.py) as:

[code]

When I run this with transformers (3.1.0) and nlp (0.4.0), I get the following error:

[code]

[2020-09-10 06:45] danieldk commented on #554
Awesome! I’ll hopefully have some time in the coming days to try this.

[2020-09-10 07:07] thomwolf commented on #597
Still the case on master. I guess we should have an offset in the multi-procs indeed (hopefully it's enough).

[2020-09-10 07:10] thomwolf commented on #590
Ok, it's probably fixed on master. Otherwise if you can give me a fully self-contained exemple to reproduce the error, I can try to investigate.

[2020-09-10 09:19] kandorm commented on #600
When I change from python3.6 to python3.8, it works!

[2020-09-10 10:08] thomwolf commented on #600
Does it work when you install `nlp` from source on python 3.6?

[2020-09-10 10:42] kandorm commented on #600
No, still the pickling error.

[2020-09-10 11:03] #597 closed

[2020-09-10 16:46] jeswan commented on #575
I am also seeing a similar error:

[code]

[2020-09-10 16:54] julien-c commented on #575
@jeswan `"cola"` is not a valid dataset identifier (you can check the up-to-date list on https://huggingface.co/datasets) but you can find cola inside glue.

[2020-09-10 17:02] jeswan commented on #575
Ah right! Thanks!

[2020-09-10 17:45] danieldk commented on #554
Thanks for making this change! I just packaged the latest commit on master and it works like a charm now! :partying_face:

[2020-09-10 17:47] jeswan opened #608 "Don't use the old NYU GLUE dataset URLs"
NYU is switching dataset hosting from Google to FB. Initial changes to `datasets` are in https://github.com/jeswan/nlp/commit/b7d4a071d432592ded971e30ef73330529de25ce. What tests do you suggest I run before opening a PR?

See: https://github.com/jiant-dev/jiant/issues/161 and https://github.com/nyu-mll/jiant/pull/1112

[2020-09-10 17:59] lhoestq commented on #608
Feel free to open the PR ;)
Thanks for updating the dataset_info.json file !

[2020-09-10 18:41] chiyuzhang94 opened #610 "Load text file for RoBERTa pre-training."
I migrate my question from https://github.com/huggingface/transformers/pull/4009#issuecomment-690039444

I tried to train a Roberta from scratch using transformers. But I got OOM issues with loading a large text file.
According to the suggestion from @thomwolf , I tried to implement `datasets` to load my text file. This test.txt is a simple sample where each line is a sentence.
[code]

But dataloa

[2020-09-11 05:29] sangyx opened #611 "ArrowCapacityError: List array cannot contain more than 2147483646 child elements, have 2147483648"
Hi, I'm trying to load a dataset from Dataframe, but I get the error:
[code]
My code is :
[code]

[2020-09-11 06:19] #554 closed

[2020-09-11 08:19] thomwolf commented on #611
Can you give us stats/information on your pandas DataFrame?

[2020-09-11 08:34] sangyx commented on #611
[code]

[2020-09-11 08:35] thomwolf commented on #611
Thanks and some more on the `embeddings` and `picture_url` would be nice as well (type and max lengths of the elements)

[2020-09-11 08:41] sangyx commented on #611
`embedding` is `np.array` of shape `(128,)`. `picture_url` is url, such as 'https://i.ebayimg.com/00/s/MTE5OVgxNjAw/z/ZOsAAOSwAG9fHQq5/$_12.JPG?set_id=880000500F;https://i.ebayimg.com/00/s/MTE5OVgxNjAw/z/OSgAAOSwokBfHQq8/$_12.JPG?set_id=880000500F'

[2020-09-11 09:17] kandorm commented on #600
And, when I use ```num_proc``` in the ```dataset.map``` with python 3.8:
[code]
I get the following error:
[code]

[2020-09-11 14:50] lhoestq opened #615 "Offset overflow when slicing a big dataset with an array of indices in Pyarrow >= 1.0.0"
How to reproduce:

[code]

It seems to work fine with small datasets or with pyarrow 0.17.1

[2020-09-11 15:25] lhoestq commented on #611
It looks like a Pyarrow limitation.
I was able to reproduce the error with

[code]

I also tried with 50% of the dataframe and it actually works.
I created an issue on Apache Arrow's JIRA [here](https://issues.apache.org/jira/browse/ARROW-9976)

One way to fix that would be to chunk the dataframe and concatenate arrow tables.

[2020-09-11 15:38] lhoestq commented on #610
Could you try
[code]
?

`load_dataset` returns a dictionary by default, like {"train": your_dataset}

[2020-09-11 15:39] BramVanroy opened #616 "UserWarning: The given NumPy array is not writeable, and PyTorch does not support non-writeable tensors."
I am trying out the library and want to load in pickled data with `from_dict`. In that dict, one column `text` should be tokenized and the other (an embedding vector) should be retained. All other columns should be removed. When I eventually try to set the format for the columns with `set_format` I am getting this strange Userwarning without a stack trace:

The first one might not be related to th

[2020-09-11 15:49] ibeltagy opened #617 "Compare different Rouge implementations"
I used RougeL implementation provided in `datasets` [here](https://github.com/huggingface/datasets/blob/master/metrics/rouge/rouge.py) and it gives numbers that match those reported in the pegasus paper but very different from those reported in other papers, [this](https://arxiv.org/pdf/1909.03186.pdf) for example.
Can you make sure the google-research implementation you are using matches the offi

[2020-09-11 20:46] M-Salti opened #619 "Mistakes in MLQA features names"
I think the following features in MLQA shouldn't be named the way they are:
1. `questions` (should be `question`)
2. `ids` (should be `id`)
3. `start` (should be `answer_start`)

The reasons I'm suggesting these features be renamed are:
* To make them consistent with other QA datasets like SQuAD, XQuAD, TyDiQA etc. and hence make it easier to concatenate multiple QA datasets.
* The features names

[2020-09-11 22:30] timothyjlaurent opened #620 "map/filter multiprocessing raises errors and corrupts datasets"
After upgrading to the 1.0 started seeing errors in my data loading script after enabling multiprocessing.

[code]

The first train_test_split, `ner_ds`/`ner_ds_dict`, returns a `train` and `test` split that are iterable.
The second, `rel_ds`/`rel_ds_dict` in this case, returns a Dataset dict that has rows but if selected from or sliced into into returns an empty dictionary. eg `rel_ds_dict['train

[2020-09-12 05:18] richarddwang commented on #620
It seems that I ran into the same problem
[code]
and it outpus (exceprts)
[code]
and then the program never stop.

[2020-09-12 12:49] BramVanroy opened #622 "load_dataset for text files not working"
Trying the following snippet, I get different problems on Linux and Windows.

[code]

(ps [This example](https://huggingface.co/docs/datasets/loading_datasets.html#json-files) shows that you can use a string as input for data_files, but the signature is `Union[Dict, List]`.)

The problem on Linux is that the script crashes with a CSV error (even though it isn't a CSV file). On Windows the script j

[2020-09-12 13:01] thomwolf commented on #622
Can you give us more information on your os and pip environments (pip list)?

[2020-09-12 13:15] BramVanroy commented on #622
@thomwolf Sure:

Linux (Ubuntu 18.04) - Python 3.8
-------------------------------------
Package     Version
----------   -----------
certifi               2020.6.20
chardet               3.0.4
click                 7.1.2
datasets              1.0.1
dill                  0.3.2
fasttext              0.9.2
filelock              3.0.12
future                0.18.2
idna                  2.10
joblib

[2020-09-12 13:21] lvwerra opened #623 "Custom feature types in `load_dataset` from CSV"
I am trying to load a local file with the `load_dataset` function and I want to predefine the feature types with the `features` argument. However, the types are always the same independent of the value of `features`.

I am working with the local files from the emotion dataset. To get the data you can use the following code:

[code]

The first five lines of the train set are:
[code]

Here the code

[2020-09-12 13:26] BramVanroy commented on #622
Downgrading to 3.7 does not help. Here is a dummy tex tfile:

[code]

[2020-09-12 14:32] banunitte commented on #622
![image](https://user-images.githubusercontent.com/6847024/92997714-d2add900-f532-11ea-83d4-e3473c2d94d7.png)
![image](https://user-images.githubusercontent.com/6847024/92997724-e22d2200-f532-11ea-951d-b1d8f4582ea3.png)
even i am facing the same issue.

[2020-09-12 14:44] BramVanroy commented on #622
@banunitte Please do not post screenshots in the future but copy-paste your code and the errors. That allows others to copy-and-paste your code and test it. You may also want to provide the Python version that you are using.

[2020-09-12 16:33] arvieFrydenlund commented on #486
To confirm, since this is preprocessed, this was not the exact version of the Book Corpus used to actually train the models described here (particularly Distilbert)?  https://huggingface.co/datasets/bookcorpus

Or does this preprocessing exactly match that of the papers?

[2020-09-12 18:10] chiyuzhang94 commented on #610
Hi @lhoestq
Thanks for your suggestion.

I tried
[code]

But it still doesn't work and got error:
[code]

I found type can be ['numpy', 'torch', 'tensorflow', 'pandas'] only, how can I deal with the string type?

[2020-09-12 18:33] thomwolf commented on #610
You need to tokenize the string inputs to convert them in integers before you can feed them to a pytorch dataloader.

You can read the quicktour of the datasets or the transformers libraries to know more about that:
- transformers: https://huggingface.co/transformers/quicktour.html
- dataset: https://huggingface.co/docs/datasets/quicktour.html

[2020-09-13 03:22] HuangLianzhe commented on #620
same problem.
`encoded_dataset = core_data.map(lambda examples: tokenizer(examples["query"], examples["document"], padding=True, truncation='longest_first', return_tensors="pt", max_length=384), num_proc=16, keep_in_memory=True)`
it outputs:
`Set __getitem__(key) output type to python objects for ['document', 'is_random', 'query'] columns  (when key is int or slice) and don't output other (un-form

[2020-09-13 05:10] ibeltagy commented on #617
Updates - the differences between the following three
(1) https://github.com/bheinzerling/pyrouge (previously popular. The one I trust the most)
(2) https://github.com/google-research/google-research/tree/master/rouge
(3) https://github.com/pltrdy/files2rouge (used in fairseq)
can be explained by two things, stemming and handling multiple sentences.

Stemming:
(1), (2): default is no stemming. (3)

[2020-09-13 10:20] krrishdholakia opened #624 "Add learningq dataset"
Hi,

Thank you again for this amazing repo.

Would it be possible for y'all to add the LearningQ dataset - https://github.com/AngusGLChen/LearningQ ?

[2020-09-13 13:41] sipah00 commented on #610
Hey @chiyuzhang94, I was also having trouble in loading a large text file (11GB).
But finally got it working. This is what I did after looking into the documentation.

1. split the whole dataset file into smaller files
[code]
2. Pass paths of small data files to `load_dataset`
[code]
(On passing the whole dataset file (11GB) directly to `load_dataset` was resulting into RAM issue)

3. Tokenization

[2020-09-13 20:25] argideritzalpea commented on #622
I have the exact same problem in Windows 10, Python 3.8.

[2020-09-14 07:55] lhoestq commented on #600
I wasn't able to reprodue on google colab (python 3.6.9 as well) with

pickle==4.0
dill=0.3.2
transformers==3.1.0
datasets=1.0.1 (also tried nlp 0.4.0)

If I try

[code]
It runs without error

[2020-09-14 08:45] lhoestq commented on #511
Since datasets 1.0.0 the format is not reset anymore.
Closing this one, but feel free to re-open if you have other questions

[2020-09-14 08:45] #511 closed

[2020-09-14 09:07] leethu2012 commented on #622
I have the same  problem on Linux of the  script crashing with a CSV error.  This may caused by 'CRLF', when changed 'CRLF' to 'LF', the problem solved.

[2020-09-14 09:54] lhoestq commented on #619
Indeed you're right ! Thanks for reporting that

Could you open a PR to fix the features names ?

[2020-09-14 12:38] BramVanroy opened #625 "dtype of tensors should be preserved"
After switching to `datasets` my model just broke. After a weekend of debugging, the issue was that my model could not handle the double that the Dataset provided, as it expected a float (but didn't give a warning, which seems a [PyTorch issue](https://discuss.pytorch.org/t/is-it-required-that-input-and-hidden-for-gru-have-the-same-dtype-float32/96221)).

As a user I did not expect this bug. I hav

[2020-09-14 19:39] abarbosa94 commented on #537
I managed to fix it in #540 :)

[2020-09-15 00:30] bharaniabhishek123 opened #629 "straddling object straddles two block boundaries"
I am trying to read json data (it's an array with lots of dictionaries) and getting block boundaries issue as below :

I tried calling read_json with readOptions but no luck .

[code]

[2020-09-15 00:32] #629 closed

[2020-09-15 00:36] bharaniabhishek123 commented on #629
sorry it's an apache arrow issue.

[2020-09-15 00:51] chiyuzhang94 commented on #610
Thanks, @thomwolf  and @sipah00 ,

I tried to implement your suggestions in my scripts.
Now, I am facing some connection time-out error. I am using my local file, I have no idea why the module request s3 database.

The log is:
[code]

Do you have any experience on this issue?

[2020-09-15 06:02] ksjae opened #630 "Text dataset not working with large files"
[code]

**pyarrow.lib.ArrowInvalid: straddling object straddles two block boundaries (try to increase block size?)**

It gives the same message for both 200MB, 10GB .tx files but not for 700MB file.
Can't upload due to size & copyright problem. sorry.

[2020-09-15 06:03] ksjae commented on #630
Seems like it works when setting ```block_size=2100000000``` or something arbitrarily large though.

[2020-09-15 08:27] lhoestq commented on #622
I pushed a fix for `pyarrow.lib.ArrowInvalid: CSV parse error`. Let me know if you still have this issue.

Not sure about the windows one yet

[2020-09-15 08:59] thomwolf commented on #622
To complete what @lhoestq is saying, I think that to use the new version of the `text` processing script (which is on master right now) you need to either specify the version of the script to be the `master` one or to install the lib from source (in which case it uses the `master` version of the script by default):
[code]
We do versioning by default, i.e. your version of the dataset lib will use t

[2020-09-15 09:00] thomwolf commented on #630
Can you give us some stats on the data files you use as inputs?

[2020-09-15 22:40] ksjae commented on #630
Basically ~600MB txt files(UTF-8) * 59.
contents like ```안녕하세요, 이것은 예제로 한번 말해보는 텍스트입니다. 그냥 이렇다고요.<|endoftext|>\n```

Also, it gets stuck for a loooong time at ```Testing the mapped function outputs```, for more than 12 hours(currently ongoing)

[2020-09-16 04:33] leethu2012 opened #633 "Load large text file for Longformer pre-training resulting in OOM"
I tried to pretrain Longformer using transformers and datasets. But I got OOM issues with loading a large text file. My script is almost like this:

[code]
This train.txt is about 1.1GB and has 90k lines where each line is a sequence of 4k words.
During training, the memory usage increased fast as the following graph and resulted in OOM before the finish of training.

![image](https://user-images.

[2020-09-16 06:36] ScottishFold007 commented on #622
![image](https://user-images.githubusercontent.com/36957508/93300760-fa9a8680-f829-11ea-9105-7a6f67ad8373.png)
win10, py3.6

![image](https://user-images.githubusercontent.com/36957508/93300705-e060a880-f829-11ea-8448-a71a846d5ec3.png)

[2020-09-16 06:53] #608 closed

[2020-09-16 06:59] #619 closed

[2020-09-16 12:02] sipah00 commented on #610
No, I didn't encounter this problem, it seems to me a network problem

[2020-09-16 23:29] chiyuzhang94 commented on #610
I noticed this is because I use a cloud server where does not provide for connections from our standard compute nodes to outside resources.

For the `datasets` package, it seems that if the loading script is not already cached in the library it will attempt to connect to an AWS resource to download the dataset loading script.

I am wondering why the package work in this way. Do you have any sugges

[2020-09-17 03:17] moscow25 commented on #353
Great list. Any idea if Amazon Reviews has been added?

- ~40 GB of text (sadly no emoji)
- popular MLM pre-training dataset before bigger datasets like WebText https://arxiv.org/abs/1808.01371
- turns out that binarizing the 1-5 star rating leads to great Pos/Neg/Neutral dataset, T5 paper claims to get very high accuracy (98%!) on this with small amount of finetuning https://arxiv.org/abs/2004.14

[2020-09-17 05:43] chiyuzhang94 commented on #610
I solved the above issue by downloading text.py manually and passing the path to the `load_dataset` function.

Now, I have a new issue with the Read-only file system.

The error is:
[code]

I installed datasets at /project/chiyuzh/evn_py36/datasets/src where is a writable directory.
I also tried change the environment variables to the writable directory:
export HF_MODULES_PATH=/project/chiyuzh/evn

[2020-09-17 06:00] shizhediao commented on #610
When I run 'dataset = dataset.map(encode, batched=True)',
I encountered a problem like this:
`Testing the mapped function outputs
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda3/envs/torch-xla-1.6/lib/python3.6/site-packages/datasets/dataset_dict.py", line 300, in map
    for k, dataset in self.items()
  File "/anaconda3/envs/torch-xla-1.6/lib/python3.6/

[2020-09-17 06:03] chiyuzhang94 commented on #610
What is your encoder function?

[2020-09-17 06:05] shizhediao commented on #610
It is the same as suggested:

  return tokenizer(examples['text'], truncation=True, padding='max_length')

[2020-09-17 06:09] chiyuzhang94 commented on #610
Do you use this function in a `class` object?

init() takes 1 positional argument but 2 were given. I guess the additional argument is self?

[2020-09-17 06:16] shizhediao commented on #610
Thanks for your reply.
Could you provide some simple example here?
Currently, I do not use this function in a class object.
I think you are right and I was wondering how to construct this class.

    """
    This will be superseded by a framework-agnostic approach
    soon.
    """

    def __init__(self, tokenizer: PreTrainedTokenizer, file_path: str, block_size: int):
        assert os.path.isfi

[2020-09-17 06:43] chiyuzhang94 commented on #610
I am also struggling with this adaptation.
I am not sure whether I am right.

I think you don't need to construct `class LazyLineByLineTextDataset(Dataset)` at all.
torch.utils.data.Dataset is a generator.

Now, we use `dataset = dataset.map(encode, batched=True)` as a generator. So we just pass dataset to torch.utils.data.DataLoader.

[2020-09-17 07:18] shizhediao commented on #610
@chiyuzhang94 Thanks for your reply. After some changes, currently, I managed to make the data loading process running.
I published it in case you might want to take a look. Thanks for your help!
https://github.com/shizhediao/Transformers_TPU

[2020-09-17 09:42] lhoestq commented on #633
Not sure what could cause that on the `datasets` side. Could this be a `Trainer` issue ? cc @julien-c @sgugger ?

[2020-09-17 10:46] lhoestq commented on #620
Thanks for reporting.

Which tokenizers are you using ? What platform are you on ? Can you tell me which version of datasets and pyarrow you're using ? @timothyjlaurent @richarddwang @HuangLianzhe

Also if you're able to reproduce the issue on google colab that would be very helpful.

I tried to run your code @richarddwang with the bert tokenizer wasn't able to reproduce

[2020-09-17 14:31] richarddwang commented on #620
Hi, Sorry that I forgot to see what my version is.
But after updating datasets to master (editable install), and latest pyarrow. It works now. Thanks.

[2020-09-17 15:07] sgugger commented on #633
There was a memory leak issue fixed recently in master. You should install from source and see if it fixes your problem.

[2020-09-17 15:32] lhoestq commented on #623
Currently `csv` doesn't support the `features` attribute (unlike `json`).
What you can do for now is cast the features using the in-place transform `cast_`

[code]

[2020-09-17 15:41] lhoestq commented on #630
It gets stuck while doing `.map()` ? Are you using multiprocessing ?
If you could provide a code snippet it could be very useful

[2020-09-17 17:27] chiyuzhang94 commented on #610
Hi @shizhediao ,

Thanks! It looks great!

But my problem still is the cache directory is a read-only file system.
[As I mentioned](https://github.com/huggingface/datasets/issues/610#issuecomment-693912285), I tried to change the cache directory but it didn't work.

Do you have any suggestions?

[2020-09-17 22:23] ksjae commented on #630
From transformers/examples/language-modeling/run-language-modeling.py :
[code]

No, I'm not using multiprocessing.

[2020-09-18 07:09] richarddwang opened #638 "GLUE/QQP dataset: NonMatchingChecksumError"
Hi @lhoestq , I know you are busy and there are also other important issues. But if this is easy to be fixed, I am shamelessly wondering if you can give me some help , so I can evaluate my models and restart with my developing cycle asap. 😚

datasets version: editable install of master at 9/17

`datasets.load_dataset('glue','qqp', cache_dir='./datasets')`

[code]

[2020-09-18 08:38] lhoestq commented on #638
Hi ! Sure I'll take a look

[2020-09-18 11:37] #638 closed

[2020-09-18 12:07] lhoestq commented on #537
Closing since @540 is merged

Thanks again @abarbosa94

[2020-09-18 12:07] #537 closed

[2020-09-18 12:30] patpizio commented on #590
I get the same behavior, on Windows, when `map`ping a function to a loaded dataset.
The error doesn't occur if I re-run the cell a second time though! I'm on version 1.0.1.

[2020-09-18 15:41] mrm8488 opened #643 "Caching processed dataset at wrong folder"
Hi guys, I run this on my Colab (PRO):

[code]
The file is about 4 GB, so I cannot process it on the Colab HD because there is no enough space. So I decided to mount my Google Drive fs and do it on it.
The dataset is cached in the right place but by processing it (applying `encode` function) seems to use a different folder because Colab HD starts to grow and it crashes when it should be done in th

[2020-09-18 16:18] joeddav commented on #615
Seems related: https://issues.apache.org/jira/browse/ARROW-9773

It's definitely a size thing. I took a smaller dataset with 87000 rows and did:
[code]
and it broke at around i=300.

Also when `_indices` is not None, this breaks indexing by slice. E.g. `dset.shuffle()[:1]` breaks.

Luckily so far I haven't seen `_indices.column(0).take` break, which means it doesn't break `select` or anything like

[2020-09-18 17:22] lhoestq commented on #590
This is going to be fixed by #644

[2020-09-18 17:44] lvwerra commented on #623
Thanks for the clarification!

[2020-09-19 01:35] chiyuzhang94 opened #647 "Cannot download dataset_info.json"
I am running my job on a cloud server where does not provide for connections from the standard compute nodes to outside resources. Hence, when I use `dataset.load_dataset()` to load data, I got an error like this:

[code]

I tried to open this link manually, but I cannot access this file. How can I download this file and pass it through `dataset.load_dataset()` manually?

Versions:
Python version

[2020-09-19 02:15] richarddwang opened #648 "offset overflow when multiprocessing batched map on large datasets."
It only happened when "multiprocessing" + "batched" + "large dataset" at the same time.

[code]
[code]

[2020-09-19 08:22] Skyy93 commented on #622
`Traceback (most recent call last):
  File "main.py", line 281, in <module>
    main()
  File "main.py", line 190, in main
    train_data, test_data = data_factory(
  File "main.py", line 129, in data_factory
    train_data = load_dataset('text',
  File "/home/me/Downloads/datasets/src/datasets/load.py", line 608, in load_dataset
    builder_instance.download_and_prepare(
  File "/home/me/Download

[2020-09-19 08:41] krandiash opened #649 "Inconsistent behavior in map"
I'm observing inconsistent behavior when applying .map(). This happens specifically when I'm incrementally adding onto a feature that is a nested dictionary. Here's a simple example that reproduces the problem.

[code]

This might be a new issue, because I didn't see this behavior in the `nlp` library.

Any help is appreciated!

[2020-09-19 09:06] lewtun commented on #623
Hi @lhoestq we've tried out your suggestion but are now running into the following error:

[code]

Looking at the types in `emotion_features` we see that `label` and `text` appear to be swapped in the Arrow table:

[code]

Did we define the `emotion_features` incorrectly? We just followed the instructions from the [docs](https://huggingface.co/docs/datasets/features.html?highlight=features#dataset

[2020-09-19 11:07] richarddwang opened #650 "dummy data testing can't test datasets using `dl_manager.extract` in `_split_generators`"
Hi, I recently want to add a dataset whose source data is like this
[code]
So I wrote `openwebtext.py` like this
[code]
All went good, I can load and use real openwebtext, except when I try to test with dummy data. The problem is  `MockDownloadManager.extract` do nothing, so `ex_dirs = dl_manager.extract(subset_xzs)` won't decompress `subset_xxx.xz`s for me.

How should I do ? Or you can modify `M

[2020-09-19 16:09] lhoestq commented on #649
Thanks for reporting !

This issue must have appeared when we refactored type inference in `nlp`
By default the library tries to keep the same feature types when applying `map` but apparently it has troubles with nested structures. I'll try to fix that next week

[2020-09-19 16:13] lhoestq commented on #648
This should be fix with #645

[2020-09-19 16:46] #615 closed

[2020-09-19 16:46] #648 closed

[2020-09-19 16:47] lhoestq commented on #648
Feel free to re-open if it still occurs

[2020-09-19 16:47] lhoestq commented on #615
Let me know if you meet other offset overflow issues @joeddav

[2020-09-19 16:49] lhoestq commented on #643
Thanks for reporting !
It uses a temporary file to write the data.
However it looks like the temporary file is not placed in the right directory during the processing

[2020-09-19 16:50] lhoestq commented on #647
Thanks for reporting !
We should add support for servers without internet connection indeed
I'll do that early next week

[2020-09-19 16:56] chiyuzhang94 commented on #647
Thanks, @lhoestq !
Please let me know when it is available.

[2020-09-20 09:11] orsharir commented on #486
I believe these are just artifacts of this particular source. It might be better to crawl it again, or use another preprocessed source, as found here: https://github.com/soskek/bookcorpus

[2020-09-20 23:57] vikigenius opened #651 "Problem with JSON dataset format"
I have a local json dataset with the following form.

{
    'id01234': {'key1': value1, 'key2': value2, 'key3': value3},
    'id01235': {'key1': value1, 'key2': value2, 'key3': value3},
    .
    .
    .
    'id09999': {'key1': value1, 'key2': value2, 'key3': value3}
}
Note that instead of a list of records it's basically a dictionary of key value pairs with the keys being the record_ids and the v

[2020-09-21 08:20] lhoestq commented on #651
Currently the `json` dataset doesn't support this format unfortunately.
However you could load it with
[code]

[2020-09-21 08:25] lhoestq commented on #647
#652 should allow you to load text/json/csv/pandas datasets without an internet connection **IF** you've the dataset script locally.

Example:
If you have `datasets/text/text.py` locally, then you can do `load_dataset("./datasets/text", data_files=...)`

[2020-09-21 08:28] #647 closed

[2020-09-21 11:27] lhoestq commented on #568
Could you try to update to `datasets>=1.0.0` (we changed the name of the library) and try again ?
If is was related to the distributed setup settings it must be fixed.
If it was related to empty metric inputs it's going to be fixed in #654

[2020-09-21 12:14] thomwolf commented on #651
or you can make a custom dataset script as explained in doc here: https://huggingface.co/docs/datasets/add_dataset.html

[2020-09-21 13:50] lhoestq commented on #625
Indeed we convert tensors to list to be able to write in arrow format. Because of this conversion we lose the dtype information. We should add the dtype detection when we do type inference. However it would require a bit of refactoring since currently the conversion happens before the type inference..

And then for your information, when reading from arrow format we have to cast from arrow to nump

[2020-09-21 14:53] lhoestq commented on #630
I am not able to reproduce on my side :/

Could you try to update the lib and try again ?
Or do you think you could try to reproduce it on google colab ?

[2020-09-21 15:03] lhoestq commented on #643
Well actually I just tested and the temporary file is placed in the same directory, so it should work as expected.
Which version of `datasets` are you using ?

[2020-09-21 16:13] #649 closed

[2020-09-21 16:33] lhoestq commented on #650
Hi :)
In your dummy data zip file you can just have `subset000.xz` as directories instead of compressed files.
Let me know if it helps

[2020-09-21 17:28] mrm8488 commented on #643
`datasets-1.0.1`
Here you can reproduce it here:
https://colab.research.google.com/drive/1O0KcepTFsmpkBbrbLLMq42iwTKmQh8d5?usp=sharing

[2020-09-21 23:38] ksjae commented on #630
Huh, weird. It's fixed on my side too.
But now ```Caching processed dataset``` is taking forever - how can I disable it? Any flags?

[2020-09-22 01:02] richarddwang commented on #650
Thanks for your comment @lhoestq ,
Just for confirmation, changing dummy data like this won't make dummy test test the functionality to extract `subsetxxx.xz` but actually kind of circumvent it. But since we will test the real data so it is ok ?

[2020-09-22 04:46] timothyjlaurent commented on #620
Sorry,  I just noticed this.
I'm running this on MACOS the version of datasets I'm was 1.0.0 but I've also tried it on 1.0.2. `pyarrow==1.0.1`

Consider this code:
[code]
The loader is essentially a jsonloader with some extra error handling. The data is a jsonlines format with text field and a list of span objects and relation objects.

In the `ner_ds` a field, `ner_labels` is added, this is used

[2020-09-22 08:09] lhoestq commented on #650
Yes it's fine for now. We plan to add a job for slow tests.
And at one point we'll also do another pass on the dummy data handling and consider extracting files.

[2020-09-22 08:18] lhoestq commented on #630
Right after `Caching processed dataset`, your function is applied to the dataset and there's a progress bar that shows how much time is left. How much time does it take for you ?

Also caching isn't supposed to slow down your processing. But if you still want to disable it you can do `.map(..., load_from_cache_file=False)`

[2020-09-22 08:29] lhoestq commented on #620
Thank you, I was able to reproduce :)
I'm on it

[2020-09-22 08:37] BramVanroy commented on #625
If the arrow format is basically lists, why is the intermediate step to numpy necessary? I am a bit confused about that part.

Thanks for your suggestion. as I have currently implemented this, I cast to torch.Tensor in my collate_fn to save disk space (so I do not have to save padded tensors to max_len but can pad up to max batch len in collate_fn) at the cost of a bit slower processing. So for me

[2020-09-22 08:58] lhoestq commented on #625
I'm glad you managed to figure something out :)

Casting from arrow to numpy can be 100x faster than casting from arrow to list.
This is because arrow has an integration with numpy that allows it to instantiate numpy arrays with zero-copy from arrow.
On the other hand to create python lists it is slow since it has to recreate the list object by iterating through each element in python.

[2020-09-22 09:07] tshrjn opened #657 "Squad Metric Description & Feature Mismatch"
The [description](https://github.com/huggingface/datasets/blob/master/metrics/squad/squad.py#L39) doesn't mention `answer_start` in squad. However the `datasets.features` require [it](https://github.com/huggingface/datasets/blob/master/metrics/squad/squad.py#L68). It's also not used in the evaluation.

[2020-09-22 10:03] lhoestq commented on #620
#659 should fix the `KeyError` issue. It was due to the formatting not getting updated the right way

[2020-09-22 10:06] lhoestq commented on #620
Also maybe @n1t0 knows why setting `TOKENIZERS_PARALLELISM=true` creates deadlock issues when calling `map` with multiprocessing ?

[2020-09-22 10:17] lhoestq commented on #657
Thanks for reporting !
There indeed a mismatch between the features and the kwargs description

I believe `answer_start` was added to match the squad dataset format for consistency, even though it is not used in the metric computation. I think I'd rather keep it this way, so that you can just give `references=squad["answers"]` to `.compute()`.
Maybe we can just fix the description then.

[2020-09-22 10:21] lhoestq commented on #610
I think it is `HF_MODULES_CACHE` and not `HF_MODULES_PATH` @chiyuzhang94 .
Could you try again and let me know if it fixes your issue ?

[2020-09-22 10:39] BramVanroy commented on #625
Ah that is interesting. I have no direct experience with arrow so I didn't know.

[2020-09-22 10:41] lhoestq commented on #575
Hi. Closing this one since #626 updated the glue urls.

After downloading it generates the arrow file by iterating through the examples.
The number of examples processed by second is shown during the processing (not sure why it was not the case for you)

It downloads every split

[2020-09-22 10:41] #575 closed

[2020-09-22 10:45] thomwolf commented on #610
We should probably add a section in the doc on the caching system with the env variables in particular.

[2020-09-22 11:54] richarddwang commented on #650
Thanks for the confirmation.
Also the suggestion works. Thank you.

[2020-09-22 11:54] #650 closed

[2020-09-22 14:41] lhoestq commented on #643
It looks like a pyarrow issue with google colab.
For some reason this code increases the disk usage of google colab while it actually writes into google drive:

[code]

Moreover if I `rm` the file on google drive, it frees disk space on google colab.

[2020-09-22 14:57] lhoestq commented on #643
It looks like replacing `pa.OSFile` by `open` fixes it, I'm going to open a PR

[2020-09-22 14:59] mrm8488 commented on #643
Ok. Thank you so much!

[2020-09-22 15:16] lhoestq commented on #643
Actually I did more tests it doesn't >.<
I'll let you know if I find a way to fix that

[2020-09-22 15:26] lhoestq commented on #643
Actually I also have the issue when writing a regular text file

[code]

Is that supposed to happen ?

[2020-09-22 19:19] timothyjlaurent commented on #620
@lhoestq

Thanks for taking a look. I pulled the master but I still see the key error.

[code]

[2020-09-22 20:48] n1t0 commented on #620
The parallelism is automatically disabled on `tokenizers` when the process gets forked, while we already used the parallelism capabilities of a tokenizer. We have to do it in order to avoid having the process hang, because we cannot safely fork a multithreaded process (cf https://github.com/huggingface/tokenizers/issues/187).
So if possible, the tokenizers shouldn't be used before the fork, so tha

[2020-09-22 22:17] ksjae commented on #630
Ah, it’s much faster now(Takes around 15~20min).
BTW, any way to set default tensor output as plain tensors with distributed training? The ragged tensors are incompatible with tpustrategy :(

[2020-09-23 03:53] xixiaoyao opened #664 "load_dataset from local squad.py, raise error: TypeError: 'NoneType' object is not callable"
version: 1.0.2

[code]

The above code can works. However, when I download the squad.py from your server, and saved as `my_squad.py` to local. I run followings raise errors.
[code]
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-28-25a84b4d1581> in <module>
----> 1 train_dataset

[2020-09-23 04:28] xixiaoyao opened #665 "runing dataset.map, it raises TypeError: can't pickle Tokenizer objects"
I load squad dataset. Then want to process data use following function with `Huggingface Transformers LongformerTokenizer`.

[code]

Then I run `dataset.map(convert_to_features)`, it raise
[code]

[2020-09-23 08:56] lhoestq commented on #665
Hi !
It works on my side with both the LongFormerTokenizer and the LongFormerTokenizerFast.

Which version of transformers/datasets are you using ?

[2020-09-23 09:07] lhoestq commented on #664
Hi !
Thanks for reporting.
It looks like no object inherits from `datasets.GeneratorBasedBuilder` (or more generally from `datasets.DatasetBuilder`) in your script.

Could you check that there exist at least one dataset builder class ?

[2020-09-23 09:23] lhoestq commented on #620
I am no longer able to get the error since #659 was merged. Not sure why you still have it @timothyjlaurent
Maybe it is a cache issue ? Could you try to use `load_from_cache_file=False` in your `.map()` calls ?

[2020-09-23 09:27] lhoestq commented on #620
Ok thanks :)

Is there something we should do on the `datasets` side to avoid that that the program hangs ?

Also when doing `.map` with a tokenizer, the tokenizer is called once on the first examples of the dataset to check the function output before spawning the processes. Is that compatible with how tokenizers are supposed to be used with multiprocessing ?

[2020-09-23 19:02] wahab4114 opened #666 "Does both 'bookcorpus' and 'wikipedia' belong to the same datasets which Google used for pretraining BERT?"

[2020-09-23 23:49] wangcongcong123 commented on #590
@saareliad I got the same issue that annoyed quite a while. Unfortunately, there are good answers to this issue online, I tried it on Linux and that's absolutely fine. After hacking the source code some times, I solved this problem  as follows.

In the source code file: arrow_dataset.py -> _map_single(...)

change
[code]
to
[code]

Then it works without needing multiple times runs to avoid the per

[2020-09-24 00:59] chiyuzhang94 commented on #610
Hi @thomwolf , @lhoestq ,

Thanks for your suggestions. With the latest version of this package, I can load text data without Internet.

But I found the speed of dataset loading is very slow.

My scrips like this:
[code]

I have 1,123,871 lines in my input directory.
I can find the processing speed as following. It is very slow.
[code]
Do you have any suggestions to accelerate this loading process

[2020-09-24 01:11] mrm8488 commented on #643
The code you wrote should write a 1GB file in the Google Drive folder. Doesn't it?

[2020-09-24 03:59] saareliad commented on #590
@wangcongcong123 thanks  for sharing.
(BTW I also solved it locally on windows by putting the problematic line under try except and not using cache... On windows I just needed 1% of the dataset anyway)

[2020-09-24 11:30] leethu2012 commented on #633
@sgugger Thanks for your comments. I have install from source code as you told, but the problem is still there.
To reproduce the issue, just replace the  [these lines](https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_language_modeling.py#L241-L258) with:
(load_dataset and DataCollatorForDatasetsLanguageModeling as above mentioned)
[code]
and run by:
[code]

[2020-09-24 12:53] lhoestq commented on #643
Yes it does, but the disk usage of google colab also increases by 1GB

[2020-09-24 15:14] wangcongcong123 opened #667 "Loss not decrease with Datasets and Transformers"
HI,

The following script is used to fine-tune a BertForSequenceClassification model on SST2.

The script is adapted from [this colab](https://colab.research.google.com/github/huggingface/datasets/blob/master/notebooks/Overview.ipynb) that presents an example of fine-tuning BertForQuestionAnswering using squad dataset. In that colab, loss works fine. When I adapt it to SST2, the loss fails to decr

[2020-09-24 16:27] lhoestq opened #668 "OverflowError when slicing with an array containing negative ids"
[code]
results in
[code]

[2020-09-25 10:27] wangcongcong123 commented on #667
And I tested it on T5ForConditionalGeneration, that works no problem.

[2020-09-25 11:17] xixiaoyao opened #669 "How to skip a example when running dataset.map"
in processing func, I process examples and detect some invalid examples, which I did not want it to be added into train dataset. However I did not find how to skip this recognized invalid example when doing dataset.map.

[2020-09-25 11:19] xixiaoyao commented on #665
transformers and datasets are both the latest

[2020-09-25 12:00] thomwolf commented on #669
Hi @xixiaoyao,
Depending on what you want to do you can:
- use a first step of `filter` to filter out the invalid examples: https://huggingface.co/docs/datasets/processing.html#filtering-rows-select-and-filter
- or directly detect the invalid examples inside the callable used with `map` and return them unchanged or even remove them at the same time if you are using `map` in batched mode: https://h

[2020-09-25 12:03] thomwolf commented on #666
No they are other similar copies but they are not provided by the official Bert models authors.

[2020-09-25 12:04] thomwolf commented on #665
Then I guess you need to give us more informations on your setup (OS, python, GPU, etc) or a Google Colab reproducing the error for us to be able to debug this error.

[2020-09-25 12:06] lhoestq commented on #665
And your version of `dill` if possible :)

[2020-09-25 14:02] #590 closed

[2020-09-25 14:31] lhoestq commented on #600
Closing since it looks like it's working on >= 3.6.9
Feel free to re-open if you have other questions :)

[2020-09-25 14:31] #600 closed

[2020-09-25 14:38] lhoestq commented on #610
You can use multiprocessing by specifying `num_proc=` in `.map()`

Also it looks like you have `1123871` batches of 1000 elements (default batch size), i.e. 1,123,871,000 lines in total.
Am I right ?

[2020-09-25 15:14] lhoestq commented on #611
It looks like it's going to be fixed in pyarrow 2.0.0 :)

In the meantime I suggest to chunk big dataframes to create several small datasets, and then concatenate them using [concatenate_datasets](https://huggingface.co/docs/datasets/package_reference/main_classes.html?highlight=concatenate#datasets.concatenate_datasets)

[2020-09-25 15:44] lhoestq commented on #622
Since #644 it should now work on windows @ScottishFold007

Same for you @BramVanroy .

Not sure about the one on linux though

[2020-09-25 15:51] lhoestq commented on #630
Glad to see that it's faster now. What did you change exactly ?

Oh I didn't know about that. Feel free to open an issue to mention that.
I guess what you can do for now is set the dataset format to numpy instead of tensorflow, and use a wrapper of the dataset that converts the numpy arrays to tf tensors.

[2020-09-25 16:38] jbragg opened #671 "[BUG] No such file or directory"
This happens when both
1. Huggingface datasets cache dir does not exist
2. Try to load a local dataset script

builder.py throws an error when trying to create a filelock in a directory (cache/datasets) that does not exist
https://github.com/huggingface/datasets/blob/master/src/datasets/builder.py#L177

Tested on v1.0.2

@lhoestq

[2020-09-25 16:59] chiyuzhang94 commented on #610
Hi @lhoestq ,

Thanks. I will try it.

You are right. I have 1,123,870,657 lines totally in the path. I split the large file into 440 small files. Each file has 2,560,000 lines.

I have another question. Because I am using a cloud server where only allows running a job up to 7 days. Hence, I need to resume my model every week. If the script needs to load and process the dataset every time. It is v

[2020-09-25 22:21] ksjae commented on #630
I don't know, it just worked...? Sorry I couldn't be more helpful.

Setting with numpy array is a great idea! Thanks.

[2020-09-25 22:21] #630 closed

[2020-09-26 03:44] chiyuzhang94 commented on #610
Hi @lhoestq ,

I tried to use multi-processor, but I got errors as follow:
Because I am using python distributed training, it seems some conflicts with the distributed job.

Do you have ay suggestion?
[code]

[2020-09-26 14:36] lhoestq commented on #610
For multiprocessing, the function given to `map` must be picklable.
Maybe you could try to define `token_encode` outside `HG_Datasets` ?

Also maybe #656 could make functions defined locally picklable for multiprocessing, once it's merged.

[2020-09-26 14:39] lhoestq commented on #610
Feel free to save your processed dataset using `dataset.save_to_disk("path/to/save/directory")`.

Then you'll be able to reload it again using
[code]

[2020-09-26 17:16] danyaljj opened #672 "Questions about XSUM"
Hi there ✋

I'm looking into your `xsum` dataset and I have several questions on that.
So here is how you load it:
[code]

The first issue is, the instance counts don’t match what I see on [the dataset's website](https://github.com/EdinburghNLP/XSum/tree/master/XSum-Dataset#what-builds-the-xsum-dataset):
[code]
Any thoughts why? Perhaps @mariamabarham could help here, since she recently had a PR o

[2020-09-26 20:15] Moshiii opened #673 "blog_authorship_corpus crashed"
This is just to report that When I pick blog_authorship_corpus in
https://huggingface.co/nlp/viewer/?dataset=blog_authorship_corpus
I get this:
![image](https://user-images.githubusercontent.com/7553188/94349542-4364f300-0013-11eb-897d-b25660a449f0.png)

[2020-09-27 03:56] ThisDavehead opened #674 "load_dataset() won't download in Windows"
I don't know if this is just me or Windows. Maybe other Windows users can chime in if they don't have this problem. I've been trying to get some of the tutorials working on Windows, but when I use the load_dataset() function, it just stalls and the script keeps running indefinitely without downloading anything. I've waited upwards of 18 hours to download the 'multi-news' dataset (which isn't very

[2020-09-27 10:13] davidefiocco commented on #138
Dropping by as I noticed that the library has been rename `datasets` so I wonder if the conversation above is settled (`nlp` not used anymore) :)

[2020-09-27 11:07] mariosasko commented on #674
I have the same issue. Tried to download a few of them and not a single one is downloaded successfully.

This is the output:
[code]

[2020-09-27 21:22] timpal0l opened #675 "Add custom dataset to NLP?"
Is it possible to add a custom dataset such as a .csv to the NLP library?

Thanks.

[2020-09-28 00:08] thomwolf commented on #138
I guess indeed

[2020-09-28 00:08] #138 closed

[2020-09-28 00:14] thomwolf commented on #675
Yes you can have a look here: https://huggingface.co/docs/datasets/loading_datasets.html#csv-files

[2020-09-28 07:19] HuangLianzhe opened #676 "train_test_split returns empty dataset item"
I try to split my dataset by `train_test_split`, but after that the item in `train` and `test` `Dataset` is empty.
The codes:
[code]
The outputs:
[code]

[2020-09-28 07:22] HuangLianzhe commented on #676
The problem still exists after removing the cache files.

[2020-09-28 08:03] lhoestq commented on #674
This was fixed in #644
I'll do a new release soon :)

In the meantime you can run it by installing from source

[2020-09-28 08:04] lhoestq commented on #673
Thanks for reporting !
We'll free some memory

[2020-09-28 08:12] lhoestq commented on #672
We should try to regenerate the data using the official script.
But iirc that's what we used in the first place, so not sure why it didn't match in the first place.

I'll let you know when the dataset is updated

[2020-09-28 08:30] Narsil opened #678 "The download instructions for c4 datasets are not contained in the error message"
The manual download instructions are not clear
[code]

Either `@property`  could be added to C4.manual_download_instrcutions (or make it a real property), or the manual_download_instructions function needs to be called I think.

Let me know if you want a PR for this, but I'm not sure which possible fix is the correct one.

[2020-09-28 08:32] lhoestq commented on #678
Good catch !
Indeed the `@property` is missing.

Feel free to open a PR :)

[2020-09-28 08:34] lhoestq commented on #678
Also not that C4 is a dataset that needs an Apache Beam runtime to be generated.
For example Dataflow, Spark, Flink etc.

Usually we generate the dataset on our side once and for all, but we haven't done it for C4 yet.
More info about beam datasets [here](https://huggingface.co/docs/datasets/beam_dataset.html)

Let me know if you have any questions

[2020-09-28 09:54] raruidol commented on #622
I was using the 0.4.0 nlp library load_dataset to load a text dataset of 9-10Gb without collapsing the RAM memory. However, today I got the csv error message mentioned in this issue. After installing the new (datasets) library from source and specifying the script_verson = 'master' I'm still having this same error message. Furthermore, I cannot use the dictionary "trick" to load the dataset since

[2020-09-28 10:00] lhoestq commented on #622
Hi @raruidol
To fix the RAM issue you'll need to shard your text files into smaller files (see https://github.com/huggingface/datasets/issues/610#issuecomment-691672919 for example)

I'm not sure why you're having the csv error on linux.
Do you think you could to to reproduce it on google colab for example ?
Or send me a dummy .txt file that reproduces the issue ?

[2020-09-28 10:26] #678 closed

[2020-09-28 10:42] raruidol commented on #622
@lhoestq

The crash message shows up when loading the dataset:
[code]
And this is the exact message:
[code]

And these are the pip packages I have atm and their versions:

[code]

[2020-09-28 13:48] thomwolf commented on #676
Can you reproduce this example in a Colab so we can investigate? (or give more information on your software/hardware config)

[2020-09-28 14:42] #668 closed

[2020-09-28 14:42] #671 closed

[2020-09-28 16:01] mrm8488 commented on #643
I could check it and as you say as I write to te Drive disk the colab disk also increases...

[2020-09-28 16:14] mrm8488 commented on #643
To reproduce it:
[code]
[code]
[code]
[Colab](https://colab.research.google.com/drive/1D0UiweCYQwwWZ65EEhuqqbaDDbhJYXfm?usp=sharing)

[2020-09-28 16:39] lhoestq commented on #622
I tested on google colab which is also linux using this code:

- first download an arbitrary text file
[code]
- then run
[code]
And I don't get this issue.

\> Could you test on your side if these lines work @raruidol ?

also cc @Skyy93 as it seems you have the same issue

If it works:
It could mean that the issue could come from unexpected patterns in the files you want to use.
In that case we sh

[2020-09-28 16:52] lhoestq commented on #622
Update: also tested the above code in a docker container from [jupyter/minimal-notebook](https://hub.docker.com/r/jupyter/minimal-notebook/) (based ubuntu) and still not able to reproduce

[2020-09-28 17:00] raruidol commented on #622
It looks like with your text input file works without any problem. I have been doing some experiments this morning with my input files and I'm almost certain that the crash is caused by some unexpected pattern in the files. However, I've not been able to spot the main cause of it. What I find strange is that this same corpus was being loaded by the nlp 0.4.0 library without any problem... Where ca

[2020-09-28 17:14] lhoestq commented on #622
Under the hood it does
[code]

Note that we changed the parse options with datasets 1.0
In particular the delimiter used to be `\r` but this delimiter doesn't work on windows.

[2020-09-28 20:24] danyaljj commented on #672
Thanks, looking forward to hearing your update on this thread.

This is a blocking issue for us; would appreciate any progress on this front. We can also help with the fix, if you deem it appropriately.

[2020-09-29 09:03] lhoestq commented on #672
I just started the generation on my side, I'll let you know how it goes :)

[2020-09-29 09:30] lhoestq commented on #622
Could you try with `\v` instead of `\b` ? I'm not sure why you have bell/backspace characters in your text files but it can be because of that.

[2020-09-29 09:41] raruidol commented on #622
I was just exploring if the crash was happening in every shard or not, and which shards were generating the error message. With \b I got the following list of shards crashing:

[code]

I also tried with \a and the list decreased but there were still several crashes:

[code]

Which means that it is quite possible that the assumption of that some unexpected pattern in the files is causing the crashe

[2020-09-29 09:44] lhoestq commented on #622
Hmmm I was expecting it to work with \a, not sure why they appear in your text files though

[2020-09-29 09:54] raruidol commented on #622
Hi @lhoestq, is there any input length restriction which was not before the update of the nlp library?

[2020-09-29 09:58] lhoestq commented on #622
No we never set any input length restriction on our side (maybe arrow but I don't think so)

[2020-09-29 10:09] BramVanroy commented on #622
@lhoestq Can you ever be certain that a delimiter character is not present in a plain text file? In other formats (e.g. CSV) , rules are set of what is allowed and what isn't so that it actually constitutes a CSV file. In a text file you basically have "anything goes", so I don't think you can ever be entirely sure that the chosen delimiter does not exist in the text file, or am I wrong?

If I und

[2020-09-29 10:10] raruidol commented on #622
Okay, I have splitted the crashing shards into individual sentences and some examples of the inputs that are causing the crashes are the following ones:

_4. DE L’ORGANITZACIÓ ESTAMENTAL A L’ORGANITZACIÓ EN CLASSES A mesura que es desenvolupava un sistema econòmic capitalista i naixia una classe burgesa cada vegada més preparada per a substituir els dirigents de les velles monarquies absolutistes,

[2020-09-29 10:12] lhoestq commented on #622
So we're using the csv reader to read text files because arrow doesn't have a text reader.
To workaround the fact that text files are just csv with one column, we want to set a delimiter that doesn't appear in text files.
Until now I thought that it would do the job but unfortunately it looks like even characters like \a appear in text files.

So we have to option:
- find another delimiter that do

[2020-09-29 10:22] lhoestq commented on #622
Thanks for digging into it !

Characters like \a or \b are not shown when printing the text, so as it is I can't tell if it contains unexpected characters.
Maybe could could open the file in python and check if `"\b" in open("path/to/file", "r").read()` ?

To check that you could try to run

[code]

[2020-09-29 10:48] raruidol commented on #622
That's true, It was my error printing the text that way. Maybe as a workaround, I can force all my input samples to have "\b" at the end?

[2020-09-29 12:11] thomwolf commented on #623
In general, I don't think there is any hard reason we don't allow to use `features` in the csv script, right @lhoestq?

Should I add it?

[2020-09-29 12:17] lhoestq commented on #623
Sure let's add it. Calling cast_ should do the job

Thanks for reporting, that's a bug :) I'n fixing it right now

[2020-09-29 12:25] lhoestq commented on #622
I don't think it would work since we only want one column, and "\b" is set to be the delimiter between two columns, so it will raise the same issue again. Pyarrow would think that there is more than one column if the delimiter is found somewhere.

Anyway, I I'll work on a new text reader if we don't find the right workaround about this delimiter issue.

[2020-09-29 12:58] lhoestq commented on #623
PR is open for the `ValueError: Target schema's field names are not matching the table's field names` error.

I'm adding the features column to csv

[2020-09-29 15:17] peinan commented on #665
I have the same issue with `transformers/BertJapaneseTokenizer`.

[code]

trainsformers: 2.10.0
datasets: 1.0.2
dill: 0.3.2
python: 3.6.8

OS: ubuntu 16.04 (Docker Image) on [Deep Learning VM](https://console.cloud.google.com/marketplace/details/click-to-deploy-images/deeplearning) (GCP)
GPU: Tesla P100 (CUDA 10)

[2020-09-29 15:57] #657 closed

[2020-09-29 16:40] lhoestq commented on #665
It looks like it this tokenizer is not supported unfortunately.
This is because `t.word_tokenizer.mecab` is a `fugashi.fugashi.GenericTagger` which is not compatible with pickle nor dill.

We need objects passes to `map` to be picklable for our caching system to work properly.
Here is crashes because the caching system is not able to pickle the GenericTagger.

\> Maybe you can create an issue on [

[2020-09-29 16:47] lhoestq commented on #672
Hmm after a first run I'm still missing 136668/226711 urls.
I'll relaunch it tomorrow to try to get the remaining ones.

[2020-09-29 16:52] thomwolf commented on #665
We can also update the `BertJapaneseTokenizer` in `transformers` as you just shown @lhoestq to make it compatible with pickle. It will be faster than asking on fugashi 's repo and good for the other users of `transformers` as well.

I'm currently working on `transformers` I'll include it in the https://github.com/huggingface/transformers/pull/7141 PR and the next release of `transformers`.

[2020-09-29 19:21] jarednielsen opened #686 "Dataset browser url is still https://huggingface.co/nlp/viewer/"
Might be worth updating to https://huggingface.co/datasets/viewer/

[2020-09-30 06:16] peinan opened #687 "`ArrowInvalid` occurs while running `Dataset.map()` function"
It seems to fail to process the final batch. This [colab](https://colab.research.google.com/drive/1_byLZRHwGP13PHMkJWo62Wp50S_Z2HMD?usp=sharing) can reproduce the error.

Code:

[code]

Error Message:

[code]

[2020-09-30 06:18] peinan commented on #665
Thank you for the rapid and polite response!

@lhoestq Thanks for the suggestion! I've passed the pickle phase, but another `ArrowInvalid` problem occored. I created another issue #687 .

@thomwolf Wow, really fast work. I'm looking forward to the next release 🤗

[2020-09-30 08:04] julien-c commented on #686
Yes! might do it with @srush one of these days. Hopefully it won't break too many links (we can always redirect from old url to new)

[2020-09-30 08:39] #623 closed

[2020-09-30 09:11] lhoestq commented on #687
Hi !

This is because `encode` expects one single text as input (str), or one tokenized text (List[str]).
I believe that you actually wanted to use `encode_batch` which expects a batch of texts.
However this method is only available for our "fast" tokenizers (ex: BertTokenizerFast).
BertJapanese is not one of them unfortunately and I don't think it will be added for now (see https://github.com/hug

[2020-09-30 09:52] peinan commented on #687
Thank you very much for the kind and precise suggestion!
I'm looking forward to seeing BertJapaneseTokenizer built into the "fast" tokenizers.

I tried `map` with multiprocessing as follows, and it worked!

[code]

Thank you again!

[2020-09-30 09:53] #687 closed

[2020-09-30 10:00] lhoestq commented on #620
#659 fixes the empty dict issue
#688 fixes the hand issue

[2020-09-30 11:58] richarddwang commented on #486
Yes actually the BookCorpus on hugginface is based on [this](https://github.com/soskek/bookcorpus/issues/24#issuecomment-643933352). And I regret naming it as "BookCorpus" instead of something like "BookCorpusLike".

But there is a good news ! @shawwn has replicated BookCorpus in his way, and provide a link to download the plain text files. see [here](https://github.com/soskek/bookcorpus/issues/27

[2020-09-30 16:58] lhoestq commented on #622
I just merged a new text reader based on pandas.
Could you try again on your data @raruidol ?

Until we do a new release you can experiment with it using

[code]
(`script_version` is `master` by default if you installed from source)

[2020-09-30 17:34] ldong87 commented on #217
I think having different batch sizes per task is particularly helpful in some scenarios where each task has different amount of data. For example, the problem I'm currently facing is one task has tens of thousands of samples while one task has a couple hundreds. I think in this case different batch size could help. But if using the same batch size is a lot simpler to implement, I guess it makes se

[2020-09-30 17:44] raruidol commented on #622
Thank you @lhoestq I have tried again with the new text reader and there is still some error. Depending on how do I load the data I have spotted two different crashes. When I try to  load the full-size corpus text file I get the following output:

[code]

However, when loading the sharded version, the error is different:

[code]

[2020-09-30 17:50] xiey1 opened #690 "XNLI dataset: NonMatchingChecksumError"
Hi,
I tried to download "xnli" dataset in colab using
`xnli = load_dataset(path='xnli')`
but got 'NonMatchingChecksumError' error

`NonMatchingChecksumError                  Traceback (most recent call last)
<ipython-input-23-a87bedc82eeb> in <module>()
----> 1 xnli = load_dataset(path='xnli')

3 frames
/usr/local/lib/python3.6/dist-packages/datasets/utils/info_utils.py in verify_checksums(expecte

[2020-09-30 19:51] lewtun commented on #623
Thanks a lot for the PR and quick fix @lhoestq!

[2020-10-01 00:56] praateekmahajan opened #691 "Add UI filter to filter datasets based on task"
This is great work, so huge shoutout to contributors and huggingface.

The [/nlp/viewer](https://huggingface.co/nlp/viewer/) is great and the [/datasets](https://huggingface.co/datasets) page is great. I was wondering if in both or either places we can have a filter that selects if a dataset is good for the following tasks (non exhaustive list)

- Classification
	- Multi label
	- Multi class
- Q&A

[2020-10-01 01:28] timothyjlaurent commented on #620
Hmmm I pulled the latest commit, `b93c5517f70a480533a44e0c42638392fd53d90`, and I'm still seeing both the hanging and the key error.

[2020-10-01 02:33] timothyjlaurent commented on #217
I think that instead of proportional to size sampling you should specify weights or probabilities for drawing a batch from each dataset. We should also ensure that the smaller datasets are repeated so that the encoder layer doesn't overtrain on the largest dataset.

[2020-10-01 05:14] gaguilar commented on #577
By the way, I tried this and it does not accept the language and date keywords. I tried both on nlp 0.4 and the new dataset library (1.0.2):
[code]

Note that the date and languages are valid: [https://dumps.wikimedia.org/eswiki/20200601/dumpstatus.json](https://dumps.wikimedia.org/eswiki/20200601/dumpstatus.json)

Any suggestion is welcome :) @lhoestq

[2020-10-01 09:15] lhoestq commented on #620
Hi @timothyjlaurent

The hanging fix just got merged, that why you still had it.

For the key error it's possible that the code you ran reused cached datasets from where the KeyError bug was still there.
Could you try to clear your cache or make sure that it doesn't reuse cached data with `.map(..., load_from_cache=False)` ?
Let me know if it it helps

[2020-10-01 10:55] ghomasHudson commented on #217
Are there any references for people doing different batch sizes per task in the literature? I've only seen constant batch sizes with differing numbers of batches for each task.

[2020-10-01 13:14] lhoestq commented on #690
Thanks for reporting.
The data file must have been updated by the host.
I'll update the checksum with the new one.

[2020-10-01 13:21] lhoestq commented on #690
Well actually it looks like the link isn't working anymore :(

[2020-10-01 13:22] lhoestq commented on #690
The new link is https://cims.nyu.edu/~sbowman/xnli/XNLI-1.0.zip
I'll update the dataset script

[2020-10-01 14:05] lhoestq commented on #690
I'll do a release in the next few days to make the fix available for everyone.
In the meantime you can load `xnli` with
[code]
This will use the latest version of the xnli script (available on master branch), instead of the old one.

[2020-10-01 16:58] lhoestq commented on #672
Update: I'm missing 36/226711 urls but I haven't managed to download them yet

[2020-10-01 17:01] danyaljj commented on #672
Thanks! That sounds like a reasonable number!

[2020-10-01 17:15] xiey1 commented on #690
That's awesome! Thanks a lot!

[2020-10-01 21:32] lhoestq commented on #672
So I managed to download them all but when parsing only 226181/226711 worked.
Not sure if it's worth digging and debugging parsing at this point :/

[2020-10-01 21:33] lhoestq commented on #672
Maybe @sshleifer can help, I think he's already played with xsum at one point

[2020-10-01 21:41] jbragg commented on #672
Thanks @lhoestq
It would be great to improve coverage, but IDs are the really crucial part for us. We'd really appreciate an update to the dataset with IDs either way!

[2020-10-01 23:45] sshleifer commented on #672
I gave up at a similar point. The dataset I use has 204,017 train examples.

[2020-10-02 06:53] imadarsh1001 opened #699 "XNLI dataset is not loading"
`dataset = datasets.load_dataset(path='xnli')`

showing below error
[code]

I think URL is now changed to "https://cims.nyu.edu/~sbowman/xnli/XNLI-MT-1.0.zip"

[2020-10-02 07:07] imadarsh1001 commented on #699
also i tried below code to solve checksum error
`datasets-cli test ./datasets/xnli --save_infos --all_configs`

and it shows

[code]

[2020-10-02 07:45] lhoestq commented on #699
Hi !
Yes the download url changed.
It's updated on the master branch. I'm doing a release today to fix that :)

[2020-10-02 09:51] lhoestq commented on #617
Thanks for the clarification !
We're adding Rouge Lsum in #701

[2020-10-02 09:52] #617 closed

[2020-10-02 15:27] pvcastro opened #705 "TypeError: '<' not supported between instances of 'NamedSplit' and 'NamedSplit'"
## Environment info

- `transformers` version: 3.3.1 (installed from master)
- `datasets` version: 1.0.2 (installed as a dependency from transformers)
- Platform: Linux-4.15.0-118-generic-x86_64-with-debian-stretch-sid
- Python version: 3.7.9

I'm testing my own text classification dataset using [this example](https://github.com/huggingface/transformers/tree/master/examples/text-classification#run

[2020-10-02 15:43] lhoestq commented on #705
Hi !
Thanks for reporting :)
Indeed this is an issue on the `datasets` side.
I'm creating a PR

[2020-10-02 18:32] pvcastro commented on #705
Thanks @lhoestq !

[2020-10-02 23:39] mathcass opened #707 "Requirements should specify pyarrow<1"
I was looking at the docs on [Perplexity](https://huggingface.co/transformers/perplexity.html) via GPT2. When you load datasets and try to load Wikitext, you get the error,

[code]
I traced it back to datasets having installed PyArrow 1.0.1 but there's not pinning in the setup file.

https://github.com/huggingface/datasets/blob/e86a2a8f869b91654e782c9133d810bb82783200/setup.py#L68

Downgrading by

[2020-10-03 06:44] eugeneware opened #708 "Datasets performance slow? - 6.4x slower than in memory dataset"
I've been very excited about this amazing datasets project. However, I've noticed that the performance can be substantially slower than using an in-memory dataset.

Now, this is expected I guess, due to memory mapping data using arrow files, and you don't get anything for free. But I was surprised at how much slower.

For example, in the `yelp_polarity` dataset (560000 datapoints, or 17500 batches

[2020-10-03 11:18] nsankar opened #709 "How to use similarity settings other then "BM25" in Elasticsearch index ?"
How should we use other similarity algorithms supported by Elasticsearch other than "BM25"  ?
**ES Reference**
https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules-similarity.html

**context :**
========
When I set DFR other similarity algorithms supported by elastic search other than "BM25" in the mapping, I get an error

For example DFR that I had tried in the first inst

[2020-10-03 17:43] #699 closed

[2020-10-03 17:45] imadarsh1001 commented on #699
the issue is fixed with the latest release

[2020-10-03 18:27] timothyjlaurent commented on #620
Hi @lhoestq ,

Thanks for letting me know about the update.

So I don't think it's the caching - because hashing mechanism isn't stable for me -- but that's a different issue. In any case I `rm -rf ~/.cache/huggingface` to make a clean slate.

I synced with master and I see the key error has gone away, I tried with and without the `TOKENIZERS_PARALLELISM` variable set and see the log line for sett

[2020-10-04 05:58] subhrm opened #712 "Error in the notebooks/Overview.ipynb notebook"
Hi,

I got the following error in **cell number 3** while exploring the **Overview.ipynb** notebook in google colab. I used the [link ](https://colab.research.google.com/github/huggingface/datasets/blob/master/notebooks/Overview.ipynb) provided in the main README file to open it in colab.

[code]

Error message
[code]

The object `squad_dataset` is a `str` not a `dataclass` .

[2020-10-04 15:21] punitaojha commented on #707
Hello @mathcass I would want to work on this issue. May I do the same?

[2020-10-04 17:51] mathcass commented on #707
@punitaojha, certainly. Feel free to work on this. Let me know if you need any help or clarity.

[2020-10-04 18:52] punitaojha commented on #707
Hello @mathcass
1. I did fork the repository and clone the same on my local system.

2. Then learnt about how we can publish our package on pypi.org. Also, found some instructions on same in setup.py documentation.

3. Then I Perplexity document link that you shared above. I created a colab link from there keep both tensorflow and pytorch means a mixed option and tried to run it in colab but I enc

[2020-10-04 18:54] punitaojha commented on #707
Also, please share some links which made you conclude that pyarrow < 1 would help.

[2020-10-04 20:37] punitaojha commented on #707
Access granted for the colab link.

[2020-10-04 20:50] mathcass commented on #707
Thanks for looking at this @punitaojha and thanks for sharing the notebook.

I just tried to reproduce this on my own (based on the environment where I had this issue) and I can't reproduce it somehow. If I run into this again, I'll include some steps to reproduce it. I'll close this as invalid.

Thanks again.

[2020-10-04 20:50] #707 closed

[2020-10-05 07:05] Skyy93 commented on #622
I had the same error but managed to fix it with adding lineterminator='\n' to the pd.read_csv() in the text.py

Have a look on [Stackoverflow](https://stackoverflow.com/questions/33998740/error-in-reading-a-csv-file-in-pandascparsererror-error-tokenizing-data-c-err)

[2020-10-05 08:14] #705 closed

[2020-10-05 08:28] lhoestq commented on #674
Closing since version 1.1.0 got released with Windows support :)
Let me know if it works for you now

[2020-10-05 08:28] #674 closed

[2020-10-05 08:30] lhoestq commented on #622
Indeed good catch !
I'm going to add the lineterminator and add tests that include the \r character. According to the stackoverflow thread this issue occurs when there is a \r in the text file.

[2020-10-05 09:03] lhoestq commented on #622
Setting `lineterminator='\n'` works on my side but it keeps the \r at the end of each line (they're not stripped).
I guess it's the same for you @Skyy93 ?

[2020-10-05 09:48] lhoestq commented on #622
I found a way to implement it without third party lib and without separator/delimiter logic.
Creating a PR now.

I'd love to have your feedback on the PR @Skyy93 , hopefully this is the final iteration of the text dataset :)

Let me know if it works on your side !

Until it's merged you can test it with

[code]

[2020-10-05 13:36] nbroad1881 commented on #712
Do this:
[code]

[2020-10-05 15:42] subhrm commented on #712
Thanks! This worked. I have created a PR to fix this in the notebook.

[2020-10-05 16:25] #712 closed

[2020-10-05 16:28] lhoestq commented on #669
Closing this one.
Feel free to re-open if you have other questions

[2020-10-05 16:28] #669 closed

[2020-10-05 16:31] lhoestq commented on #620
Thanks for reporting.
I'm going to fix that and add a test case so that it doesn't happen again :)
I'll let you know when it's done

[2020-10-05 16:33] lhoestq commented on #568
Closing this one as it was fixed in #654
Feel free to re-open if you have other questions

[2020-10-05 16:33] #568 closed

[2020-10-05 16:34] lhoestq commented on #664
Hi @xixiaoyao did you manage to fix your issue ?

[2020-10-05 18:08] gaceladri commented on #633
Same here. Pre-training on wikitext-103 to do some test. At the end of the training it takes 32GB of RAM + ~30GB of SWAP. I installed dataset==1.1.0, not built from source. I will try uninstalling and building from source when it finish.

[2020-10-05 20:14] thomwolf commented on #633
This seems to be on the `transformers` library side.

If you have more informations (pip env) or even better, a colab reproducing the error we can investigate.

[2020-10-06 05:52] Skyy93 commented on #622
Looks good! Thank you for your support.

[2020-10-06 09:31] gaceladri commented on #633
It seems like it's solved with freshed versions of transformers. I have tried to replicate the error doing a fresh pip install transformers & datasets on colab and the error doesn't continue. On colab it keeps stable on 5GB! (Y)

[2020-10-06 16:40] manikbhandari commented on #224
Is there any update on this?

Thanks!

[2020-10-06 23:40] timothyjlaurent commented on #620
Sure thing, @lhoestq.

https://colab.research.google.com/drive/1lg4fbyrUO6m8ssQ2dNdVFaUqMUfA2zZ3?usp=sharing

[2020-10-07 12:32] lhoestq commented on #676
Thanks for reporting.
I just found the issue, I'm creating a PR

[2020-10-07 13:38] #676 closed

[2020-10-07 13:41] lhoestq commented on #620
Thanks @timothyjlaurent ! I just merged a fix on master. I also checked your notebook and it looks like it's working now.
I added some tests to make sure it works as expected now :)

[2020-10-07 13:46] lhoestq commented on #676
We'll do a release pretty soon to include the fix :)
In the meantime you can install the lib from source if you want to

[2020-10-07 14:22] lhoestq commented on #132
Closing since it's been added in #660

[2020-10-07 14:22] #132 closed

[2020-10-07 14:27] josemlopez opened #720 "OSError: Cannot find data file when not using the dummy dataset in RAG"
## Environment info

    transformers version: 3.3.1
    Platform: Linux-4.19
    Python version: 3.7.7
    PyTorch version (GPU?): 1.6.0
    Tensorflow version (GPU?): No
    Using GPU in script?: Yes
    Using distributed or parallel set-up in script?: No

## To reproduce

Steps to reproduce the behaviour:
[code]

Plese note that I'm using the whole dataset: **use_dummy_dataset=False**
After aro

[2020-10-07 14:52] timothyjlaurent commented on #620
Great, @lhoestq . I'm trying to verify in the colab:
changed
[code]
to

[code]

But I'm still seeing the error - I wonder why?

[2020-10-07 15:45] lhoestq commented on #620
It works on my side @timothyjlaurent on google colab.
Did you try to uninstall datasets first, before updating it to master's version ?

[2020-10-07 20:30] chiyuzhang94 commented on #610
Hi @lhoestq ,

Thanks for your suggestion.
I tried to process the dataset and save it to disk.
I have 1.12B samples in the raw dataset. I used 16 processors.
I run this process job for 7 days. But it didn't finish. I don't why the processing is such slow.

The log shows that some processors (\#12, \#14, \#15) are very slow. The different processor has a different speed. These slow processors look

[2020-10-08 02:02] sshleifer commented on #617
This is a real issue, sorry for missing the mention @ibeltagy

We implemented a more involved [solution](https://github.com/huggingface/transformers/blob/99cb924bfb6c4092bed9232bea3c242e27c6911f/examples/seq2seq/utils.py#L481) that enforces that sentences are split with `\n` so that rougeLsum scores match papers even if models don't generate newlines.

Unfortunately, the best way I found to do thi

[2020-10-08 08:26] lhoestq commented on #610
Hi !

As far as I can tell, there could be several reasons for your processes to have different speeds:
- some parts of your dataset have short passages while some have longer passages, that take more time to be processed
- OR there are other processes running that prevent some of them to run at full speed
- OR the value of `num_proc` is higher than the number of actual processes that you can run

[2020-10-08 08:58] lhoestq commented on #617
Thanks for the details, I didn't know about that. Maybe we should consider adding this processing step or at least mention it somewhere in the library or the documentation

I think the default `n_samples` of the aggregator is 1000. We could increase it or at least allow users to change it if they want more precise results.

[2020-10-08 09:26] thomwolf commented on #610
Do you use a fast tokenizer from the `transformers` library or a slow one @chiyuzhang94?

[2020-10-08 09:32] #665 closed

[2020-10-08 16:31] timothyjlaurent commented on #620
I didn't -- it was a new sessions --- buuut - look like it's working today -- woot! I'll close this issue. Thanks @lhoestq

[2020-10-08 16:31] #620 closed

[2020-10-08 19:00] chiyuzhang94 commented on #610
Hi @thomwolf ,
 I use this:
[code]

I guess this is a slow one, let me explore the fast tokenizer.

[2020-10-08 19:12] chiyuzhang94 commented on #610
Hi @lhoestq ,

Thanks for your suggestions.
I don't think my problem is due to any one of these seasons.

1.  I have 1,123,870,657 lines totally in the path. I split the large file into 440 small files. Each file has 2,560,000 lines. The last file is smaller a little bit. But they are similar. I randomly shuffled all the 1,123,870,657 lines. Hence, the sequences should also be similar across all t

[2020-10-09 09:30] leethu2012 commented on #633
@gaceladri witch version transformers and datasets  are you using now? I want to try again. Thanks.

[2020-10-09 09:57] gaceladri commented on #633
transformers==3.3.1
datasets==1.1.0
tokenizers==0.8.1rc2

[2020-10-09 13:56] sheffier commented on #616
I have the same issue

[2020-10-10 00:00] D-Roberts commented on #577
@lhoestq Any updates on this? I have similar issues with the Romanian dump, tnx.

[2020-10-10 15:50] AmitMY opened #721 "feat(dl_manager): add support for ftp downloads"
I am working on a new dataset (#302) and encounter a problem downloading it.

[code]

I get an error:

I checked, and indeed you don't consider `ftp` as a remote file.
https://github.com/huggingface/datasets/blob/4c2af707a6955cf4b45f83ac67990395327c5725/src/datasets/utils/file_utils.py#L188

Adding `ftp` to that list does not immediately solve the issue, so there probably needs to be some extra wo

[2020-10-10 20:24] chiyuzhang94 commented on #610
Hi @thomwolf
I am using `RobertaTokenizerFast` now.

But the speed is still imbalanced, some processors are still slow.
Here is the part of the log. #0 is always much fast than lower rank processors.

[code]
Here is my script related to the datasets processing,

[code]
I have 1,123,870,657 lines totally in the path. I split the large file into 440 small files. Each file has 2,560,000 lines.

Could

[2020-10-11 21:05] sshleifer opened #723 "Adding pseudo-labels to datasets"
I recently [uploaded pseudo-labels](https://github.com/huggingface/transformers/blob/master/examples/seq2seq/precomputed_pseudo_labels.md) for CNN/DM, XSUM and WMT16-en-ro to s3, and thom mentioned I should add them to this repo.
Since pseudo-labels are just a large model's generations on an existing dataset, what is the right way to structure this contribution.
I read https://huggingface.co/docs/

[2020-10-11 23:12] stas00 opened #724 "need to redirect /nlp to /datasets and remove outdated info"
It looks like the website still has all the `nlp` data, e.g.: https://huggingface.co/nlp/viewer/?dataset=wikihow&config=all

should probably redirect to: https://huggingface.co/datasets/wikihow

also for some reason the new information is slightly borked. If you look at the old one it was nicely formatted and had the links marked up, the new one is just a jumble of text in one chunk and no markup

[2020-10-12 09:29] lhoestq commented on #721
We only support http by default for downloading.
If you really need to use ftp, then feel free to use a library that allows to download through ftp in your dataset script (I see that you've started working on #722 , that's awesome !). The users will get a message to install the extra library when they load the dataset.

To make the download_manager work with a custom downloader, you can call `down

[2020-10-12 09:33] lhoestq commented on #721
Also maybe it coud be interesting to have a direct support of ftp inside the `datasets` library. Do you know any good libraries that we might consider adding as a (optional ?) dependency ?

[2020-10-12 10:11] lhoestq commented on #723
Nice ! :)
It's indeed the first time we have such contributions so we'll have to figure out the appropriate way to integrate them.
Could you add details on what they could be used for ?

[2020-10-12 11:45] SparkJiao opened #726 ""Checksums didn't match for dataset source files" error while loading openwebtext dataset"
Hi,
I have encountered this problem during loading the openwebtext dataset:
[code]
I think this problem is caused because the released dataset has changed. Or I should download the dataset manually?

Sorry for release the unfinised issue by mistake.

[2020-10-12 11:49] thomwolf commented on #726
Hi try, to provide more information please.

Example code in a colab to reproduce the error, details on what you are trying to do and what you were expected and details on your environment (OS, PyPi packages version).

[2020-10-12 11:55] SparkJiao commented on #726
I have update the description, sorry for the incomplete issue by mistake.

[2020-10-12 12:33] SparkJiao commented on #726
Hi, I have manually download the compressed dataset `openwebtext.tar.xz' and use the following command to preprocess the examples:
[code]
The size of the pre-processed example file is only 354MB, however the processed bookcorpus dataset is 4.6g. Are there any problems?

[2020-10-12 13:36] lhoestq opened #727 "Parallel downloads progress bar flickers"
When there are parallel downloads using the download manager, the tqdm progress bar flickers since all the progress bars are on the same line.

To fix that we could simply specify `position=i` for i=0 to n the number of files to download when instantiating the tqdm progress bar.

Another way would be to have one "master" progress bar that tracks the number of finished downloads, and then one progr

[2020-10-12 13:50] AmitMY commented on #721
Downloading an `ftp` file is as simple as:
[code]

I believe this should be supported by the library, as its not using any dependency and is trivial amount of code.

[2020-10-12 14:29] AmitMY commented on #721
I know its unorthodox, but I added `ftp` download support to `file_utils` in the same PR https://github.com/huggingface/datasets/pull/722
So its possible to understand the interaction of the download component with the ftp download ability

[2020-10-12 14:33] lhoestq commented on #721
Awesome ! I'll take a look :)

[2020-10-12 14:37] sshleifer commented on #723
They can be used as training data for a smaller model.

[2020-10-12 17:55] sgugger opened #728 "Passing `cache_dir` to a metric does not work"
When passing `cache_dir` to a custom metric, the folder is concatenated to itself at some point and this results in a FileNotFoundError:

## Reproducer

[code]

## Stack trace:

[code]

The code works when we remove the `cache_dir=...` from the metric.

[2020-10-12 17:59] sgugger opened #729 "Better error message when one forgets to call `add_batch` before `compute`"
When using metrics, if for some reason a user forgets to call `add_batch` to a metric before `compute` (with no arguments), the error message is a bit cryptic and could probably be made clearer.

## Reproducer

[code]

## Stack trace:

[code]

[2020-10-12 18:50] dzorlu commented on #720
Same issue here. I will be digging further, but it looks like the [script](https://github.com/huggingface/datasets/blob/master/datasets/wiki_dpr/wiki_dpr.py#L132) is attempting to open a file that is not downloaded yet.

[code]

[code]

Thank you.

[2020-10-13 02:16] tshrjn commented on #657
But then providing the `answer_start` becomes mandatory since the format of the features is checked against the one provided in the squad [file](https://github.com/huggingface/datasets/pull/658/files).

[2020-10-13 07:50] thomwolf commented on #723
Sounds just like a regular dataset to me then, no?

[2020-10-13 07:57] lhoestq commented on #723
A new configuration for those datasets should do the job then.
Note that until now datasets like xsum only had one configuration. It means that users didn't have to specify the configuration name when loading the dataset. If we add new configs, users that update the lib will have to update their code to specify the default/standard configuration name (not the one with pseudo labels).

[2020-10-13 08:48] thomwolf commented on #723
Could also be a `user-namespace` datasets maybe?

[2020-10-13 08:51] lhoestq commented on #723
Oh yes why not. I'm more in favor for this actually since pseudo labels are things that users (not dataset authors) can compute by themselves and share with the community

[2020-10-13 21:18] srush commented on #724
Should be fixed now:

![image](https://user-images.githubusercontent.com/35882/95917301-040b0600-0d78-11eb-9655-c4ac0e788089.png)

Not sure I understand what you mean by the second part?

[2020-10-13 21:50] stas00 commented on #724
Thank you!

Compare the 2:
* https://huggingface.co/datasets/wikihow
* https://huggingface.co/nlp/viewer/?dataset=wikihow&config=all
Can you see the difference? 2nd has formatting, 1st doesn't.

[2020-10-14 02:02] ArneBinder opened #730 "Possible caching bug"
The following code with `test1.txt` containing just "🤗🤗🤗":
[code]
produces this output:
[code]
Just changing the order (and deleting the temp files):
[code]
produces this:
[code]

Is it intended that the cache path does not depend on the config entries?

tested with datasets==1.1.2 and python==3.8.5

[2020-10-14 03:54] dzorlu commented on #720
An update on my end. This seems like a transient issue. Reran the script from scratch overnight with no errors.

[2020-10-14 09:35] lhoestq commented on #730
Thanks for reporting. That's a bug indeed.
Apparently only the `data_files` parameter is taken into account right now in `DatasetBuilder._create_builder_config` but it should also be the case for `config_kwargs` (or at least the instatiated `builder_config`)

[2020-10-14 17:00] stas00 commented on #724
I understand. I was just flagging the lack of markup issue.

[2020-10-14 17:00] #724 closed

[2020-10-14 21:08] sshleifer commented on #723
![image](https://user-images.githubusercontent.com/6045025/96045248-b528a380-0e3f-11eb-9124-bd55afa031bb.png)

I assume I should (for example) rename the xsum dir, change the URL, and put the modified dir somewhere in S3?

[2020-10-15 09:33] lhoestq commented on #723
You can use the `datasets-cli` to upload the folder with your version of xsum with the pseudo labels.

[code]

[2020-10-15 10:55] BramVanroy opened #735 "Throw error when an unexpected key is used in data_files"
I have found that only "train", "validation" and "test" are valid keys in the `data_files` argument. When you use any other ones, those attached files are silently ignored - leading to unexpected behaviour for the users.

So the following, unintuitively, returns only one key (namely `train`).

[code]

whereas using `validation` instead, does return the expected result:

[code]

I would like to see

[2020-10-15 15:57] aychang95 opened #737 "Trec Dataset Connection Error"
**Datasets Version:**
1.1.2

**Python Version:**
3.6/3.7

**Code:**
[code]

**Expected behavior:**
Download Trec dataset and load Dataset object

**Current Behavior:**
Get a connection error saying it couldn't reach http://cogcomp.org/Data/QA/QC/train_5500.label (but the link doesn't seem broken)

<details>
  <summary>Error Logs</summary>

Using custom data configuration default
Downloading and pr

[2020-10-16 01:35] danyaljj commented on #672
@lhoestq @sshleifer like @jbragg said earlier, the main issue for us is that the current XSUM dataset (in your package) does not have IDs suggested by the original dataset ([here is the file](https://raw.githubusercontent.com/EdinburghNLP/XSum/master/XSum-Dataset/XSum-TRAINING-DEV-TEST-SPLIT-90-5-5.json).) Would appreciate if you update the XSUM dataset to include the instance IDs.

The missing in

[2020-10-16 09:10] lhoestq commented on #737
Thanks for reporting.
That's because the download url has changed. The old url now redirects to the new one but we don't support redirection for downloads.

I'm opening a PR to update the url

[2020-10-17 19:21] chiyuzhang94 commented on #610
Hi @thomwolf @lhoestq ,

Thanks for your help.
Finally, the preprocess is completed. I used 32 CPUs. The preprocess took 55 hours. The `dataset.arrow` size is 1.18TB.
I saved the processed dataset and used it for RoBERTa pre-training. You can find my scripts [here](https://github.com/chiyuzhang94/transformers/blob/master/examples/language-modeling/run_language_modeling.py).
I loaded the dataset by

[2020-10-18 06:07] AmitMY opened #741 "Creating dataset consumes too much memory"
Moving this issue from https://github.com/huggingface/datasets/pull/722 here, because it seems like a general issue.

Given the following dataset example, where each example saves a sequence of 260x210x3 images (max length 400):
[code]

The dataset creation process goes out of memory on a machine with 500GB RAM.
I was under the impression that the "generator" here is exactly for that, to avoid mem

[2020-10-19 08:54] #737 closed

[2020-10-19 13:45] iliemihai commented on #622
The same problem happens with "csv".
`
from datasets import load_dataset

dataset = load_dataset("csv", data_files="custom_data.csv", delimiter="\t", column_names=["title", "text"], script_version="master")
`
ArrowInvalid: CSV parse error: Expected 1 columns, got 2

[2020-10-19 13:49] lhoestq commented on #622
Could you open a new issue for CSV please ?
Text and CSV datasets used to share some similarities in the way the file are loaded and parsed but it's no longer the case since 1.1.2
Hopefully we can find a fix quicker now for such errors :)
Also if you can provide a google colab to reproduce the issue that would be awesome !

[2020-10-19 14:53] iliemihai opened #743 "load_dataset for CSV files not working"
Similar to #622, I've noticed there is a problem when trying to load a CSV file with datasets.

`
from datasets import load_dataset
`
`
dataset = load_dataset("csv", data_files=["./sample_data.csv"], delimiter="\t", column_names=["title", "text"], script_version="master")
`

Displayed error:
`
...
ArrowInvalid: CSV parse error: Expected 2 columns, got 1
`

I've added a colab reproducing the bug, b

[2020-10-19 19:34] gaotongxiao opened #744 "Dataset Explorer Doesn't Work for squad_es and squad_it"
https://huggingface.co/nlp/viewer/?dataset=squad_es
https://huggingface.co/nlp/viewer/?dataset=squad_it

Both pages show "OSError: [Errno 28] No space left on device".

[2020-10-19 19:44] thomwolf commented on #744
Oups wrong click.
This one is for you @srush

[2020-10-20 03:41] moscow25 commented on #353
On the Amazon Reviews dataset, the original UCSD website has noted these are now updated to include product reviews through 2018 -- actually quite recent compared to many other datasets. Almost certainly the largest NLP dataset out there with labels!
https://jmcauley.ucsd.edu/data/amazon/

Any chance someone has time to onboard this dataset in a HF way?

cc @sshleifer

[2020-10-20 05:31] jbragg commented on #672
@lhoestq any chance we could update the HF-hosted dataset with the IDs in your new version? Happy to help if there's something I can do.

[2020-10-20 08:16] iliemihai commented on #622
@lhoestq I've opened a new issue #743 and added a colab. When do you have free time, can you please look upon it. I would  appreciate it :D. Thank you.

[2020-10-20 08:59] lhoestq commented on #741
Thanks for reporting.
In theory since the dataset script is just made to yield examples to write them into an arrow file, it's not supposed to create memory issues.

Could you please try to run this exact same loop in a separate script to see if it's not an issue with `PIL` ?
You can just copy paste what's inside `_generate_examples` and remove all the code for `datasets` (remove yield).

If the R

[2020-10-20 09:00] lhoestq commented on #735
Thanks for reporting !
We'll add support for other keys

[2020-10-20 09:02] lhoestq commented on #743
Thank you !
Could you provide a csv file that reproduces the error ?
It doesn't have to be one of your dataset. As long as it reproduces the error
That would help a lot !

[2020-10-20 09:06] lhoestq commented on #664
No activity, closing

[2020-10-20 09:06] #664 closed

[2020-10-20 09:08] lhoestq commented on #675
No activity, closing

[2020-10-20 09:08] #675 closed

[2020-10-20 09:16] lhoestq commented on #672
Well I couldn't parse what I downloaded.
Unfortunately I think I won't be able to take a look at it this week.
I can try to send you what I got if you want to give it a shot @jbragg
Otherwise feel free to re-run the xsum download script, maybe you'll be luckier than me

[2020-10-20 09:26] iliemihai commented on #743
I think another good example is the following:
`
from datasets import load_dataset
`
`
dataset = load_dataset("csv", data_files=["./sts-dev.csv"], delimiter="\t", column_names=["one", "two", "three", "four",  "score", "sentence1", "sentence2"], script_version="master")`
`

Displayed error `CSV parse error: Expected 7 columns, got 6` even tough I put 7 columns. First four columns from the csv don't

[2020-10-20 14:14] AmitMY commented on #741
Here's an equivalent loading code:
[code]

There is no effect on memory. the process takes 0.3% of memory, even after 200 examples on the small machine with 120GB RAM.

I guess something in the datasets library doesn't release the reference to the objects I'm yielding, but no idea how to test for this

[2020-10-20 19:09] akhilkapil commented on #469
Hi, actually the thing is I am getting the same error and even after tokenizing them I am passing them through batch_encode_plus.
I dont know what seems to be the problem is. I even converted it into 'pt' while passing them through batch_encode_plus but when I am evaluating my model , i am getting this error

---------------------------------------------------------------------------
TypeError

[2020-10-21 09:43] lhoestq commented on #741
I've had similar issues with Arrow once. I'll investigate...

For now maybe we can simply use the images paths in the dataset you want to add. I don't expect to fix this memory issue until 1-2 weeks unfortunately. Then we can just update the dataset with the images. What do you think ?

[2020-10-21 10:51] patrickvonplaten opened #749 "[XGLUE] Adding new dataset"
XGLUE is a multilingual GLUE like dataset propesed in this [paper](https://arxiv.org/pdf/2004.01401.pdf).

I'm planning on adding the dataset to the library myself in a couple of weeks.
Also tagging @JetRunner @qiweizhen in case I need some guidance

[2020-10-21 12:26] JetRunner commented on #749
Amazing!

[2020-10-21 14:12] AmitMY commented on #741
If it's just 1-2 weeks, I think it's best if we wait. I don't think it is very urgent to add it, and it will be much more useful with the images loaded rather than not (the images are low resolution, and thus papers using this dataset actually fit the entire video into memory anyway)

[2020-10-21 15:16] sgugger opened #750 "load_dataset doesn't include `features` in its hash"
It looks like the function `load_dataset` does not include what's passed in the `features` argument when creating a hash for a given  dataset. As a result, if a user includes new features from an already downloaded dataset, those are ignored.

Example: some models on the hub have a different ordering for the labels than what `datasets` uses for MNLI so I'd like to do something along the lines of:

[2020-10-21 19:54] JainSahit opened #751 "Error loading ms_marco v2.1 using load_dataset()"
Code:
`dataset = load_dataset('ms_marco', 'v2.1')`

Error:
[code]

[2020-10-21 22:56] ogabrielluiz opened #752 "Clicking on a metric in the search page points to datasets page giving "Missing dataset" warning"
Hi! Sorry if this isn't the right place to talk about the website, I just didn't exactly where to write this.

Searching a metric in https://huggingface.co/metrics gives the right results but clicking on a metric (E.g ROUGE) points to https://huggingface.co/datasets/rouge. Clicking on a metric without searching points to the right page.

Thanks for all the great work!

[2020-10-22 06:28] julien-c commented on #752
Thanks for the report, can reproduce. Will fix

[2020-10-22 08:33] Doragd commented on #469
I got the same error and fix it .
you can check your input where there may be string contained.
such as
[code]

[2020-10-22 08:40] lhoestq commented on #469
I didn't know tokenizers could return strings in the token ids. Which tokenizer are you using to get this @Doragd ?

[2020-10-22 08:58] Doragd commented on #469
i'm sorry that i met this issue in another place (not in huggingface repo).

[2020-10-22 09:04] lhoestq commented on #469
@akhilkapil do you have strings in your dataset ? When you set the dataset format to "pytorch" you should exclude columns with strings as pytorch can't make tensors out of strings

[2020-10-22 16:19] julien-c commented on #752
Fixed now @ogabrielluiz

[2020-10-22 16:19] #752 closed

[2020-10-22 16:21] lhoestq commented on #751
There was a similar issue in #294
Clearing the cache and download again the dataset did the jog. Could you try to clear your cache and download the dataset again ?

[2020-10-23 13:57] li1117heex opened #757 "CUDA out of memory"
In your dataset ,cuda run out of memory as long as the trainer begins:
however, without changing any other element/parameter,just switch dataset to `LineByLineTextDataset`,everything becames OK.

[2020-10-23 14:08] lhoestq commented on #757
Could you provide more details ? What's the code you ran ?

[2020-10-24 02:36] hoanganhpham1006 commented on #721
@AmitMY Can you now download the Phoenix2014 Dataset?

[2020-10-24 02:40] ksjae opened #758 "Process 0 very slow when using num_procs with map to tokenizer"
<img width="721" alt="image" src="https://user-images.githubusercontent.com/17930170/97066109-776d0d00-15ed-11eb-8bba-bb4d2e0fcc33.png">
The code I am using is
[code]

[2020-10-24 05:16] AmitMY commented on #721
@hoanganhpham1006 yes.
See pull request https://github.com/huggingface/datasets/pull/722 , it has a loader for this dataset, mostly ready.
There's one issue that delays it being merged - https://github.com/huggingface/datasets/issues/741 - regarding memory consumption.

[2020-10-24 06:07] hoanganhpham1006 commented on #721
The problem which I have now is that this dataset seems does not allow to download? Can you share it with me pls

[2020-10-24 07:26] AmitMY commented on #721
The dataset loader is not yet ready, because of that issue.
If you want to just download the dataset the old-fashioned way, just go to: https://www-i6.informatik.rwth-aachen.de/ftp/pub/rwth-phoenix/2016/phoenix-2014-T.v3.tar.gz (the ftp link is now broken, and its available over https)

[2020-10-24 09:24] hoanganhpham1006 commented on #721
Got it, thank you so much!

[2020-10-24 10:49] li1117heex commented on #757
`
tokenizer = FunnelTokenizer.from_pretrained('funnel-transformer/small')

def tokenize(batch):
    return tokenizer(batch['text'], padding='max_length', truncation=True,max_length=512)

dataset = load_dataset("bookcorpus",split='train[:1000]').shuffle()
dataset = dataset.map(tokenize, batched=True, batch_size=512)

# dataset = LineByLineTextDataset(
#     tokenizer=tokenizer,
#     file_path="./w

[2020-10-24 10:51] li1117heex commented on #757
`RuntimeError: CUDA out of memory. Tried to allocate 954.00 MiB (GPU 0; 15.90 GiB total capacity; 14.35 GiB already allocated; 753.75 MiB free; 14.39 GiB reserved in total by PyTorch)
Exception raised from malloc at /pytorch/c10/cuda/CUDACachingAllocator.cpp:272 (most recent call first):`

part of error output

[2020-10-24 10:53] li1117heex commented on #757
from funnel model to bert model : error still happened

from your dataset to LineByLineTextDataset : error disapeared

[2020-10-24 10:54] li1117heex commented on #757
notice i just loaded 1000 rows of data

[2020-10-24 11:44] li1117heex commented on #757
the error happens when executing loss.backward()

[2020-10-25 15:34] AI678 opened #759 "(Load dataset failure) ConnectionError: Couldn’t reach https://raw.githubusercontent.com/huggingface/datasets/1.1.2/datasets/cnn_dailymail/cnn_dailymail.py"
Hey, I want to load the cnn-dailymail dataset for fine-tune.
I write the code like this
from datasets import load_dataset

test_dataset = load_dataset(“cnn_dailymail”, “3.0.0”, split=“train”)

And I got the following errors.

Traceback (most recent call last):
File “test.py”, line 7, in
test_dataset = load_dataset(“cnn_dailymail”, “3.0.0”, split=“test”)
File “C:\Users\666666\AppData\Local\Programs

[2020-10-25 23:52] lhoestq commented on #759
Are you running the script on a machine with an internet connection ?

[2020-10-26 04:43] AI678 commented on #759
Yes ,  I can browse the url through Google Chrome.

[2020-10-26 08:46] rabeehk commented on #217
Hi,
regarding building T5 dataset , I think we can use datasets https://github.com/huggingface/datasets and then need something similar to tf.data.experimental.sample_from_datasets, do you know if similar functionality exist in pytorch? Which can sample multiple datasets with the given rates. thanks.

[2020-10-26 09:20] lhoestq commented on #758
Hi ! Thanks for reporting.
Is the distribution of text length of your data evenly distributed across your dataset ? I mean, could it be because the examples in the first part of your dataset are slower to process ?
Also could how many CPUs can you use for multiprocessing ?
[code]
Which tokenizer are you using ?

[2020-10-26 09:39] lhoestq commented on #757
Since you're using a data collator you don't need to tokenizer the dataset using `map`. Could you try not to use `map` and only the data collator instead ? The data collator is supposed to pad to the longest sequence in each batch afaik, instead of padding to 512.

Also cc @sgugger

[2020-10-26 09:44] lhoestq commented on #759
Does this HEAD request return 200 on your machine ?
[code]

If it returns 200, could you try again to load the dataset ?

[2020-10-26 10:25] AI678 commented on #759
Thank you very much for your response.
When I run
[code]
It returns 200.

And I try again to load the dataset. I got the following errors again.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\666666\AppData\Local\Programs\Python\Python38\lib\site-packages\datasets\load.py", line 608, in load_dataset
    builder_instance.download_and_prepare(
  File "C:\U

[2020-10-26 10:29] lhoestq commented on #759
Is google drive blocked on your network ?
For me
[code]
returns 200

[2020-10-26 10:36] AI678 commented on #759
I can browse the google drive through google chrome. It's weird. I can download the dataset through google drive manually.

[2020-10-26 11:14] lhoestq commented on #759
Could you try to update `requests` maybe ?
It works with 2.23.0 on my side

[2020-10-26 11:44] AI678 commented on #759
My ```requests``` is 2.24.0 . It still can't return 200.

[2020-10-26 12:05] ksjae commented on #758
Using pre trained HF tokenizer. The result is the same with tokenizer multiprocessing off and on.
I have (absolutely) no idea about the distribution, but since this issue occurs on all of my datasets(regardless of files), I don't think distribution is the problems.

I can use up to 16 cores.

[2020-10-26 12:51] lhoestq commented on #758
Ok weird, I don't manage to reproduce this issue on my side.
Does it happen even with `num_proc=2` for example ?
Also could you provide more details about your OS and the versions of tokenizers/datasets/multiprocess that you're using ?

[2020-10-26 12:58] lhoestq commented on #751
I was able to load the dataset successfully, I'm pretty sure it's just a cache issue that you have.
Let me know if clearing your cache fixes the problem

[2020-10-26 14:56] yjernite opened #760 "Add meta-data to the HANS dataset"
The current version of the [HANS dataset](https://github.com/huggingface/datasets/blob/master/datasets/hans/hans.py) is missing the additional information provided for each example, including the sentence parses, heuristic and subcase.

[2020-10-26 16:25] AI678 commented on #759
Is it possible I download the dataset manually from google drive and use it for further test ? How can I do this ? I want to reproduce the model in this link https://huggingface.co/patrickvonplaten/bert2bert-cnn_dailymail-fp16. But I can't download the dataset through load_dataset method . I have tried many times  and the connection error always happens .

[2020-10-26 16:36] #744 closed

[2020-10-26 16:37] lhoestq commented on #759
The head request should definitely work, not sure what's going on on your side.
If you find a way to make it work, please post it here since other users might encounter the same issue.

If you don't manage to fix it you can use `load_dataset` on google colab and then save it using `dataset.save_to_disk("path/do/dataset")`.
Then you can download the directory on your machine and do
[code]

[2020-10-26 20:54] ghazi-f opened #761 "Downloaded datasets are not usable offline"
I've been trying to use the IMDB dataset offline, but after downloading it and turning off the internet it still raises  an error from the ```requests``` library trying to reach for the online dataset.
Is this the intended behavior ?
(Sorry, I wrote the the first version of this issue while still on nlp 0.3.0).

[2020-10-26 23:19] ksjae commented on #758
Yes, I can confirm it also happens with ```num_proc=2```.
[code]
[code]

[2020-10-27 14:04] lhoestq commented on #761
Yes currently you need an internet connection because the lib tries to check for the etag of the dataset script online to see if you don't have it locally already.

If we add a way to store the etag/hash locally after the first download, it would allow users to first download the dataset with an internet connection, and still have it working without an internet connection.

I'll let you know when

[2020-10-27 15:19] #666 closed

[2020-10-27 15:20] #192 closed

[2020-10-27 15:28] yjernite commented on #193
Fixed by https://github.com/huggingface/datasets/pull/339

[2020-10-27 15:28] #193 closed

[2020-10-27 15:35] #270 closed

[2020-10-27 15:35] yjernite commented on #270
C4 is too large to be shown in the viewer

[2020-10-27 15:36] #317 closed

[2020-10-27 15:38] #345 closed

[2020-10-27 15:47] lhoestq commented on #758
I can't reproduce on my side unfortunately with the same versions.

Do you have issues when doing multiprocessing with python ?
[code]

[2020-10-27 15:48] yjernite commented on #439
@nsankar have you tried with the latest version of the library?

[2020-10-27 16:00] yjernite opened #762 "[GEM] Add Czech Restaurant data-to-text generation dataset"
- Paper: https://www.aclweb.org/anthology/W19-8670.pdf
- Data: https://github.com/UFAL-DSG/cs_restaurant_dataset
- The dataset will likely be part of the GEM benchmark

[2020-10-27 17:32] yjernite opened #765 "[GEM] Add DART data-to-text generation dataset"
## Adding a Dataset
- **Name:** DART
- **Description:** DART consists of 82,191 examples across different domains with each input being a semantic RDF triple set derived from data records in tables and the tree ontology of the schema, annotated with sentence descriptions that cover all facts in the triple set.
- **Paper:** https://arxiv.org/abs/2007.02871v1
- **Data:** https://github.com/Yale-LILY

[2020-10-27 17:34] yjernite opened #766 "[GEM] add DART data-to-text generation dataset"
## Adding a Dataset
- **Name:** DART
- **Description:** DART consists of 82,191 examples across different domains with each input being a semantic RDF triple set derived from data records in tables and the tree ontology of the schema, annotated with sentence descriptions that cover all facts in the triple set.
- **Paper:** https://arxiv.org/abs/2007.02871v1
- **Data:** https://github.com/Yale-LILY

[2020-10-27 17:34] #765 closed

[2020-10-27 19:59] nateraw opened #767 "Add option for named splits when using ds.train_test_split"
### Feature Request 🚀

Can we add a way to name your splits when using the `.train_test_split` function?

In almost every use case I've come across, I have a `train` and a `test` split in my `DatasetDict`, and I want to create a `validation` split. Therefore, its kinda useless to get a `test` split back from `train_test_split`, as it'll just overwrite my real `test` split that I intended to keep.

[2020-10-27 22:33] sgugger opened #768 "Add a `lazy_map` method to `Dataset` and `DatasetDict`"
The library is great, but it would be even more awesome with a `lazy_map` method implemented on `Dataset` and `DatasetDict`. This would apply a function on a give item but when the item is requested. Two use cases:

1. load image on the fly
2. apply a random function and get different outputs at each epoch (like data augmentation or randomly masking a part of a sentence for BERT-like objectives).

[2020-10-27 22:47] thomwolf commented on #768
This is cool! I think some aspects to think about and decide in terms of API are:
- do we allow several methods (chained i guess)
- how do we inspect the currently set method(s)
- how do we control/reset them

[2020-10-28 01:46] nsankar commented on #439
@yjernite it worked. Thanks

[2020-10-28 01:46] #439 closed

[2020-10-28 03:59] ksjae commented on #758
Nah, I'll just wait a few hours. Thank you for helping, though.

[2020-10-28 03:59] #758 closed

[2020-10-28 09:16] jzq2000 opened #769 "How to choose proper download_mode in function load_dataset?"
Hi, I am a beginner to datasets and I try to use datasets to load my csv file.
my csv file looks like this

[code]

First I try to use this command to load my csv file .

[code]

It seems good, but when i try to overwrite the convert_options to convert  'label' columns from int64 to float32 like this.

[code]

It keeps the same:

[code]

I think this issue is caused by the parameter "download_mode

[2020-10-28 10:00] stefan-it commented on #577
Hey @gaguilar ,

I just found the ["char2subword" paper](https://arxiv.org/pdf/2010.12730.pdf) and I'm really interested in trying it out on own vocabs/datasets like for historical texts (I've already [trained some lms](https://github.com/stefan-it/europeana-bert) on newspaper articles with OCR errors).

Do you plan to release the code for your paper or is it possible to get the implementation 🤔 M

[2020-10-28 10:22] lhoestq commented on #769
`download_mode=datasets.GenerateMode.FORCE_REDOWNLOAD` should work.
This makes me think we we should rename this to DownloadMode.FORCE_REDOWNLOAD. Currently that's confusing

[2020-10-28 10:30] thomwolf commented on #769
Can we just use `features=...` in `load_dataset` for this @lhoestq?

[2020-10-28 10:34] lhoestq commented on #769
Indeed you should use `features` in this case.
[code]
Note that because of an issue with the caching when you change the features (see #750 ) you still need to specify the `FORCE_REDOWNLOAD ` flag. I'm working on a fix for this one

[2020-10-28 11:05] thomwolf commented on #767
Yes definitely we should give more flexibility to control the name of the splits outputted by `train_test_split`.

Related is the very interesting feedback from @bramvanroy on how we should improve this method: https://discuss.huggingface.co/t/how-to-split-main-dataset-into-train-dev-test-as-datasetdict/1090/5

And in particular that it should advantageously be able to split in 3 splits as well in

[2020-10-28 11:07] thomwolf commented on #622
I think this issue (loading text files) is now solved.

Closing it, please open a new issue with full details to continue or start another discussion on this topic.

[2020-10-28 11:07] #622 closed

[2020-10-28 14:13] sgugger opened #771 "Using `Dataset.map` with `n_proc>1` print multiple progress bars"
When using `Dataset.map` with `n_proc > 1`, only one of the processes should print a progress bar (to make the output readable). Right now, `n_proc` progress bars are printed.

[2020-10-28 14:18] lhoestq commented on #771
Yes it allows to monitor the speed of each process. Currently each process takes care of one shard of the dataset.

At one point we can consider using streaming batches to a pool of processes instead of sharding the dataset in `num_proc` parts. At that point it will be easy to use only one progress bar

[2020-10-28 18:20] yjernite opened #773 "Adding CC-100: Monolingual Datasets from Web Crawl Data"
## Adding a Dataset
- **Name:** CC-100: Monolingual Datasets from Web Crawl Data
- **Description:** https://twitter.com/alex_conneau/status/1321507120848625665
- **Paper:** https://arxiv.org/abs/1911.02116
- **Data:** http://data.statmt.org/cc-100/
- **Motivation:** A large scale multi-lingual language modeling dataset. Text is de-duplicated and filtered by how "Wikipedia-like" it is, hopefully he

[2020-10-28 18:26] yjernite commented on #773
cc @aconneau ;)

[2020-10-29 09:34] #728 closed

[2020-10-29 09:36] #730 closed

[2020-10-29 09:36] #750 closed

[2020-10-29 15:18] #729 closed

[2020-10-29 16:06] dcfidalgo opened #778 "Unexpected behavior when loading cached csv file?"
I read a csv file from disk and forgot so specify the right delimiter. When i read the csv file again specifying the right delimiter it had no effect since it was using the cached dataset. I am not sure if this is unwanted behavior since i can always specify `download_mode="force_redownload"`. But i think it would be nice if the information what `delimiter` or what `column_names` were used would i

[2020-10-29 16:22] gaguilar commented on #577
Hi @stefan-it! Thanks for your interest in our work! We do plan to release the code, but we will make it available once the paper has been published at a conference. Sorry for the inconvenience!

Hi @lhoestq, do you have any insights for this issue by any chance? Thanks!

[2020-10-29 16:28] lhoestq commented on #577
This is an issue on the `mwparserfromhell` side. You could try to update `mwparserfromhell` and see if it fixes the issue. If it doesn't we'll have to create an issue on their repo for them to fix it.
But first let's see if the latest version of `mwparserfromhell` does the job.

[2020-10-29 16:33] lhoestq commented on #778
Hi ! Thanks for reporting.
The same issue was reported in #730 (but with the encodings instead of the delimiter). It was fixed by #770 .
The fix will be available in the next release :)

[2020-10-29 16:39] lhoestq commented on #741
Ok found the issue. This is because the batch size used by the writer is set to 10 000 elements by default so it would load your full dataset in memory (the writer has a buffer that flushes only after each batch). Moreover to write in Apache Arrow we have to use python objects so what's stored inside the ArrowWriter's buffer is actually python integers (32 bits).

Lowering the batch size to 10 sho

[2020-10-29 21:21] dcfidalgo commented on #778
Thanks for the prompt reply and terribly sorry for the spam!
Looking forward to the new release!

[2020-10-29 21:21] #778 closed

[2020-10-30 10:36] AmitMY commented on #741
Thanks, that's awesome you managed to find the problem.

About the 32 bits - really? there isn't a way to serialize the numpy array somehow? 32 bits would take 4 times the memory / disk space needed to store these videos.

Please let me know when the batch size is customizable and I'll try again!

[2020-10-30 11:48] lhoestq commented on #741
The 32 bit integrers are only used in the writer's buffer because Arrow doesn't take numpy arrays correctly as input. On disk it's stored as uint8 in arrow format ;)

[2020-10-30 12:21] ClaartjeBarkhof commented on #616
Same issue here when Trying to load a dataset from disk.

[2020-10-30 13:23] #735 closed

[2020-10-31 11:40] SamuelCahyawijaya opened #784 "Issue with downloading Wikipedia data for low resource language"
Hi, I tried to download Sundanese and Javanese wikipedia data with the following snippet
[code]
And I get the following error for these two languages:
Javanese
[code]

Sundanese
[code]

I found from https://github.com/huggingface/datasets/issues/577#issuecomment-688435085 that for small languages, they are directly downloaded and parsed from the Wikipedia dump site, but both of `https://dumps.wiki

[2020-10-31 16:52] AmitMY opened #786 "feat(dataset): multiprocessing _generate_examples"
forking this out of #741, this issue is only regarding multiprocessing

I'd love if there was a dataset configuration parameter `workers`, where when it is `1` it behaves as it does right now, and when its `>1` maybe `_generate_examples` can also get the `pool` and return an iterable using the pool.

In my use case, I would instead of:
[code]
do:
[code]

As the dataset in question, as an example,

[2020-11-02 02:42] WangHexie opened #788 "failed to reuse cache"
I packed the `load_dataset ` in a function of class, and cached data in a directory. But when I import the class and use the function, the data still have to be downloaded again. The information (Downloading and preparing dataset cnn_dailymail/3.0.0 (download: 558.32 MiB, generated: 1.28 GiB, post-processed: Unknown size, total: 1.82 GiB) to ******) which logged to terminal shows the path is right

[2020-11-02 12:26] #788 closed

[2020-11-02 12:36] shawwn opened #790 "Error running pip install -e ".[dev]" on MacOS 10.13.6: faiss/python does not exist"
I was following along with https://huggingface.co/docs/datasets/share_dataset.html#adding-tests-and-metadata-to-the-dataset when I ran into this error.

[code]

![image](https://user-images.githubusercontent.com/59632/97868518-72871800-1cd5-11eb-9cd2-37d4e9d20b39.png)

![image](https://user-images.githubusercontent.com/59632/97868592-977b8b00-1cd5-11eb-8f3c-0c409616149c.png)

Python 3.7.7

[2020-11-02 17:33] PaulLerner opened #792 "KILT dataset: empty string in triviaqa input field"
# What happened
Both train and test splits of the triviaqa dataset (part of the KILT benchmark) seem to have empty string in their input field (unlike the natural questions dataset, part of the same benchmark)

# Versions
KILT version is `1.0.0`
`datasets` version is `1.1.2`
[more here](https://gist.github.com/PaulLerner/3768c8d25f723edbac20d99b6a4056c1)

# How to reproduce
[code]

Stay safe :)

[2020-11-03 09:27] hzqjyyx opened #794 "self.options cannot be converted to a Python object for pickling"
Hi,

Currently I am trying to load csv file with customized read_options. And the latest master seems broken if we pass the ReadOptions object.

Here is a code snippet
[code]
error is `self.options cannot be converted to a Python object for pickling`
Would you mind to take a look? Thanks!

[code]

[2020-11-03 10:24] fraboniface opened #795 "Descriptions of raw and processed versions of wikitext are inverted"
Nothing of importance, but it looks like the descriptions of wikitext-n-v1 and wikitext-n-raw-v1 are inverted for both n=2 and n=103. I just verified by loading them and the `<unk>` tokens are present in the non-raw versions, which confirms that it's a mere inversion of the descriptions and not of the datasets themselves.

Also it would be nice if those descriptions appeared in the dataset explore

[2020-11-03 15:26] sshleifer opened #796 "Seq2Seq Metrics QOL: Bleu, Rouge"
Putting all my QOL issues here, idt I will have time to propose fixes, but I didn't want these to be lost, in case they are useful. I tried using `rouge` and `bleu` for the first time and wrote down everything I didn't immediately understand:

+ Bleu expects tokenization, can I just kwarg it like sacrebleu?
+ different signatures, means that I would have had to add a lot of conditionals + pre and

[2020-11-03 15:33] sgugger opened #797 "Token classification labels are strings and we don't have the list of labels"
Not sure if this is an issue we want to fix or not, putting it here so it's not forgotten. Right now, in token classification datasets, the labels for NER, POS and the likes are typed as `Sequence` of `strings`, which is wrong in my opinion. These should be `Sequence` of `ClassLabel` or some types that gives easy access to the underlying labels.

The main problem for preprocessing those datasets i

[2020-11-03 17:45] kaletap opened #798 "Cannot load TREC dataset: ConnectionError"
## Problem
I cannot load "trec" dataset, it results with ConnectionError as shown below. I've tried on both Google Colab and locally.
* `requests.head('http://cogcomp.org/Data/QA/QC/train_5500.label')` returns <Response [302]>.
* `requests.head('http://cogcomp.org/Data/QA/QC/train_5500.label', allow_redirects=True)` raises `requests.exceptions.TooManyRedirects: Exceeded 30 redirects.`
* Opening `h

[2020-11-03 18:26] lhoestq commented on #796
Hi ! Thanks for letting us know you experience :)
We should at least improve the error messages indeed

[2020-11-03 21:05] thomwolf commented on #797
Indeed. Pinging @stefan-it here if he want to give an expert opinion :)

[2020-11-04 03:53] shangw-nvidia opened #801 "How to join two datasets?"
Hi,

I'm wondering if it's possible to join two (preprocessed) datasets with the same number of rows but different labels?

I'm currently trying to create paired sentences for BERT from `wikipedia/'20200501.en`, and I couldn't figure out a way to create a paired sentence using `.map()` where the second sentence is **not** the next sentence (i.e., from a different article) of the first sentence.

T

[2020-11-04 08:23] thomwolf commented on #797
Related is https://github.com/huggingface/datasets/pull/636

[2020-11-04 11:25] stefan-it commented on #797
Should definitely be a ClassLabel 👍

[2020-11-04 14:06] patrickvonplaten commented on #749
Small poll  @thomwolf @yjernite @lhoestq @JetRunner @qiweizhen .

As stated in the XGLUE paper: https://arxiv.org/pdf/2004.01401.pdf , for each of the 11 down-stream tasks training data is only available in English, whereas development and test data is available in multiple different language *cf.* here:

![Screenshot from 2020-11-04 15-02-17](https://user-images.githubusercontent.com/23423619/981

[2020-11-04 15:08] patrickvonplaten commented on #749
I see your point!

I think this would be quite feasible to do and makes sense to me as well! In the paper results are reported per language, so it seems more natural to do it this way.

Good for me @yjernite ! What do the others think?

[2020-11-04 16:08] JetRunner commented on #749
I agree with Yacine on this!

[2020-11-04 17:33] patrickvonplaten commented on #749
Okey actually not that easy to add things like `test-de` to `datasets` => this would be the first dataset to have this.

[2020-11-05 01:31] JainSahit commented on #751
Yes, it indeed was a cache issue!
Thanks for reaching out!!

[2020-11-05 01:31] #751 closed

[2020-11-05 10:34] PaulLerner commented on #792
Just found out about https://github.com/huggingface/datasets/blob/master/datasets/kilt_tasks/README.md
(Not very clear in https://huggingface.co/datasets/kilt_tasks links to http://github.com/huggingface/datasets/datasets/kilt_tasks/README.md which is dead, closing the issue though :))

[2020-11-05 10:34] #792 closed

[2020-11-05 11:38] PaulLerner opened #804 "Empty output/answer in TriviaQA test set (both in 'kilt_tasks' and 'trivia_qa')"
# The issue

It's all in the title, it appears to be fine on the train and validation sets.

Is there some kind of mapping to do like for the questions (see https://github.com/huggingface/datasets/blob/master/datasets/kilt_tasks/README.md) ?

# How to reproduce
[code]

[2020-11-05 15:14] laibamehnaz opened #805 "On loading a metric from datasets, I get the following error"
`from datasets import load_metric`

`metric = load_metric('bleurt')`

Traceback:
210 class _ArrayXDExtensionType(pa.PyExtensionType):
    211
    212     ndims: int = None

AttributeError: module 'pyarrow' has no attribute 'PyExtensionType'

Any help will be appreciated. Thank you.

[2020-11-05 19:40] ngdodd opened #806 "Quail dataset urls are out of date"
<h3>Code</h3>

[code]

<h3>Error</h3>

[code]

As per [quail v1.3 commit](https://github.com/text-machine-lab/quail/commit/506501cfa34d9ec6c042d31026ba6fea6bcec8ff) it looks like the location and suggested ordering has changed. In [https://github.com/huggingface/datasets/blob/master/datasets/quail/quail.py#L52-L58](https://github.com/huggingface/datasets/blob/master/datasets/quail/quail.py#L52-L58

[2020-11-06 06:33] shexuan opened #807 "load_dataset for LOCAL CSV files report CONNECTION ERROR"
## load_dataset for LOCAL CSV files report CONNECTION ERROR
- **Description:**
A local demo csv file:
[code]

when I load data through `dataset`:
[code]
Error infos:
[code]

And I try to connect to the site with requests:
[code]

Similarly Error occurs:
[code]

[2020-11-06 15:10] yjernite opened #809 "Add Google Taskmaster dataset"
## Adding a Dataset
- **Name:** Taskmaster
- **Description:** A large dataset of task-oriented dialogue with annotated goals (55K dialogues covering entertainment and travel reservations)
- **Paper:** https://arxiv.org/abs/1909.05358
- **Data:** https://github.com/google-research-datasets/Taskmaster
- **Motivation:** One of few annotated datasets of this size for goal-oriented dialogue

Instructio

[2020-11-07 17:08] jc-hou opened #811 "nlp viewer error"
Hello,
when I select amazon_us_reviews in nlp viewer, it shows error.
https://huggingface.co/nlp/viewer/?dataset=amazon_us_reviews
![image](https://user-images.githubusercontent.com/30210529/98447334-4aa81200-2124-11eb-9dca-82c3ab34ccc2.png)

[2020-11-07 23:56] dspoka opened #812 "Too much logging"
I'm doing this in the beginning of my script:

from datasets.utils import logging as datasets_logging
datasets_logging.set_verbosity_warning()

but I'm still getting these logs:

[2020-11-07 15:45:41,908][filelock][INFO] - Lock 139958278886176 acquired on /home/username/.cache/huggingface/datasets/cfe20ffaa80ef1c145a0a210d5b9cdce2b60002831e6ed0edc7ab9275d6f0d48.1bd4ccbce9de3dad0698d84674a19d6cc66a

[2020-11-08 06:46] AmitMY commented on #741
Hi @lhoestq
not to rush of course, but I was wondering if you have a new timeline so I know how to plan my work around this :)

[2020-11-08 12:36] lhoestq commented on #741
Hi ! Next week for sure :)

[2020-11-08 15:24] rabeehkarimimahabadi commented on #801
Hi this is also my question. thanks

[2020-11-08 15:27] rabeehkarimimahabadi opened #813 "How to implement DistributedSampler with datasets"
Hi,
I am using your datasets to define my dataloaders, and I am training finetune_trainer.py in huggingface repo on them.
I need a distributedSampler to be able to train the models on TPUs being able to distribute the load across the TPU cores. Could you tell me how I can implement the distribued sampler when using datasets in which datasets are iterative? To give you more context, I have multiple

[2020-11-08 16:19] rabeehkarimimahabadi opened #814 "Joining multiple datasets"
Hi
I have multiple iterative datasets from your library with different size and I want to join them in a way that each datasets is sampled equally, so smaller datasets more, larger one less, could you tell me how to implement this in pytorch? thanks

[2020-11-08 19:38] rabeehkarimimahabadi commented on #814
found a solution here  https://discuss.pytorch.org/t/train-simultaneously-on-two-datasets/649/35, closed for now, thanks

[2020-11-08 19:38] #814 closed

[2020-11-09 08:33] rabeehkarimimahabadi commented on #813
Hi Apparently I need to shard the data and give one host a chunk, could you provide me please with examples on how to do it? I want to use it jointly with finetune_trainer.py in huggingface repo seq2seq examples. thanks.

[2020-11-09 08:36] lhoestq commented on #784
Hello, maybe you could ty to use another date for the wikipedia dump (see the available [dates](https://dumps.wikimedia.org/jvwiki) here for `jv`) ?

[2020-11-09 08:38] lhoestq commented on #786
I agree that would be cool :)
Right now the only distributed dataset builder is based on Apache Beam so you can use distributed processing frameworks like Dataflow, Spark, Flink etc. to build your dataset but it's not really well suited for single-worker parallel processing afaik

[2020-11-09 08:42] lhoestq commented on #790
I saw that `faiss-cpu` 1.6.4.post2 was released recently to fix the installation on macos. It should work now

[2020-11-09 08:44] lhoestq commented on #794
Hi ! Thanks for reporting that's a bug on master indeed.
We'll fix that soon

[2020-11-09 08:52] lhoestq commented on #795
Yes indeed ! Thanks for reporting

[2020-11-09 09:05] lhoestq commented on #798
Hi ! Indeed there's an issue with those links.
We should probably use the target urls of the redirections instead

[2020-11-09 09:08] lhoestq commented on #801
Hi ! Currently the only way to add new fields to a dataset is by using `.map` and picking items from the other dataset

[2020-11-09 09:09] lhoestq commented on #804
cc @yjernite is this expected ?

[2020-11-09 09:11] rabeehkarimimahabadi opened #815 "Is dataset iterative or not?"
Hi
I want to use your library for large-scale training, I am not sure if this is implemented as iterative datasets or not?
could you provide me with example how I can use datasets as iterative datasets?
thanks

[2020-11-09 09:12] lhoestq commented on #805
Hi ! We support only pyarrow > 0.17.1 so that we have access to the `PyExtensionType` object.
Could you update pyarrow and try again ?
[code]

[2020-11-09 09:18] lhoestq commented on #815
Hello !
Could you give more details ?

If you mean iter through one dataset then yes, `Dataset` object does implement the `__iter__` method so you can use
[code]

If you want to iter through several datasets you can first concatenate them
[code]
Let me know if this helps !

[2020-11-09 09:23] rabeehkarimimahabadi commented on #815
Hi Huggingface/Datasets team,
I want to use the datasets inside Seq2SeqDataset here
https://github.com/huggingface/transformers/blob/master/examples/seq2seq/utils.py
and there I need to return back each line from the datasets and I am not
sure how to access each line and implement this?
It seems it also has get_item attribute? so I was not sure if this is
iterative dataset? or if this is non-itera

[2020-11-09 09:24] rabeehkarimimahabadi commented on #815
could you tell me please if datasets also has __getitem__ any idea on how
to integrate it with Seq2SeqDataset is appreciated thanks

On Mon, Nov 9, 2020 at 10:22 AM Rabeeh Karimi Mahabadi <rabeeh@google.com>
wrote:

[2020-11-09 10:16] lhoestq commented on #815
`datasets.Dataset` objects implement indeed `__getitem__`. It returns a dictionary with one field per column.

We've not added the integration of the datasets library for the seq2seq utilities yet. The current seq2seq utilities are based on text files.

However as soon as you have a `datasets.Dataset` with columns "tgt_texts" (str), "src_texts" (str), and "id" (int) you should be able to implement

[2020-11-09 10:23] lhoestq commented on #806
Hi ! Thanks for reporting.
We should fix the urls and use quail 1.3.
If you want to contribute feel free to fix the urls and open a PR :)

[2020-11-09 10:26] lhoestq commented on #807
Hi !
The url works on my side.

Is the url working in your navigator ?
Are you connected to internet ? Does your network block access to `raw.githubusercontent.com` ?

[2020-11-09 10:29] lhoestq commented on #812
Hi ! Thanks for reporting :)
I agree these one should be hidden when the logging level is warning, we'll fix that

[2020-11-09 13:36] yjernite commented on #804
Yes: TriviaQA has a private test set for the leaderboard [here](https://competitions.codalab.org/competitions/17208)

For the KILT training and validation portions, you need to link the examples from the TriviaQA dataset as detailed here:
https://github.com/huggingface/datasets/blob/master/datasets/kilt_tasks/README.md

[2020-11-09 14:14] PaulLerner commented on #804
Oh ok, I guess I read the paper too fast 😅, thank you for your answer!

[2020-11-09 14:14] #804 closed

[2020-11-09 14:58] jc-hou commented on #811
and also for 'blog_authorship_corpus'
https://huggingface.co/nlp/viewer/?dataset=blog_authorship_corpus
![image](https://user-images.githubusercontent.com/30210529/98557329-5c182800-22a4-11eb-9b01-5b910fb8fcd4.png)

[2020-11-09 14:58] jc-hou commented on #811
Is this the problem of my local computer or ??

[2020-11-09 15:01] lhoestq opened #816 "[Caching] Dill globalvars() output order is not deterministic and can cause cache issues."
Dill uses `dill.detect.globalvars` to get the globals used by a function in a recursive dump. `globalvars` returns a dictionary of all the globals that a dumped function needs. However the order of the keys in this dict is not deterministic and can cause caching issues.

To fix that one could register an implementation of dill's `save_function` in the `datasets` pickler that sorts the globals keys

[2020-11-09 15:52] VictorSanh opened #817 "Add MRQA dataset"
## Adding a Dataset
- **Name:** MRQA
- **Description:** Collection of different (subsets of) QA datasets all converted to the same format to evaluate out-of-domain generalization (the datasets come from different domains, distributions, etc.). Some datasets are used for training and others are used for evaluation. This dataset was collected as part of MRQA 2019's shared task
- **Paper:** https://a

[2020-11-09 17:37] rabeehkarimimahabadi commented on #815
Hi
I am sorry for asking it multiple times but I am not getting the dataloader
type, could you confirm if the dataset library returns back an iterable
type dataloader or a mapping type one where one has access to __getitem__,
in the former case, one can iterate with __iter__, and how I can configure
it to return the data back as the iterative type? I am dealing with
large-scale datasets and  I do

[2020-11-09 17:42] lhoestq commented on #815
`datasets.Dataset` objects are both iterative and mapping types: it has both `__iter__` and `__getitem__`
For example you can do
[code]
or
[code]
When you do that, one and only one example is loaded into memory at a time.

[2020-11-09 18:11] lhoestq commented on #816
To show the issue:
[code]
doesn't always return the same ouput since `globs` is a dictionary with "a" and "len" as keys but sometimes not in the same order

[2020-11-09 21:34] nikitakit commented on #812
+1, the amount of logging is excessive.

Most of it indeed comes from `filelock.py`, though there are occasionally messages from other sources too. Below is an example (all of these messages were logged after I already called `datasets.logging.set_verbosity_error()`)

[code]

[2020-11-09 22:03] ngdodd commented on #806
Done! PR [https://github.com/huggingface/datasets/pull/820](https://github.com/huggingface/datasets/pull/820)

Updated links and also regenerated the metadata and dummy data for v1.3 in order to pass verifications as described here: [https://huggingface.co/docs/datasets/share_dataset.html#adding-tests-and-metadata-to-the-dataset](https://huggingface.co/docs/datasets/share_dataset.html#adding-tests

[2020-11-10 02:04] sackoh opened #821 "`kor_nli` dataset doesn't being loaded properly"
There are two issues from `kor_nli` dataset

1. csv.DictReader failed to split features by tab
    - Should not exist `None` value in label feature, but there it is.
[code]
    - I found a reason why there is `None` values in label feature as following code
[code]

2. (Optional) Preferred to change the name of the features for the compatibility with `run_glue.py` in 🤗 Transformers
    - `kor_nli`

[2020-11-10 02:34] shexuan commented on #807
I tried another server, it's working now. Thanks a lot.

And I'm curious about why download things from "github" when I load dataset from local files ?  Dose datasets work if my network crashed?

[2020-11-10 02:54] shexuan commented on #807
It seems my network frequently crashed so most time it cannot work.

[2020-11-10 05:10] rabeehkarimimahabadi opened #822 "datasets freezes"
Hi, I want to load these two datasets and convert them to Dataset format in torch and the code freezes for me, could you have a look please? thanks

dataset1 = load_dataset("squad", split="train[:10]")
dataset1 = dataset1.set_format(type='torch', columns=['context', 'answers', 'question'])

dataset2 = load_dataset("imdb", split="train[:10]")
dataset2 = dataset2.set_format(type="torch", columns=["t

[2020-11-10 06:11] shexuan commented on #807
I download the scripts `https://raw.githubusercontent.com/huggingface/datasets/1.1.2/datasets/csv/csv.py` and move it to the package dir `*/datasets/` solved the problem. Could you please put the file `datasets/datasets/csv/csv.py` to `datasets/src/datasets/`？

Thanks :D

[2020-11-10 10:20] rabeehkarimimahabadi commented on #815
Hi there,
Here is what I am trying, this is not working for me in map-style datasets, could you please tell me how to use datasets with being able to access ___getitem__ ? could you assist me please correcting this example? I need map-style datasets which is formed from concatenation of two datasets from your library. thanks

[code]

[2020-11-10 10:50] rabeehkarimimahabadi commented on #815
closed since I found this response on the issue https://github.com/huggingface/datasets/issues/469

[2020-11-10 10:50] #815 closed

[2020-11-10 11:11] rabeehkarimimahabadi opened #823 "how processing in batch works in datasets"
Hi,
I need to process my datasets before it is passed to dataloader in batch,
here is my codes

[code]

I call it like

`AutoTask.get(task, train_dataset_config).get_dataset(split="train", n_obs=data_args.n_train)
`

This gives the following error, to me because the data inside the   dataset = dataset.map(lambda batch: self._encode(batch), batched=True) is not processed in batch, could you tell me

[2020-11-10 11:20] thomwolf commented on #823
Hi I don’t think this is a request for a dataset like you labeled it.

I also think this would be better suited for the forum at https://discuss.huggingface.co. we try to keep the issue for the repo for bug reports and new features/dataset requests and have usage questions discussed on the forum. Thanks.

[2020-11-10 12:55] rabeehkarimimahabadi commented on #823
Hi Thomas,
what I do not get from documentation is that why when you set batched=True,
this is processed in batch, while data is not divided to batched
beforehand, basically this is a question on the documentation and I do not
get the batched=True, but sure, if you think this is more appropriate in
forum I will post it there.
thanks
Best
Rabeeh

On Tue, Nov 10, 2020 at 12:21 PM Thomas Wolf <notifi

[2020-11-10 13:10] mandubian opened #824 "Discussion using datasets in offline mode"
`datasets.load_dataset("csv", ...)` breaks if you have no connection (There is already this issue https://github.com/huggingface/datasets/issues/761 about it). It seems to be the same for metrics too.

I create this ticket to discuss a bit and gather what you have in mind or other propositions.

Here are some points to open discussion:
- if you want to prepare your code/datasets on your machine (h

[2020-11-10 13:11] thomwolf commented on #823
Yes the forum is perfect for that. You can post in the `datasets` section.
Thanks a lot!

[2020-11-10 13:11] #823 closed

[2020-11-10 14:02] lhoestq commented on #806
Closing since #820 is merged.
Thanks again for fixing the urls :)

[2020-11-10 14:02] #806 closed

[2020-11-10 14:05] lhoestq commented on #790
Closing this one.
Feel free to re-open if you still have issues

[2020-11-10 14:05] #790 closed

[2020-11-10 14:50] yjernite opened #826 "[GEM] Add E2E dataset"
## Adding a Dataset
- **Name:** E2E NLG dataset (for End-to-end natural language generation)
- **Description:**a dataset for training end-to-end, datadriven natural language generation systems in the restaurant domain, the datasets consists of 5,751 dialogue-act Meaning Representations (structured data) and 8.1 reference free-text utterances per dialogue-act on average
- **Paper:** https://arxiv.o

[2020-11-10 14:57] yjernite opened #827 "[GEM] MultiWOZ dialogue dataset"
## Adding a Dataset
- **Name:** MultiWOZ (Multi-Domain Wizard-of-Oz)
- **Description:** 10k annotated human-human dialogues. Each dialogue consists of a goal, multiple user and system utterances as well as a belief state. Only system utterances are annotated with dialogue acts – there are no annotations from the user side.
- **Paper:** https://arxiv.org/pdf/2007.12720.pdf
- **Data:** https://githu

[2020-11-10 16:30] lhoestq commented on #741
Alright it should be good now.
You just have to specify `_writer_batch_size = 10` for example as a class attribute of the dataset builder class.

[2020-11-10 16:33] yjernite opened #829 "[GEM] add Schema-Guided Dialogue"
## Adding a Dataset
- **Name:** The Schema-Guided Dialogue Dataset
- **Description:** The Schema-Guided Dialogue (SGD) dataset consists of over 20k annotated multi-domain, task-oriented conversations between a human and a virtual assistant. These conversations involve interactions with services and APIs spanning 20 domains, ranging from banks and events to media, calendar, travel, and weather.
- *

[2020-11-10 16:38] yjernite opened #830 "[GEM] add ToTTo Table-to-text dataset"
## Adding a Dataset
- **Name:** ToTTo
- **Description:** ToTTo is an open-domain English table-to-text dataset with over 120,000 training examples that proposes a controlled generation task: given a Wikipedia table and a set of highlighted table cells, produce a one-sentence description.
- **Paper:** https://arxiv.org/abs/2004.14373
- **Data:** https://github.com/google-research-datasets/totto
- *

[2020-11-10 16:46] yjernite opened #831 "[GEM] Add WebNLG dataset"
## Adding a Dataset
- **Name:** WebNLG
- **Description:** WebNLG consists of Data/Text pairs where the data is a set of triples extracted from DBpedia and the text is a verbalisation of these triples (16,095 data inputs and 42,873 data-text pairs). The data is available in English and Russian
- **Paper:** https://www.aclweb.org/anthology/P17-1017.pdf
- **Data:** https://webnlg-challenge.loria.fr/d

[2020-11-10 16:53] yjernite opened #832 "[GEM] add WikiAuto text simplification dataset"
## Adding a Dataset
- **Name:** WikiAuto
- **Description:** Sentences in English Wikipedia and their corresponding sentences in Simple English Wikipedia that are written with simpler grammar and word choices. A lot of lexical and syntactic paraphrasing.
- **Paper:** https://www.aclweb.org/anthology/2020.acl-main.709.pdf
- **Data:** https://github.com/chaojiang06/wiki-auto
- **Motivation:** Include

[2020-11-10 16:56] yjernite opened #833 "[GEM] add ASSET text simplification dataset"
## Adding a Dataset
- **Name:** ASSET
- **Description:** ASSET is a crowdsourced
multi-reference corpus for assessing sentence simplification in English where each simplification was produced by executing several rewriting transformations.
- **Paper:** https://www.aclweb.org/anthology/2020.acl-main.424.pdf
- **Data:** https://github.com/facebookresearch/asset
- **Motivation:** Included in the GEM

[2020-11-10 17:00] yjernite opened #834 "[GEM] add WikiLingua cross-lingual abstractive summarization dataset"
## Adding a Dataset
- **Name:** WikiLingua
- **Description:** The dataset includes ~770k article and summary pairs in 18 languages from WikiHow. The gold-standard article-summary alignments across languages were extracted by aligning the images that are used to describe each how-to step in an article.
- **Paper:** https://arxiv.org/pdf/2010.03093.pdf
- **Data:** https://github.com/esdurmus/Wikilin

[2020-11-10 17:26] bminixhofer opened #835 "Wikipedia postprocessing"
Hi, thanks for this library!

Running this code:

[code]

I get:

[code]

so some Markup like `mini|` is still left. Should I run another parser on this text before feeding it to an ML model or is this a known imperfection of parsing Wiki markup?

Apologies if this has been asked before.

[2020-11-10 17:31] yjernite commented on #835
Hi @bminixhofer ! Parsing WikiMedia is notoriously difficult: this processing used [mwparserfromhell](https://github.com/earwig/mwparserfromhell) which is pretty good but not perfect.

As an alternative, you can also use the Wiki40b dataset which was pre-processed using an un-released Google internal tool

[2020-11-10 17:49] bminixhofer commented on #835
Ok, thanks! I'll try the Wiki40b dataset.

[2020-11-10 17:49] #835 closed

[2020-11-10 18:23] bminixhofer commented on #835
If anyone else is concerned about this, `wiki40b` does indeed seem very well cleaned.

[2020-11-10 19:35] randubin opened #836 "load_dataset with 'csv' is not working. while the same file is loading with 'text' mode or with pandas"
Hi All
I am trying to load a custom dataset  and I am trying to load a single file to make sure the file is loading correctly:
dataset = load_dataset('csv', data_files=files)
When I run it I get:

Downloading and preparing dataset csv/default-35575a1051604c88 (download: Unknown size, generated: Unknown size, post-processed: Unknown size, total: Unknown size) tocache/huggingface/datasets/csv/defaul

[2020-11-11 00:34] loganlebanoff opened #839 "XSum dataset missing spaces between sentences"
I noticed that the XSum dataset has no space between sentences. This could lead to worse results for anyone training or testing on it. Here's an example (0th entry in the test set):

`The London trio are up for best UK act and best album, as well as getting two nominations in the best song category."We got told like this morning 'Oh I think you're nominated'", said Dappy."And I was like 'Oh yeah,

[2020-11-11 12:42] jc-hou opened #841 "Can not reuse datasets already downloaded"
Hello,
I need to connect to a frontal node (with http proxy, no gpu) before connecting to a gpu node (but no http proxy, so can not use wget so on).
I successfully downloaded and reuse the wikipedia datasets in a frontal node.
When I connect to the gpu node, I supposed to use the downloaded datasets from cache, but failed and end with time out error.

On frontal node:
[code]

On gpu node:
[code]

[2020-11-11 12:54] lhoestq commented on #836
Which version of pyarrow do you have ? Could you try to update pyarrow and try again ?

[2020-11-11 12:54] jc-hou commented on #841
It seems the process needs '/datasets.huggingface.co/datasets/datasets/wikipedia/wikipedia.py'
I can download it.
But where and how to assign it?

[2020-11-11 12:59] randubin commented on #836
Thanks for the fast response. I have the latest version '2.0.0' (I tried to update)
I am working with Python 3.8.5

[2020-11-11 15:20] #816 closed

[2020-11-11 17:23] randubin commented on #836
I think that the issue is similar to this one:https://issues.apache.org/jira/browse/ARROW-9612
The problem is in arrow when the column data contains long strings.
Any ideas on how to bypass this?

[2020-11-11 17:37] thomwolf commented on #836
We should expose the [`block_size` argument](https://arrow.apache.org/docs/python/generated/pyarrow.csv.ReadOptions.html#pyarrow.csv.ReadOptions) of Apache Arrow csv `ReadOptions` in the [script](https://github.com/huggingface/datasets/blob/master/datasets/csv/csv.py).

In the meantime you can specify yourself the `ReadOptions` config like this:
[code]

[2020-11-11 18:17] jc-hou commented on #841
download the ```wikipedia.py``` at the working directory and go with ```dataset = load_dataset('wikipedia.py', '20200501.en')``` works.

[2020-11-11 18:17] #841 closed

[2020-11-11 19:43] randubin commented on #836
This did help to load the data. But the problem now is that I get:
ArrowInvalid: CSV parse error: Expected 5 columns, got 187

It seems that this change the parsing so I changed the table to tab-separated and tried to load it directly from pyarrow
But I got a similar error, again it loaded fine in pandas so I am not sure what to do.

[2020-11-12 02:04] shangw-nvidia opened #842 "How to enable `.map()` pre-processing pipelines to support multi-node parallelism?"
Hi,

Currently, multiprocessing can be enabled for the `.map()` stages on a single node. However, in the case of multi-node training, (since more than one node would be available) I'm wondering if it's possible to extend the parallel processing among nodes, instead of only 1 node running the `.map()` while the other node is waiting for it to finish?

Thanks!

[2020-11-12 02:30] mrm8488 commented on #796
So what is the right way to add a batch to compute BLEU?

[2020-11-12 11:44] penatbater opened #843 "use_custom_baseline still produces errors for bertscore"
`metric = load_metric('bertscore')`
`a1 = "random sentences"`
`b1 = "random sentences"`
`metric.compute(predictions = [a1], references = [b1], lang = 'en')`

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/stephen_chan/.local/lib/python3.6/site-packages/datasets/metric.py", line 393, in compute
    output = self._compute(predictions=predictions, references=r

[2020-11-12 19:55] yjernite opened #846 "Add HoVer multi-hop fact verification dataset"
## Adding a Dataset
- **Name:** HoVer
- **Description:** https://twitter.com/YichenJiang9/status/1326954363806429186 contains 20K claim verification examples
- **Paper:** https://arxiv.org/abs/2011.03088
- **Data:** https://hover-nlp.github.io/
- **Motivation:** There are still few multi-hop information extraction benchmarks (HotpotQA, which dataset wase based off, notwithstanding)

Instructions t

[2020-11-12 20:56] phtephanx commented on #610
I might have a related issue:

My custom arrow file created by `load_dataset` is around 260 GB large. The corresponding dataset is wrapped in a `torch.utils.data.Dataset`.

When spawning ``8`` processes with `xla_multiprocessing` but ``0`` `num_workers` for the `DataLoader`, the memory peaks at around 300 GB RAM and then levels off at 250 GB RAM. Since the numbers of workers for the data loading i

[2020-11-12 23:09] lhoestq commented on #610
The library does not load the dataset in memory. Not sure why your script using xla_multiprocessing seems to load everything unfortunately :/
Pytorch DataLoader use `__getitem__` to iterate through the dataset batch by batch without loading everything indeed.

Do you think you can share a script that reproduces the issue with a smaller dataset (a few GB) to experiment/debug with ?

[2020-11-12 23:23] lhoestq commented on #822
Pytorch is unable to convert strings to tensors unfortunately.
You can use `set_format(type="torch")` on columns that can be converted to tensors, such as token ids.

This makes me think that we should probably raise an error or at least a warning when one tries to create pytorch tensors out of text columns

[2020-11-12 23:24] lhoestq commented on #843
Thanks for reporting ! That's a bug indeed
If you want to contribute, feel free to fix this issue and open a PR :)

[2020-11-12 23:28] lhoestq commented on #842
Right now multiprocessing only runs on single node.

However it's probably possible to extend it to support multi nodes. Indeed we're using the `multiprocess` library from the `pathos` project to do multiprocessing in `datasets`, and `pathos` is made to support parallelism on several nodes. More info about pathos [on the pathos repo](https://github.com/uqfoundation/pathos).

If you're familiar wit

[2020-11-13 06:01] timothyjlaurent opened #847 "multiprocessing in dataset map "can only test a child process""
Using a dataset with a single 'text' field and a fast tokenizer in a jupyter notebook.

[code]

[code]

[2020-11-13 06:55] Justin1904 commented on #836
Got almost the same error loading a ~5GB TSV file, first got the same error as OP, then tried giving it my own ReadOptions and also got the same CSV parse error.

[2020-11-13 07:56] shexuan opened #848 "Error when concatenate_datasets"
Hello, when I concatenate two dataset loading  from disk, I encountered a problem:
[code]
And it reported ValueError blow:
[code]

But it's curious both of my datasets loading from disk, so I check the source code in `arrow_dataset.py` about the Error:
[code]

Any suggestions would be greatly appreciated!
Thanks!

[2020-11-13 08:34] bhavitvyamalik opened #849 "Load amazon dataset"
Hi,
I was going through amazon_us_reviews dataset and found that example API usage given on website is different from the API usage while loading dataset.

Eg. what API usage is on the [website](https://huggingface.co/datasets/amazon_us_reviews)
[code]
How it is when I tried (the error generated does point me to the right direction though)
[code]
Also, there is some issue with formatting as it's n

[2020-11-13 11:23] lhoestq commented on #847
It looks like an issue with wandb/tqdm here.
We're using the `multiprocess` library instead of the `multiprocessing` builtin python package to support various types of mapping functions. Maybe there's some sort of incompatibility.

Could you make a minimal script to reproduce or a google colab ?

[2020-11-13 14:36] lhoestq commented on #848
As you can see in the error the test checks if `indices_mappings_in_memory` is True or not, which is different from the test you do in your script. In a dataset, both the data and the indices mapping can be either on disk or in memory.

The indices mapping correspond to a mapping on top of the data table that is used to re-order/select a sample of the original data table. For example if you do `da

[2020-11-13 15:55] shexuan commented on #848
`dataset.flatten_indices()` solved my problem, thanks so much!

[2020-11-13 15:55] #848 closed

[2020-11-13 17:39] thomwolf commented on #848
@lhoestq we can add a mention of `dataset.flatten_indices()` in the error message (no rush, just put it on your TODO list or I can do it when I come at it)

[2020-11-13 17:40] lhoestq commented on #848
Yup I agree ! And in the docs as well

[2020-11-13 17:52] rabeehk commented on #798
Hi, the same issue here, could you tell me how to download it through datasets? thanks

[2020-11-14 05:30] #807 closed

[2020-11-14 13:01] phtephanx commented on #610
I minimalistically put together the relevant steps in this [colab](https://colab.research.google.com/drive/1LclO69NVPBOO4hzWtW8uIjaTgVCR-MDv#scrollTo=VeIPyzp0Dxtq). Running only the `DataLoader` with this configuration doesn't increase memory alot (less 1 GB). Maybe you spot a problem?

Multiprocess-training with TPU leads to another problem: `out of space in memory space smem` (https://github.com

[2020-11-14 17:38] samuelstevens commented on #616
I am also experiencing this issue, and don't know if it's affecting my training.

[2020-11-15 11:49] AliKarimi74 commented on #798
Same issue.

[2020-11-15 20:57] alexyalunin opened #851 "Add support for other languages for rouge"
I calculate rouge with
[code]
the result is
`Score(precision=0.0, recall=0.0, fmeasure=0.0)`
It seems like the `rouge_score` library that this metric uses filters all non-alphanueric latin characters
in `rouge_scorer/tokenize.py` on 'text = re.sub(r"[^a-z0-9]+", " ", six.ensure_str(text))'.
Please add support for other languages.

[2020-11-16 01:04] rabeehk opened #852 "wmt cannot be downloaded"
Hi, I appreciate your help with the following error, thanks

Downloading and preparing dataset wmt16/ro-en (download: Unknown size, generated: Unknown size, post-processed: Unknown size, total: Unknown size) to /root/.cache/huggingface/datasets/wmt16/ro-en/1.0.0/7b2c4443a7d34c2e13df267eaa8cab4c62dd82f6b62b0d9ecc2e3a673ce17308...
Traceback (most recent call last):
  File "<stdin>", line 1, in <modu

[2020-11-16 02:46] renqingcolin opened #853 "concatenate_datasets support axis=0 or 1 ？"
I want to achieve the following result
![image](https://user-images.githubusercontent.com/12437751/99207426-f0c8db80-27f8-11eb-820a-4d9f7287b742.png)

[2020-11-16 08:43] wuaibo commented on #807
hello, how did you solve this problems?

hello, I tried this. but it still failed. how do you fix this error?

[2020-11-16 09:29] lhoestq commented on #798
Actually it's already fixed on the master branch since #740
I'll do the 1.1.3 release soon

[2020-11-16 09:31] rabeehk opened #854 "wmt16 does not download"
Hi, I appreciate your help with the following error, thanks

Downloading and preparing dataset wmt16/ro-en (download: Unknown size, generated: Unknown size, post-processed: Unknown size, total: Unknown size) to /root/.cache/huggingface/datasets/wmt16/ro-en/1.0.0/7b2c4443a7d34c2e13df267eaa8cab4c62dd82f6b62b0d9ecc2e3a673ce17308...
Traceback (most recent call last):
  File "<stdin>", line 1, in <modu

[2020-11-16 09:31] #852 closed

[2020-11-16 09:47] rabeehk commented on #854
Hi,I also posted it to the forum, but this is a bug, perhaps it needs to be reported here? thanks

[2020-11-16 10:00] lhoestq commented on #853
Unfortunately `concatenate_datasets` only supports concatenating the rows, while what you want to achieve is concatenate the columns.
Currently to add more columns to a dataset, one must use `map`.
What you can do is somehting like this:
[code]

[2020-11-16 10:03] lhoestq commented on #849
Thanks for reporting !
We plan to show information about the different configs of the datasets on the website, with the corresponding `load_dataset` calls.

Also I think the bullet points formatting has been fixed

[2020-11-16 10:12] rabeehk commented on #798
Hi
thanks, but I did tried to install from the pip install git+... and it does
not work for me,. thanks for the help. I have the same issue with wmt16,
"ro-en"
thanks.
Best
Rabeeh

On Mon, Nov 16, 2020 at 10:29 AM Quentin Lhoest <notifications@github.com>
wrote:

[2020-11-16 10:18] lhoestq commented on #798
I just tested on google colab using
[code]
and it works.
Can you detail how you got the issue even when using the latest version on master ?

Also about wmt we'll look into it, thanks for reporting !

[2020-11-16 10:52] lhoestq commented on #854
It looks like the official OPUS server for WMT16 doesn't provide the data files anymore (503 error).
I searched a bit and couldn't find a mirror except maybe http://nlp.ffzg.hr/resources/corpora/setimes/ (the data are a cleaned version of the original ones though)
Should we consider replacing the old urls with these ones even though it's not the exact same data ?

[2020-11-16 12:45] jorgtied commented on #854
The data storage is down at the moment. Sorry. Hopefully, it will come back soon. Apologies for the inconvenience ...

[2020-11-16 13:59] #821 closed

[2020-11-16 17:06] #812 closed

[2020-11-17 01:10] rabeehk commented on #854
Dear great huggingface team, this is not working yet, I really appreciate some temporary fix on this, I need this for my project and this is time sensitive and I will be grateful for your help on this.

[2020-11-17 06:07] shexuan commented on #807
你把那个脚本下载到你本地安装目录下，然后 `load_dataset(csv_script_path, data_fiels)`

[2020-11-17 06:08] shexuan commented on #807
你把那个脚本下载到你本地安装目录下，然后 `load_dataset(csv_script_path, data_fiels)`

[2020-11-17 06:40] wuaibo commented on #807
好啦好啦！感谢感谢！我还有一个问题，trainer.evaluate一直OOM，你遇到过吗？

[2020-11-17 06:49] wuaibo commented on #807
好的好的！解决了，感谢感谢！！！

[2020-11-17 07:22] #849 closed

[2020-11-17 07:33] thomwolf commented on #854
We have reached out to the OPUS team which is currently working on making the data available again. Cc @jorgtied

[2020-11-17 10:25] AmitMY commented on #741
I added it, but still it consumes as much memory

[2020-11-17 10:31] lhoestq commented on #741
Yes you did it right.
Did you rebase to include the changes of #828 ?

[2020-11-17 12:22] rabeehk commented on #854
thank you @thomwolf  and HuggingFace team for the help.

[2020-11-17 13:45] rabeehk opened #860 "wmt16 cs-en does not donwload"
Hi
I am trying with wmt16, cs-en pair, thanks for the help, perhaps similar to the ro-en issue. thanks

 split="train", n_obs=data_args.n_train) for task in data_args.task}
  File "finetune_t5_trainer.py", line 109, in <dictcomp>
    split="train", n_obs=data_args.n_train) for task in data_args.task}
  File "/home/rabeeh/internship/seq2seq/tasks/tasks.py", line 82, in get_dataset
    dataset = loa

[2020-11-17 13:48] NebelAI opened #861 "Possible Bug: Small training/dataset file creates gigantic output"
Hey guys,

I was trying to create a new bert model from scratch via _huggingface transformers + tokenizers + dataets_ (actually using this example script by your team: https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_mlm.py). It was supposed to be a first test with a small 5 GB raw text file but I can't even end the preprocessing handled by datasets because th

[2020-11-17 14:10] lhoestq commented on #861
The preprocessing tokenizes the input text. Tokenization outputs `input_ids`, `attention_mask` and `token_type_ids`. All those are of length`max_seq_length` because of padding. Therefore for each sample it generate 3 *`max_seq_length` integers. Currently they're all saved as int64. This is why the tokenization takes so much space.

I'm sure we can optimize that though
What do you think @sgugger ?

[2020-11-17 14:40] jorgtied commented on #854
OPUS is still down - hopefully back tomorrow.

[2020-11-17 15:16] lhoestq commented on #861
First I think we should disable padding in the dataset processing and let the data collator do it.

Then I'm wondering if you need attention_mask and token_type_ids at this point ?

Finally we can also specify the output feature types at this line https://github.com/huggingface/transformers/blob/master/examples/language-modeling/run_mlm.py#L280 to use more optimized integer precisions for the outp

[2020-11-17 15:38] sgugger commented on #861
No, you can't do that on TPUs as dynamic shapes will result in a very slow training. The script can however be tweaked to use the `PaddingDataCollator` with a fixed max length instead of dynamic batching.

For the other optimizations, they can be done by changing the script directly for each user's use case. Not sure we can find something that is general enough to be in transformers or the example

[2020-11-17 15:58] lhoestq commented on #861
Oh yes right..
Do you think that a lazy map feature on the `datasets` side could help to avoid storing padded tokenized texts then ?

[2020-11-17 16:55] sgugger commented on #861
I think I can do the tweak mentioned above with the data collator as short fix (but fully focused on v4 right now so that will be for later this week, beginning of next week :-) ).
If it doesn't hurt performance to tokenize on the fly, that would clearly be the long-term solution however!

[2020-11-18 04:38] rohitashwa1907 opened #864 "Unable to download cnn_dailymail dataset"
### Script to reproduce the error
[code]

### Error
[code]

Thanks for any suggestions.

[2020-11-18 08:04] forest1988 opened #865 "Have Trouble importing `datasets`"
I'm failing to import transformers (v4.0.0-dev), and tracing the cause seems to be failing to import datasets.

I cloned the newest version of datasets (master branch), and do `pip install -e .`.

Then, `import datasets` causes the error below.

[code]

The error occurs in `os.makedirs` in `file_utils.py`, even though `exist_ok = True` option is set.
(I use Python 3.8, so `exist_ok` is expected to

[2020-11-18 08:05] mrm8488 commented on #864
Same error here!

[2020-11-18 08:16] forest1988 commented on #865
I'm sorry, this was a problem with my environment.
Now that I have identified the cause of environmental dependency, I would like to fix it and try it.
Excuse me for making a noise.

[2020-11-18 08:16] #865 closed

[2020-11-18 09:51] RKorzeniowski commented on #864
Same here! My kaggle notebook stoped working like yesterday. It's strange because I have fixed version of datasets==1.1.2

[2020-11-18 10:39] lhoestq commented on #749
IMO we should have one config per language. That's what we're doing for xnli, xtreme etc.
Having split names that depend on the language seems wrong. We should try to avoid split names that are not train/val/test.
Sorry for late response on this one

[2020-11-18 14:40] jchwenger opened #866 "OSCAR from Inria group"
## Adding a Dataset
- **Name:** *OSCAR* (Open Super-large Crawled ALMAnaCH coRpus), multilingual parsing of Common Crawl (separate crawls for many different languages), [here](https://oscar-corpus.com/).
- **Description:** *OSCAR or Open Super-large Crawled ALMAnaCH coRpus is a huge multilingual corpus obtained by language classification and filtering of the Common Crawl corpus using the goclassy

[2020-11-18 14:43] lhoestq commented on #866
PR is already open here : #348
The only thing remaining is to compute the metadata of each subdataset (one per language + shuffled/unshuffled).
As soon as #863 is merged we can start computing them. This will take a bit of time though

[2020-11-18 15:01] jchwenger commented on #866
Grand, thanks for this!

[2020-11-18 15:01] #866 closed

[2020-11-19 13:22] rabeehk commented on #854
Hi, this is still down, I would be really grateful if you could ping them one more time. thank you so much.

[2020-11-19 13:35] rabeehk commented on #854
Hi
I am trying with multiple setting of wmt datasets and all failed so far, I need to have at least one dataset working for testing somecodes, and this is really time sensitive, I greatly appreciate letting me know of one translation datasets currently working. thanks

[2020-11-19 13:35] jorgtied commented on #854
It is still down, unfortunately. I'm sorry for that. It should come up again later today or tomorrow at the latest if no additional complications will happen.

[2020-11-19 16:35] yjernite commented on #749
@lhoestq agreed on having one config per language, but we also need to be able to have different split names and people are going to want to use hyphens, so we should at the very least warn them why it's failing :) E.g. for ANLI with different stages of data (currently using underscores) or https://www.tau-nlp.org/commonsenseqa with their train-sanity or dev-sanity splits